<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>

<script src="/js/Guriddo_jqGrid_JS_5.5.4-Trial/js/jquery-1.11.0.min.js"></script>    
<script src="/js/main.js?ver=1.0"></script>

<script>
  $(function() {
    console.log(">>> $(): begin");
    console.log(">>> $(): main.js 사용");
    main.log("main.log() 잘 동작합니다.");
    console.log(">>> $(): end");
  });
</script>
    
</head>

<body>
<form action="/test/toggleCheckBox" method="GET">
  이름: <input type="text" name="name" id="name"> <br />
  <input type="checkbox" name="isPub" id="isPub" value="N" onchange="main.onIsPubChanged(this);"/>비밀글 <br />
  <input type="submit" value="전송">
</form>
</body>

</html>