<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>

<script src="/js/Guriddo_jqGrid_JS_5.5.4-Trial/js/jquery-1.11.0.min.js"></script>    
<script src="/js/main.js?ver=1.02"></script>

<script>
$(function() {
  console.log(">>> $(): begin");
  console.log(">>> $(): main.js 사용");
  main.log("main.log() 잘 동작합니다.");
  console.log(">>> $(): end");
    
  main.ajaxCodeAccoToSelectBox("testAccoSelectBox");
  main.ajaxCodeRoomToSelectBox("testRoomSelectBox");
  main.ajaxCodeQnaToSelectBox("testQnaSelectBox");
});
  
  var onAjaxClicked = function() {
    console.log("onAjaxClicked()");
    
    var param = {
      pub:  $("#pub").val(),
      name: $("#name").val(),
      age:  $("#age").val(),  // parseInt($("#age").val().trim()),
      tel:  $("#tel").val()
    };
    console.log(param);
    main.ajaxPostJson("/test/ajaxToggleCheckBox", param, callbackAjaxResult);
  }
  
  var callbackAjaxResult = function(jsonStr) {
    console.log("callbackAjaxResult()");
    console.log(jsonStr);
  }
  
</script>
    
</head>

<body>

Test용 숙박시설 유형: <select name="testAccoSelectBox" id="testAccoSelectBox"></select> <br />
Test용 룸 유형:     <select name="testRoomSelectBox" id="testRoomSelectBox"></select> <br />
Test용 Q&A 유형:    <select name="testQnaSelectBox" id="testQnaSelectBox"></select> <br />

<form action="/test/toggleCheckBox" method="POST">
  이름: <input type="text"     name="name" id="name" value="yskim"> <br />
  나이: <input type="number"   name="age"  id="age"  value="999"> <br />
  전화: <input type="text"     name="tel"  id="tel"  value="010-1234-9999"> <br />
       <input type="checkbox" name="pub"  id="pub"  value="N" onchange="main.onIsPubChanged(this);"/>비밀글 <br />
       <input type="submit" value="전송"> 
       <input type="button" value="ajax전송" onclick="onAjaxClicked();">
</form>
</body>

</html>