<html>

<head lang="en">
<meta charset="UTF-8">

<!-- TOAST grid를 위한 CDN -->
<link rel="stylesheet" href="https://uicdn.toast.com/tui-grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>

<!-- TOAST pagenation 시 필요 -->
<!-- <link rel="stylesheet" href="https://uicdn.toast.com/tui-pagination/dist/tui-pagination.css" /> -->
<!-- <script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script> -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/main.js?ver=1.01"></script>
  
<script>
    
  // 기능: 문서의 모든 콘텐츠(images, script, css, etc)가 로드된 후 발생하는 이벤트
  window.onload = function() {  };
  
  // 기능: addEventListener를 사용하여 DOMContentLoaded 이벤트 발생시 showGrid() 실행.
  document.addEventListener("DOMContentLoaded", function() {
    // ...
  });
  
  // 기능: docuent.ready()
  $(function() {
    console.log(">>> $(): 1");
    qnaSearch();
  });

  // 기능: [Enter] 키 시 form 실행 방지
  var onQnaSearchKeyPressed = function() {
    if(event.keyCode == 13) {
      onSearchBtnClick();  
      event.preventDefault();
    } 
  };  
  
  // 기능: "검색" 버튼 클릭시 event 처리.
  var onQnaSearchClicked = function() {
    qnaSearch();
  }

  var gridQna = null;
  
  // 기능: QNA 검색 및 결과를 TOAST Grid에 출력하기
  var qnaSearch = function() {
    console.log("qnaSearch()");
    
    showTestGrid();
    
    var cateId = main.nvl($("#cateId option:selected").val(), "");
    
    if(cateId.substr(0, 1) == "=") {
      cateId = "";
    }
    
    var keyword = $("#keyword").val();
    var url = "/test/getData4Toast3?cateId=" + cateId + "&keyword=" + keyword;
     
    showQnaListOnGrid(url, "gridQNA");
  };
  
  // 기능: QNA 검색 및 결과를 Toast Grid에 출력하기
  var showQnaListOnGrid = function(url, componentName) {
    
    var kind = "QNA";
    var actionInsert = "INSERT";
    var actionDelete = "DELETE";
    
    var columns = [
      {header: "아이디",     name: "id",       width: 100,  height: 100                    },
      {header: "닉네임",     name: "nickname", width: 100                   },
      {header: "번호",      name: "no",       width: 100, align: "center"   },

      {header: "사진",      name: "img1", width: 100, align: "center", formatter: function() {
        return "<img src='/images/11_html_m4956639b.jpg' width=100>";
      }},
      
      {header: "카테고리ID.", name: "cateId",   width: 110                   },
    //{header: "카테고리",    name: "cate",     width: 0                     },
      {header: "공개여부",    name: "isPub",    width: 100, align: "center"  }, 
      {header: "제목",      name: "title",    width: 100                   },
      {header: "질문내용",    name: "q",        width: 300                   },
      {header: "답변내용",    name: "a",        width: 300                   },
    //{header: "작성자ID",   name: "cUser",    width: 20                    },
      {header: "aaUser",   name: "aaUser",   width: 20                    },
      {header: "cuser",    name: "cuser",    width: 20                    },
      {header: "작성일",     name: "mdate",    width: 20                    },
      
      {header: "수정",      name: "btnUpdate", width: 20, align: "center", formatter: function() {
        // this.index, this.item, this.list 에 모두 접근 가능
        // 단, this.index는 pageOptions: { perPage: ... },를 사용하는 경우 동작하지 않는다.
        
        return "<button class='AXButton' onclick='callbackButtonClicked(\"" 
        + kind + "\", \"" + actionInsert + "\", \"" 
        + this.index + "\");'>수정</button>"; 
      }},
      
      {header: "삭제",      name: "btnDelete", width: 20, align: "center", formatter: function() {
        return "<button class='AXButton' onclick='callbackButtonClicked(\"" 
        + kind + "\", \"" + actionDelete + "\", \"" 
        + this.index + "\");'>삭제</button>"; 
      }}
    ];

    // 이렇게 하지 않으면 기존 grid에 계속 추가된다. 왜???. 메노리 누수가 있는지 확인할 것(*****)
    $("#" + componentName).html("");
        
    // TOAST Grid 생성
    gridQna = main.showToastGrid(url, componentName, columns);

    // mousedown Event
    gridQna.on('mousedown', function(ev) {
       // 클릭된 위치의 Row 정보 읽기 & row의 "id", "title"갑 log에 출력 
       var rowInfo = gridQna.getRow(ev.rowKey); 
      console.log("id: " + rowInfo["id"] + ", title: " + rowInfo["title"]);
    });    
  };

  // 기능: callback function  
  callbackButtonClicked = function(kind, action, index) {
    console.log("kind: " + kind + ", action: " + action + ", index: " + index);
    console.log("id: " + gridQna.getValue(index, "id")); 
  };
  

  // --------------------------------
  var showTestGrid = function() {
    var url = "/test/getData4Toast2";
    
    // $("#gridTest").html("");

    var options = {
      el: document.getElementById('gridTest'),
      columns: [
        {
          header: "이름",
          name: "name"
        },
        {
          header: "나이",
          name: "value",
          editor: "text"
        }
      ],
      data: {
        contentType: "application/json",
        api: {
          readData: { 
            url: url, 
            method: "GET" 
          }
        }
      }
    };

    // GRID 를 생성한다.
    var grid = new tui.Grid(options);
  }
  
</script>
  
</head>
<body>
  <h1>공지사항</h1>
    <form id="frmNotiSearch">
      <select name="cateId" id="cateId"></select>
      <input type="text" id="keyword" name="keyword">
      <input type="button" id="btnSearch" value="검색" onclick="onQnaSearchClicked();" onkeypress="onQnaSearchKeyPressed(this);">
    </form><br />
	<div id="gridQNA"></div> <br />
    <div id="gridTest"></div> <br />
</body>
</html>
