<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- jQGrid 관련 js파일들 임포트 -->
<script src="/js/Guriddo_jqGrid_JS_5.5.4-Trial/js/jquery-1.11.0.min.js"></script> 
<script src="/js/Guriddo_jqGrid_JS_5.5.4-Trial/js/jquery.jqGrid.min.js"></script> 
<script src="/js/Guriddo_jqGrid_JS_5.5.4-Trial/js/i18n/grid.locale-kr.js"></script> 
<script src="/js/main.js?ver=1.10"></script>

<!-- jQGrid 관련 css파일들 임포트 -->
<link rel="stylesheet" href="/js/Guriddo_jqGrid_JS_5.5.4-Trial/css/ui.jqgrid-bootstrap-ui.css" />
<link rel="stylesheet" href="/js/Guriddo_jqGrid_JS_5.5.4-Trial/css/ui.jqgrid-bootstrap.css" />
<link rel="stylesheet" href="/js/Guriddo_jqGrid_JS_5.5.4-Trial/css/ui.jqgrid-bootstrap4.css" />
<link rel="stylesheet" href="/js/Guriddo_jqGrid_JS_5.5.4-Trial/css/ui.jqgrid.css" />

<!-- jQuery UI 관련 css파일들 임포트 -->
<link rel="stylesheet" href="/js/jquery-ui-1.12.1/jquery-ui.css" />
<link rel="stylesheet" href="/js/jquery-ui-1.12.1/jquery-ui.structure.css" />
<link rel="stylesheet" href="/js/jquery-ui-1.12.1/jquery-ui.theme.css" />

<script>
  $(function() {
    console.log(">>> $(): 1");
    
    var loc = "/qna/search";
    main.ajaxGetJson(loc, showResult);
    main.showGridDatas(loc, "GET", colNames, colModel, 1900, 800, 5);
  });
  
  var showResult = function(jsonData) {
    console.log(">>> showResult(): 1");
    $("#ajaxResult").html("<h1>" + jsonData + "</h1>");
    
    var result = '';
    result +='<table border="1">'
    result += "<tr>" 
           + "<th>Nickname</th>" 
           + "<th>번호</th>" 
           + "<th>공개여부</th>"
           + "<th>제목</th>"
           + "<th>질문</th>"
           + "<th>답변</th>"
           + "<th>작성자</th>"
           + "</tr>";
    
    $.each(jsonData, function(index, item) {
        result += "<tr>"
               + "<td>" + item["nickname"] +"</td>"
               + "<td>" + item["no"] +"</td>"
               + "<td>" + item["cateId"] +"</td>"
               + "<td>" + item["isPub"] +"</td>"
               + "<td>" + item["title"] +"</td>"
               + "<td>" + item["q"] +"</td>"
               + "<td>" + item["a"] +"</td>"
               + "<td>" + item["cuser"] +"</td>"
               + "</tr>";
    })
    result += "</table>";
    $("#ajaxResult2").html("<h1>" + result + "</h1>");
    
    /*
    var list = $.parseJSON(jsonData);  // VM23:1 Uncaught SyntaxError: Unexpected token o in JSON at position 1
    var len = list.length;
    var str;
    
    for(var i = 0; i < len; i++) {
      str1 = i + ": nickname: " + list[i].nickname 
           + ", no: " + list[i].no
           + ", cateId: " + list[i].cateId
           + ", isPub: " + list[i].isPub
           + ", title: " + list[i].title
           + ", q: " + list[i].q
           + ", a: " + list[i].a
           + ", cUser: " + list[i].cuser
           + "<br />";
      str += str1;
      console.log(str);
    }
    
    $("#ajaxResult").html(str);
    */           
  };
  

var colNames = ["닉네임", "글번호", "카테고리ID", "공개여부", "제목", "질문", "작성자"];
//var colNames = ["ID", "글번호", "카테고리ID", "카테고리", "제목", "질문", "답변", "닉네임", "공개여부", "등록일"];

var colModel = [  // 그리드 행 데이터 정의(colNames의 갯수 = colModel 갯수) 
   //   {name: "id",       index: "id",       width: 5,  resizable: false, align: "center", hidden: true},
        {name: "nickname", index: "nickname", width: 5,  resizable: false, align: "center", hidden: true}, 
        {name: "no",       index: "no",       width: 5,   resizable: false, align: "right",  hidden: false}, 
        {name: "cateId",   index: "cateId",   width: 10,  resizable: true,  align: "left",   hidden: true}, 
   //   {name: "cate",     index: "cate",     width: 10,  resizable: true,  align: "left",   hidden: false},
        {name: "isPub",    index: "isPub",    width: 5,   resizable: false, align: "center", hidden: true}, 
        {name: "title",    index: "title",    width: 20,  resizable: true,  align: "left",   hidden: false},
        {name: "q",        index: "q",        width: 50,  resizable: true,  align: "left",   hidden: false},
   //   {name: "a",        index: "a",        width: 50,  resizable: true,  align: "left",   hidden: false},
   //   {name: "cDate",    index: "cDate",    width: 10,  resizable: false, align: "center", hidden: true},
        {name: "cUser",    index: "cUser",    width: 10,  resizable: false, align: "center", hidden: true}
      ]; 
 
var data1 = [
    {"nickname":"yskim","no":"7","cateId":null,"isPub":null,"title":"title","q":"question","a":null,"cuser":null},
    {"nickname":"yskim","no":"7","cateId":null,"isPub":null,"title":"title","q":"question","a":null,"cuser":null},
    {"nickname":"yskim","no":"1","cateId":null,"isPub":null,"title":"title","q":"question","a":null,"cuser":null},
    {"nickname":"yskim","no":"1","cateId":null,"isPub":null,"title":"title","q":"question","a":null,"cuser":null},
    {"nickname":"yskim","no":"1","cateId":null,"isPub":null,"title":"title","q":"question","a":null,"cuser":null},
    {"nickname":"yskim","no":"1","cateId":null,"isPub":null,"title":"title","q":"question","a":null,"cuser":null},
    {"nickname":"yskim","no":"1","cateId":null,"isPub":null,"title":"title","q":"question","a":null,"cuser":null},
    {"nickname":"yskim","no":"1","cateId":null,"isPub":null,"title":"title","q":"question","a":null,"cuser":null},
    {"nickname":"yskim","no":"6","cateId":null,"isPub":null,"title":"title","q":"question","a":null,"cuser":null}
];

     
</script>

</head>
<body>
  <h3>ajax에서 받아온 결과</h3>
  <div id="ajaxResult"></div>
  <hr>
  <h3>ajax에서 받아온 결과 테이블로 출력</h3>
  <div id="ajaxResult2"></div>
  <hr>
  
  
  <h1>Q & A 목록</h1>
  
  <table id="gridData"></table>
  <div id="gridPager"></div>
  
</body>
</html>