<html>

<head lang="en">
<meta charset="UTF-8">

<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/main.js?ver=1.00"></script>

<!-- TOAST grid를 위한 CDN -->
<link rel="stylesheet" href="/css/tui-grid.css" />
<script src="/js/tui-grid.js"></script>

<!-- TOAST pagenation 시 필요 -->
<link rel="stylesheet" href="/css/tui-pagination.css" />
<script type="text/javascript" src="/js/tui-pagination.js"></script>

<!-- TOAST Canendar를 위한 CDN -->
<!-- <script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>  -->
<!-- <script src="https://uicdn.toast.com/tui.dom/v3.0.0/tui-dom.js"></script> -->
<!-- <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script> -->
<!-- <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script> -->
<!-- <script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script> -->


<script th:inline="javascript">
  // javascript에서 thymeleaf 값 대입하기 [[ ]]
  var id = [[ ${session.id} ]];
</script>


<script>
  
  // 기능: 문서의 모든 콘텐츠(images, script, css, etc)가 로드된 후 발생하는 이벤트
  window.onload = function() {  };
  
  // 기능: addEventListener를 사용하여 DOMContentLoaded 이벤트 발생시 showGrid() 실행.
  document.addEventListener("DOMContentLoaded", function() {
    // ...
  });
  
  // 기능: docuent.ready()
  $(function() {
    console.log(">>> $(): 1");
    
    console.log("id: " + id);
    
    // 공통코드 "Q&A 유형" 불러오기
    main.ajaxCodeQnaToSelectBox("cateId");
    
    // Grid 초기화
    var gridTest = initTestGrid("/test/getData4Toast2", "gridTest");
    
    // QNA 검색
    qnaSearch();
    
    /*
    // TOAST calendar 작성. Canendar()가 없음
    var calendar = new Calendar('#calendar', {
      defaultView: 'week',
      useCreationPopup: true,
      useDetailPopup: true
    });

    calendar.render();
    */    
  });

  // 기능: [Enter] 키 시 form 실행 방지
  var onQnaSearchKeyPressed = function() {
    if(event.keyCode == 13) {
      onSearchBtnClick();  
      event.preventDefault();
    } 
  };  
  
  // 기능: "검색" 버튼 클릭시 event 처리.
  var onQnaSearchClicked = function() {
    qnaSearch();
  }

  var gridQna = null;
  
  // 기능: QNA 검색 및 결과를 TOAST Grid에 출력하기
  var qnaSearch = function() {
    console.log("qnaSearch()");
    
    var page = $("#page").val();
    var perPage = $("#perPage").val();

    // 테스트 그리드 그리기
    showTestGrid(page, rowsPerPage);
    
    var cateId = main.nvl($("#cateId option:selected").val(), "");
    
    if(cateId.substr(0, 1) == "=") {
      cateId = "";
    }
    
    var keyword = $("#keyword").val();
    var url = "/test/getData4Toast3?cateId=" + cateId + "&keyword=" + keyword;
     
    showQnaListOnGrid(url, "gridQNA");//, 1024, 768);
  };
  
  // 기능: QNA 검색 및 결과를 Toast Grid에 출력하기
  var showQnaListOnGrid = function(url, componentName) {
    
    var kind = "QNA";
    var actionInsert = "INSERT";
    var actionDelete = "DELETE";
    
    var columns = [
      {header: "아이디",     name: "id",       width: 100,  height: 100                    },
      {header: "닉네임",     name: "nickname", width: 100                   },
      {header: "번호",      name: "no",       width: 100, align: "center"   },

      {header: "사진",      name: "img1", width: 100, align: "center", formatter: function() {
        return "<img src='/images/11_html_m4956639b.jpg' width=100>";
      }},
      
      {header: "카테고리ID.", name: "cateId",   width: 110                   },
    //{header: "카테고리",    name: "cate",     width: 0                     },
      {header: "공개여부",    name: "isPub",    width: 100, align: "center"  }, 
      {header: "제목",      name: "title",    width: 100                   },
      {header: "질문내용",    name: "q",        width: 300                   },
      {header: "답변내용",    name: "a",        width: 300                   },
    //{header: "작성자ID",   name: "cUser",    width: 20                    },
      {header: "aaUser",   name: "aaUser",   width: 20                    },
      {header: "cuser",    name: "cuser",    width: 20                    },
      {header: "작성일",     name: "mdate",    width: 20                    },
      
      {header: "수정",      name: "btnUpdate", width: 20, align: "center", formatter: function() {
        // this.index, this.item, this.list 에 모두 접근 가능
        // 단, this.index는 pageOptions: { perPage: ... },를 사용하는 경우 동작하지 않는다.
        
        return "<button class='AXButton' onclick='callbackButtonClicked(\"" 
        + kind + "\", \"" + actionInsert + "\", \"" 
        + this.index + "\");'>수정</button>"; 
      }},
      
      {header: "삭제",      name: "btnDelete", width: 20, align: "center", formatter: function() {
        return "<button class='AXButton' onclick='callbackButtonClicked(\"" 
        + kind + "\", \"" + actionDelete + "\", \"" 
        + this.index + "\");'>삭제</button>"; 
      }}
    ];

    // Grid 초기화
    main.clearGrid(componentName, gridQna);
    
    // TOAST Grid 생성
    gridQna = main.showToastGrid(url, componentName, columns);

    // mousedown Event
    gridQna.on('mousedown', function(ev) {
       // 클릭된 위치의 Row 정보 읽기 & row의 "id", "title"갑 log에 출력 
       var rowInfo = gridQna.getRow(ev.rowKey); 
      console.log("id: " + rowInfo["id"] + ", title: " + rowInfo["title"]);
    });    
  };

  // 기능: callback function  
  callbackButtonClicked = function(kind, action, index) {
    console.log("kind: " + kind + ", action: " + action + ", index: " + index);
    console.log("id: " + gridQna.getValue(index, "id")); 
  };
  

  // --------------------------------
  // 테스트 Grid을 생성한다.
  var initTestGrid = function(url, componentName, page, perPage) {
    console.log(url);
     
    var columns = [
        {
          header: "이름",
          name: "name"
        },
        {
          header: "나이",
          name: "value",
          editor: "text"
        }
    ];
    var datasource = {
        contentType: "application/json",
        api: {
          readData: { 
            url: url, 
            method: "GET" 
          }
        }
    };
    var pageOptions = {
      page:    main.nvl(page, "1"),
      perPage: main.nvl(perPage, "5"),
    };

    var options = {
      el:          document.getElementById(componentName),
      columns:     columns,
      data:        datasource,
      pageOptions: pageOptions, 
      pagination:  true,
    };

    // Grid 초기화
    // main.clearGrid("#" + componentName, gridTest);

    // GRID 를 생성한다.
    return new tui.Grid(options);
  }
  
  var showTestGrid = function(page, perPage) {
  // "/test/getData4Toast2?page=" + page + "&perPage=" + perPage, "gridTest"
  }
  
</script>
  
</head>
<body>
  id: [[${session.id}]]<br />
  id: [[${session["id"]}]]<br />
  <h1>공지사항</h1>
    <form id="frmNotiSearch">
      <select name="cateId" id="cateId"></select>
      <input  type="text"   id="keyword"   name="keyword">
      <input  type="number" id="page"      name="page"    value="1">
      <input  type="number" id="perPage"   name="perPage" value="5">
      <input  type="button" id="btnSearch" value="검색" onclick="onQnaSearchClicked();" onkeypress="onQnaSearchKeyPressed(this);">
    </form><br />
	<div id="gridQNA"></div> <br />
    <div id="gridTest"></div> <br />
    <div id="calendar" style="height: 800px;"></div><br />

</body>
</html>
