<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.team3.prj.dao.FaqDAO">

	<!-- 전체출력 sql문 -->
	<select id="selectAll" resultType="com.team3.prj.vo.FaqVO">
		SELECT f.*,
		(SELECT name FROM code c WHERE f.cate_id = c.class3 AND c.class1 = 'QNA' AND c.class2 = 'TYPE_OF_QNA') as cate
		FROM faq f
		ORDER BY f.id
	</select>

	<!-- 단일출력 sql문 -->
	<select id="selectOne" resultType="com.team3.prj.vo.FaqVO">
		SELECT f.*,
		(SELECT name FROM code c WHERE f.cate_id = c.class3 AND c.class1 = 'QNA' AND c.class2 = 'TYPE_OF_QNA') as cate
		FROM faq f
		WHERE id = #{id}
		ORDER BY f.id
	</select>

	<!-- 검색기능 -->
	<select id ="search" resultType="com.team3.prj.vo.FaqVO">
		SELECT f.*,
		(SELECT name FROM code c WHERE f.cate_id = c.class3 AND c.class1 = 'QNA' AND c.class2 = 'TYPE_OF_QNA') as cate
		FROM faq f
		<where>
		
		<if test = 'cate_id != null and !"".equals(cate_id)'>
			AND cate_id = #{cate_id}		
		</if>
		
		<if test = 'keyWord != null and !"".equals(keyWord)'>
		
			AND (
				title LIKE '%'||#{keyWord}||'%'
			OR  content LIKE '%'||#{keyWord}||'%'
			)
		
		</if>
		
		</where>
		ORDER BY f.id
	</select>
	<!-- Faq 등록  -->
	<insert id="insert">
		<selectKey keyProperty="id" resultType="Long" order="BEFORE">
			SELECT
			seq_faq.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO faq
		(
		id, no, cate_id, title, content, c_user
		)
		VALUES
		(
		#{id},
		(SELECT NVL(MAX(no),0) + 1 FROM faq),
		#{cate_id}, #{title}, #{content}, #{c_user}
		)
	</insert>

	<!-- faq 수정 sql -->
	<update id="update">
		UPDATE faq
		SET title = #{title}, content = #{content}
		WHERE id = #{id}
	</update>

	<!-- faq 삭제 sql -->
	<delete id="delete">
		DELETE faq
		WHERE id = #{id}
	</delete>

</mapper>
