<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 

<mapper namespace="com.team3.prj.dao.PaymentDAO"> 

<!--   <select id="selectAllPayment" resultType="com.team3.prj.vo.PaymentVO">
      SELECT Rsrv_stay,Rsrv_room,Rsrv_info
      		 price,Rsrv_name 
      FROM   rsrv
  </select>
   -->
  <insert id = "dbinsert">
  	<selectKey keyProperty="id" resultType="Long" order="BEFORE">
  
  	SELECT seq_pay.NEXTVAL FROM DUAL
  	</selectKey>
  	INSERT INTO pay
		(
		id,title,room_name,date_used,pirce,
		C_USER,M_USER,C_DATE,M_DATE
		)
		VALUES
		(
		#{id}, <!-- 시퀀스 ID값이 들어감. -->
		#{name},
		#{amount},
		#{buyer_email},
		#{buyer_name},
		(SELECT NVL(MAX(no),0) + 1 FROM pay), <!-- #{no}, -->
		#{},  #{}
		)
  </insert>
  
</mapper>
