<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.team3.prj.dao.QnaDAO">
	<select id="qnaSelectAll" resultType="com.team3.prj.vo.QnaVO">
		SELECT nickname, no, cate_id, is_pub, title, q, a
		FROM qna
	</select>

	<insert id="qnaInsert"> <!-- </insert> resultType="java.lang.String"> -->
		INSERT INTO qna
		(
               id,
		       nickname, no, cate_id,
		       is_pub, title, q, c_user
        )
		VALUES 
        (
               seq_qna.nextval, <!-- 시퀀스값 받아옴 seq_qna -->
		       #{nickname}, #{no}, #{cateId},
		       #{isPub}, #{title}, #{q}, #{cUser}
        )
    
        <selectKey keyProperty="id" resultType="Long" order="AFTER"> 
          SELECT seq_qna.CURRVAL FROM DUAL 
        </selectKey> 
	</insert>
	
	<update id="qUpdate">
		UPDATE qna
		SET title=#{title}, q=#{q}, cate_id=#{cateId}, is_pub=#{isPub}
		WHERE id=#{id}
	</update>

	<delete id="qnaDelete">
		DELETE qna
		where id=#{id}	
	</delete>
</mapper>