<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.team3.prj.dao.QnaDAO">
	<!-- 전체 출력 sql문 -->
	<select id="selectAll" resultType="com.team3.prj.vo.QnaVO">
		SELECT q.*,
		(SELECT name FROM code c WHERE q.cate_id = c.class3 AND c.class1 = 'QNA' AND c.class2 = 'TYPE_OF_QNA') as cate,
		nvl2(q.a,'답변완료','대기중') as aox
		FROM qna q
		ORDER BY q.id
	</select>

	<!-- 1개 출력 sql 문 -->
	<select id="selectOne" resultType="com.team3.prj.vo.QnaVO">
		SELECT q.*,
		(SELECT name FROM code c WHERE q.cate_id = c.class3 AND c.class1 = 'QNA' AND c.class2 = 'TYPE_OF_QNA') as cate
		FROM qna q
		WHERE q.id = #{id}
		ORDER BY q.id
	</select>

	<!-- 검색기능 sql문 // 통합 검색으로 -->
	<select id="search" resultType="com.team3.prj.vo.QnaVO">
		SELECT q.*,
		(SELECT name FROM code c WHERE q.cate_id = c.class3 AND c.class1 = 'QNA' AND c.class2 = 'TYPE_OF_QNA') as cate,
		nvl2(q.a,'답변완료','대기중') as aox
		FROM qna q
		<where>
		
			<if test='cate_id!= null and !"".equals(cate_id)'>
				AND q.cate_id = #{cate_id} 
			</if>
			<if test='keyword!= null and !"".equals(keyword)'>

				AND
				(q.title LIKE '%'||#{keyword}||'%'
				OR q.nickname LIKE '%'||#{keyword}||'%'
				OR q.q LIKE '%'||#{keyword}||'%'
				OR q.a LIKE '%'||#{keyword}||'%'
				)

			</if>
		</where>
		ORDER BY q.id
	</select>

	<!-- 게시글 등록 sql문 -->
	<insert id="insert">
		<selectKey keyProperty="id" resultType="Long" order="BEFORE">
			<!-- order="BEFORE" - 아래 insert문 실행전 실행 -->
			SELECT seq_qna.NEXTVAL FROM DUAL
		</selectKey>

		INSERT INTO qna
		(
		id,
		nickname, no, cate_id,
		is_pub, title, q, c_user
		)
		VALUES
		(
		#{id}, <!-- 시퀀스 ID값이 들어감. -->
		#{nickname},
		(SELECT NVL(MAX(no),0) + 1 FROM qna), <!-- #{no}, -->
		#{cate_id},
		#{is_pub}, #{title}, #{q}, #{c_user}
		)
	</insert>

	<!-- 등록된 게시글 수정 sql문 -->
	<update id="updateQ">
		UPDATE qna
		SET title=#{title}, q=#{q},
		cate_id=#{cate_id}, is_pub=#{is_pub}
		WHERE id=#{id}
	</update>

	<!-- 답변달기 sql문 -->
	<update id="updateA">
		UPDATE qna
		SET a=#{a}
		WHERE id=#{id}
	</update>


	<!-- 게시글 삭제 sql문 -->
	<delete id="delete">
		DELETE qna
		where id=#{id}
	</delete>

</mapper>