<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.team3.prj.dao.RoomMstDAO">

	<select id="roomMstSelectAll" resultType="com.team3.prj.vo.RoomMstVO">
		SELECT id, region, title, zip_code, addr, tel, info,
			 pic1_org, pic1_uuid, pic2_org, pic2_uuid, pic3_org, pic3_uuid 
		FROM room_mst
	</select>

	<insert id="roomMstInsert"> <!-- </insert> resultType="java.lang.String"> -->
		INSERT INTO room_mst
		(	
				id,
               title, zip_code, addr, tel, info,
               pic1_org, pic1_uuid, pic2_org, pic2_uuid, pic3_org, pic3_uuid,
               c_user
        )
		VALUES 
        (
        		seq_qna.nextval, <!-- 시퀀스값 받아옴 seq_qna -->
               #{title}, #{zipCode}, #{addr}, #{tel}, #{info},
               #{pic1Org}, #{pic1Uuid}, 
               #{pic2Org}, #{pic2Uuid},
               #{pic3Org}, #{pic3Uuid},
               #{cUser}
        )
        
         <selectKey keyProperty="id" resultType="Long" order="AFTER"> 
          SELECT seq_qna.CURRVAL FROM DUAL 
        </selectKey> 
	</insert>
	
	<update id="roomMstUpdate">
		UPDATE room_mst
		SET title = #{title},
			zip_code = #{zipCode},
			addr = #{addr},
			tel = #{tel},
			info = #{info},
			pic1_org = #{pic1Org},
			pic1_uuid = #{pic1Uuid},
			pic2_org = #{pic1Org},
			pic2_uuid = #{pic1Uuid},
			pic3_org = #{pic1Org},
			pic3_uuid = #{pic1Uuid}
		WHERE id=#{id}
	</update>
	
	<delete id="roomMstDelete">
		DELETE room_mst
		where id=#{id}
	</delete>
	
	
</mapper>