<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.team3.prj.dao.StayListDAO">
  <select id="StayListAll" resultType="com.team3.prj.vo.StayListVO">
  </select>

  <select id ="search" resultType="com.team3.prj.vo.StayListSearchResultVO">
  
    SELECT m.*, d.*, c.name as type_of_acco_name
    FROM ( SELECT id, region, title, addr, pic1_uuid, type_of_acco   
           FROM   room_mst
            <where>
              <if test='(isHotel != null and !"".equals(isHotel)) 
                or (isMotel != null and !"".equals(isMotel)) 
                or (isPension != null and !"".equals(isPension)) 
                or (isGlamping != null and !"".equals(isGlamping)) 
                or (isGuestHouse != null and !"".equals(isGuestHouse)) 
                or (isResort != null and !"".equals(isResort))'>
                (1 = 1
              </if>
              
              <if test='isHotel != null and !"".equals(isHotel)'>
                OR type_of_acco = #{isHotel} <!-- 공통코드 class3 참조 -->
              </if> 
              <if test='isMotel != null and !"".equals(isMotel)'>
                OR type_of_acco = #{isMotel} <!-- 공통코드 class3 참조 -->
              </if> 
              <if test='isPension != null and !"".equals(isPension)'>
                OR type_of_acco = #{isPension} <!-- 공통코드 class3 참조 -->
              </if> 
              <if test='isGlamping != null and !"".equals(isGlamping)'>
                OR type_of_acco = #{isGlamping} <!-- 공통코드 class3 참조 -->
              </if> 
              <if test='isGuestHouse != null and !"".equals(isGuestHouse)'>
                OR type_of_acco = #{isGuestHouse} <!-- 공통코드 class3 참조 -->
              </if>
              <if test='isResort != null and !"".equals(isResort)'>
                OR type_of_acco = #{isResort} <!-- 공통코드 class3 참조 -->
              </if>
            
              <if test='(isHotel != null and !"".equals(isHotel)) 
                or (isMotel != null and !"".equals(isMotel)) 
                or (isPension != null and !"".equals(isPension)) 
                or (isGlamping != null and !"".equals(isGlamping)) 
                or (isGuestHouse != null and !"".equals(isGuestHouse)) 
                or (isResort != null and !"".equals(isResort))'>              
                )
              </if>
            
              <if test='keyword != null and !"".equals(keyword)'>
                AND (region LIKE '%'|| #{keyword} ||'%'
                  OR title  LIKE '%'|| #{keyword} ||'%'
                  OR addr   LIKE '%'|| #{keyword} ||'%'
                )
              </if> 
            </where>
    ) m
    INNER JOIN code c
    ON    c.class1 = 'ROOM' 
    AND   c.class2 = 'TYPE_OF_ACCO'
    AND   c.class3 = m.type_of_acco
    INNER JOIN (
      SELECT id, mst_id, weekday_price, weekend_price, 
             CASE num_of_revu WHEN 0 THEN 0
                              ELSE sum_of_stars / num_of_revu END as star
      FROM   room_dtl
      WHERE (weekday_price BETWEEN #{minPrice} AND #{maxPrice}
      OR     weekend_price BETWEEN #{minPrice} AND #{maxPrice})
      AND    num_of_guests = #{numOfGuests}
      ) d
    ON    m.id = d.mst_id
    
    <choose>
    <when test='checkIn != null and !"".equals(checkIn) and checkOut != null and !"".equals(checkOut)'>
      <![CDATA[
      INNER JOIN rsrv r
      ON    (
              (#{checkIn} < check_in  AND #{checkOut} < check_in)  
          OR  (#{checkIn} > check_out AND #{checkOut} > check_out)
      )  
      AND   r.room_dtl_id = d.id
      ]]>
    </when>
    <when test='checkIn != null and !"".equals(checkIn)'>
      <![CDATA[
      INNER JOIN rsrv r
      ON    #{checkIn} < check_in AND #{checkIn} > check_out
      AND   r.room_dtl_id = d.id
      ]]>
    </when>
    <when test='checkOut != null and !"".equals(checkOut)'>
      <![CDATA[
      INNER JOIN rsrv r
      ON    #{checkOut} < check_in AND #{checkOut} > check_out
      AND   r.room_dtl_id = d.id
      ]]>
    </when>
    </choose>
    
    ORDER BY 
    <if test='sortMethod != null and !"".equals(sortMethod)'>
      <choose>
      <when test='sortMethod eq "star"'> star, num_of_revu, weekday_price, weekend_price</when>
      <when test='sortMethod eq "revu"'> num_of_revu, star, weekday_price, weekend_price</when>
      <when test='sortMethod eq "price"'> weekday_price, weekend_price, num_of_revu, star</when>
      <otherwise> weekday_price, weekend_price, star</otherwise>
      </choose>
    </if>
    <if test='sortMethod == null or "".equals(sortMethod)'>
      weekday_price, weekend_price, star
    </if>
  </select>
</mapper>