<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.team3.prj.dao.StayListDAO">
	<select id="StayListAll" resultType="com.team3.prj.vo.StayListVO">
	SELECT m.region, m.title, m.addr,
		   d.weekday_price, d.weekend_price
	FROM(
		SELECT 
		FROM room_mst
		<where>
		(<if test='isHotel != null and !"".equals(isHotel)'>
		OR type_of_acco = #{isHotel} <!-- 공통코드 class3 참조 -->
        </if> 
		<if test='isMotel != null and !"".equals(isMotel)'>
		OR type_of_acco = #{isMotel} <!-- 공통코드 class3 참조 -->
        </if> 
		<if test='isPension != null and !"".equals(isPension)'>
		OR type_of_acco = #{isPension} <!-- 공통코드 class3 참조 -->
        </if> 
		<if test='isGlamping != null and !"".equals(isGlamping)'>
		OR type_of_acco = #{isGlamping} <!-- 공통코드 class3 참조 -->
        </if> 
		<if test='isGuestHouse != null and !"".equals(isGuestHouse)'>
		OR type_of_acco = #{isGuestHouse} <!-- 공통코드 class3 참조 -->
        </if> 
		<if test='isResort != null and !"".equals(isResort)'>
		OR type_of_acco = #{isResort} <!-- 공통코드 class3 참조 -->
        </if>)
      
        <if test='keyword!= null and !"".equals(keyword)'>
		AND( region LIKE '%'|| #{keyword} ||'%'
		OR title LIKE '%'|| #{keyword} ||'%'
		OR addr LIKE '%'|| #{keyword} ||'%'
		)
        </if> 
       
        </where>
	)
	INNER  JOIN room_dtl d
	ON     m.id     = d.mst_id
	
<!--  	AND    m.yyyyyy = d.yyyyyy -->
<!--     AND    m.xxxx   = d.xxxx -->

	</select>
	<select id ="search" resultType="com.team3.prj.vo.StayListSearchVO">
	SELECT
	FROM (SELECT * FROM room_mst WHERE...)romm_mst m
	INNER JOIN(
		SELECT * 
		FROM room_dtl
		WHERE (weekday_price between #{minweekdayPrice} and #{maxweekdayPrice}
		OR     weekend_price between #{minweekendPrice} and #{maxweekendPrice})
		AND    num_of_guests = #{numofguests}
		) room_dtl d
	ON M.ID = D.MST_ID
	
	
	
	
	<!-- <if test='class1 != null and !"".equals(class1)'>
         AND class1 = #{class1}
         </if> 
    -->
	<!-- (@인원수 = '' OR B.NUM_OF_GUESTS = @인원수)
	AND ((@최저가격 = '' OR (B.WEEKDAY_PRICE <![CDATA[ > ]]> @최저가격 AND B.WEEKDAY_PRICE <![CDATA[ > ]]> @최저가격)
	AND ((@최고가격 = '' OR (B.WEEKEND_PRICE <![CDATA[ < ]]> @최고가격 AND B.WEEKEND_PRICE <![CDATA[ < ]]> @최고가격)  -->
</select>
</mapper>