<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.team3.prj.dao.StayListDAO">
  <select id ="search" resultType="com.team3.prj.vo.StayListSearchResultVO">
    SELECT * FROM ( 
  
    SELECT m.*, d.*, c.name as type_of_acco_name , rownum as num 
    FROM ( SELECT id, region, title, addr, pic1_uuid, type_of_acco   
           FROM   room_mst
           <where>
             <if test='typeOfAcco != null and (
                   (typeOfAcco[0] != null and !"".equals(typeOfAcco[0])) 
                or (typeOfAcco[1] != null and !"".equals(typeOfAcco[1]))
                or (typeOfAcco[2] != null and !"".equals(typeOfAcco[2])) 
                or (typeOfAcco[3] != null and !"".equals(typeOfAcco[3])) 
                or (typeOfAcco[4] != null and !"".equals(typeOfAcco[4])) 
                or (typeOfAcco[5] != null and !"".equals(typeOfAcco[5])) )'>
                <foreach collection="typeOfAcco" item="item" open="AND type_of_acco IN (" close=")" separator=", ">
                  #{item} 
                </foreach>
             </if> 
             <if test='keyword != null and !"".equals(keyword)'>
               AND (region LIKE '%'|| #{keyword} ||'%'
                 OR title  LIKE '%'|| #{keyword} ||'%'
                 OR addr   LIKE '%'|| #{keyword} ||'%'
               )
             </if>
           </where>
    ) m
    INNER JOIN code c
    ON    c.class1 = 'ROOM' 
    AND   c.class2 = 'TYPE_OF_ACCO'
    AND   c.class3 = m.type_of_acco
    INNER JOIN (
      SELECT id as dtl_id, mst_id, weekday_price, weekend_price, 
             CASE num_of_revu WHEN 0 THEN 0
                              ELSE sum_of_stars / num_of_revu END as star
      FROM   room_dtl
      <where>
        <choose>
          <when test='minPrice gte 1 and maxPrice gte 1'>
            AND (weekday_price BETWEEN #{minPrice} AND #{maxPrice}
            OR   weekend_price BETWEEN #{minPrice} AND #{maxPrice})
          </when>
          <when test='minPrice gte 1'>
            AND (weekday_price gte #{minPrice}
            OR   weekend_price gte #{minPrice})
          </when>
          <when test='minPrice gte 1'>
            AND (weekday_price lte #{minPrice}
            OR   weekend_price lte #{minPrice})
          </when>
        </choose>
        <if test='numOfGuests gte 1'>
          AND num_of_guests = #{numOfGuests}
        </if>
      </where>
      ) d
    ON    m.id = d.mst_id
    
    <choose>
      <when test='checkIn != null and !"".equals(checkIn) and checkOut != null and !"".equals(checkOut)'>
        <![CDATA[
        INNER JOIN rsrv r
        ON    (
                (#{checkIn} < check_in  AND #{checkOut} < check_in)  
            OR  (#{checkIn} > check_out AND #{checkOut} > check_out)
        )  
        AND   r.room_dtl_id = d.id
        ]]>
      </when>
      <when test='checkIn != null and !"".equals(checkIn)'>
        <![CDATA[
        INNER JOIN rsrv r
        ON    #{checkIn} < check_in AND #{checkIn} > check_out
        AND   r.room_dtl_id = d.id
        ]]>
      </when>
      <when test='checkOut != null and !"".equals(checkOut)'>
        <![CDATA[
        INNER JOIN rsrv r
        ON    #{checkOut} < check_in AND #{checkOut} > check_out
        AND   r.room_dtl_id = d.id
        ]]>
      </when>
    </choose>
    
    ORDER BY 
    <if test='sortMethod != null and !"".equals(sortMethod)'>
      <choose>
      <when test='sortMethod eq "star"'> star, num_of_revu, weekday_price, weekend_price</when>
      <when test='sortMethod eq "revu"'> num_of_revu, star, weekday_price, weekend_price</when>
      <when test='sortMethod eq "price"'> weekday_price, weekend_price, num_of_revu, star</when>
      <otherwise> weekday_price, weekend_price, star</otherwise>
      </choose>
    </if>
    <if test='sortMethod == null or "".equals(sortMethod)'>
      weekday_price, weekend_price, star
    </if>
    )
    WHERE num BETWEEN (#{page}-1) * #{perPage}+1 AND #{page}*#{perPage}
  </select>
</mapper>