@charset "UTF-8";

input:focus{
outline:none;
}

input[type=text]#QnASrch{
border:2px solid #785aef;
}

input[type=text]{
border:none;}

hr {
	opacity:0.5;
}

#wrap {
	width: 900px;
	margin: 0 auto;
	color:#785aef;
}



section {
	width: 700px;
	text-align:left;
	margin: 0 auto;
	font-weight:bolder;
	font-size:1.2em;
	color:#785aef;
}

section h1 {
	text-align: center;
	color:#785aef;
}

#cate_id {
	color:#785aef;
	padding:3px;
}

table {
	table-layout: fixed;
	color:#785aef;
	width: 700px;
	width: 100%;
	border-collapse: collapse;
	font-size:1.0em;
	
}


th td {
	white-space: nowrap;
	border: 1px solid #444444;
	padding: 10px;
}

/*/////////////////////////////////////////////////// */


#QnASrchFrm {
	color:#785aef;
	text-align: center;
	margin: 0 auto;
}

#QnASrchFrm label{
	font-size:1.0em;
	display:inline-block;
	line-height:5px;
}


#QnASrchFrm input{
	border:2px solid #9881f3;
	color:#785aef;
	background-color:white;
	text-align: center;
	
}

#QnASrchFrm input[type=text]{
	width:330px;
	padding:5px;
	font-size:0.7em;
	vertical-align :middle;
}


/* //////////////////////// */

#faq_cateth{
	width: 24%;
	text-align: left;
	padding-left:20px;
}
#titleth{
	width:300px;
	width: 24%;
	text-align: center;
}
#answerth{
	width:150px;
	width: 24%;
	text-align: center;
}

#deleteBtnth{
	width: 24%;
	width:150px;
	text-align: right;
	margin-right:10px;
	padding-right:20px;
}

#faq_cate{
	width: 24%;
	text-align: left;
	padding-left:20px;
	width: 200px;
}

#title {
	width: 24%;
	text-align: center;
	width:200px;
	width: 200px;
}

#answer {
	width:150px;
	width: 24%;
	text-align: center;
	margin-left:65px;
}

#deleteBtn {
	width:150px;
	width: 24%;
	text-align: center;
	margin-left:65px;
}

/*/////////////////////////  */

#QnASrchBtn {
	width: 100px;
	height: 30px;
	font-size:0.8em;
	border:2px solid #9881f3;
	color:#785aef;
	background-color:white;
	text-align: center;
	font-weight:bolder;
}

#QnASrchBtn {
	margin-right:10px;
}
#QnASrchBtn{
	margin-left:20px;
}

#QnASrchBtn:hover{
	cursor:pointer;
	color: white;
	font-weight:bolder;
	border:2px solid #9881f3;
    font-size:0.8em;
	background-color:#9881f3;	
}

#QnASrchFrm span {
	vertical-align:middle;
	margin-top:-20px;
	padding-left:5px;
	padding-right:5px;
}

#deleteBtn{
	
	display:inline-block;
	margin-left:120px;
}
#deleteBtn,#answer {
	border:none;
}


#deleteBtn:hover, #answer:hover {
	cursor:pointer;
	color: white;
	background-color:#9881f3;	
	opacity:0.5;
}


#paging{
	margin: 0 auto;
	text-align: center;
	padding-top:10px;
}
