@charset "UTF-8";
@import url(reset.css);

hr {
	opacity:0.3;
	clear:both;
}

ul li a {
	list-style:none;
	text-decoration: none;
	list-style:none;
}

#fwrap{
	width: 100%;
	margin:0 auto;
}


footer {
	clear: both;
	width: 960px;
	height:105px;
	margin-top:30px;
	padding-top:30px;
	margin: 0 auto;
	font-size:10.5pt;
}
  
footer a {
	color:#6F6F6F;
	font-size:10.5pt;
}



footer .fLogo{
		width:250px;
		padding-top: 20px;
		margin-right:10px;
}
footer .fLogo img{
		width:100%;
}

footer ul{margin-right:20px;}

footer li{float:left;margin-right:25px;line-height:2em;color:#6F6F6F;}
