@charset "UTF-8";
@import url(reset.css);


hr{
	clear: both;
	opacity:0.3;
}
ul li a {
	list-style:none;
	text-decoration: none;
	list-style:none;
}

footer {
	clear: both;
	width: 1080px;
	height:105px;
	margin-top:40px !important;
	margin: 0 auto;
	font-size:10.5pt;
}
  
footer a {
	color:#6F6F6F;
	font-size:10.5pt;
}



footer .fLogo{
		width:250px;
		padding-top: 20px;
		margin-right:10px;
}
footer .fLogo img{
		width:100%;
}

footer ul{margin-right:20px;}

footer li{float:left;margin-right:25px;line-height:2em;color:#6F6F6F;}
