@charset "UTF-8";
@import url(reset.css);

/* @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
font-family: 'Jua', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
font-family: 'Nanum Gothic', sans-serif;


@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700&family=Nanum+Gothic:wght@400;700;800&display=swap');
font-family: 'Gothic A1', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
font-family: 'Noto Sans KR', sans-serif; */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

#logoTopMenu #topMenu, #inComm {
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';

}

nav>.gnb{
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

#skipNavi {
	display: none;
}

#hWrap{
	width: 1080px;
	height:150px;  
	margin: 0 auto;
	padding-top: 20px;
	
}

#hWrap header {
	clear: both;
	width: 1080px;
	height:105px;  
	margin: 0 auto;
	padding-top: 20px;

}


#hWrap header a {
	color: black;
}

#hWrap #logo {
	width: 400px;
	float: left;
}

#hWrap #logo img {
	width: 100%;
}

#hWrap #logo a {
	display: block;
}

#hWrap #logoTopMenu{
	height: 75px;
}
#hWrap #topMenu {
	float: right;
}

#hWrap #topMenu>li {
	float: left;
	margin-right:15px;
}

#hWrap #topMenu #inComm {
	display: none;
	padding-top:10px;
	line-height:2em;
}

#hWrap .gnb>li {
	float: left;
	margin-left:20px;
}



nav .gnb>li>a{
	color:#fff !important;
}

nav ul li a{
	color:#fff !important;
}
nav {
	color:#fff !important;
}

nav .gnb>li>a:hover,#logoTopMenu>#topMenu li a:hover {
	color: #785aef !important;
}
#logoTopMenu>#topMenu li a, #inComm li a{
	color: #4aa1f7 !important;
}

#topMenu li a:hover,#inComm li a:hover {
	color: #785aef !important;
}

nav ul li a {
	color:inherit;
}

nav>.gnb{
	width:100%;
	float:left;
	height:35px;
	padding:5px;
/*    display: flex; */
   line-height:2;
   justify-content: center;
   position: relative;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); 
}




