@charset "UTF-8";
@import url(reset.css);

#leftwrap {
  font-size:10pt;
}

#leftwrap aside{
  position: relative;
  top: 0;
  left: 0;
  width: 200px;
  outline:1px solid black;
}

#leftwrap fieldset {
  border: none;
}

#leftwrap input{
  margin-bottom:10px;
}

#leftwrap .btnSearch {
  display: block;
}

#leftwrap .priceBox{
  width:100px;
}
