@charset "UTF-8";

input[type=text]:focus { outline: none; }

#roomMstSearch {
	border:2px solid #785aef;
	vertical-align:middle;
}

input[type=text]{
	border:none;
}

input:focus{
outline:none;
}


input[type=text]{
border:none;
}

hr {
	opacity:0.5;
}

#wrap {
	width: 900px;
	margin: 0 auto;
	color:#785aef;
}

section {
	width: 700px;
	text-align:left;
	margin: 0 auto;
	font-weight:bolder;
	font-size:1.2em;
	color:#785aef;
}

section h1 {
	text-align: center;
	color:#785aef;
}

table {
	table-layout: fixed;
	color:#785aef;
	width: 700px;
	width: 100%;
	border-collapse: collapse;
	font-size:1.0em;
	
}


th td {
	white-space: nowrap;
	border: 1px solid #444444;
	padding: 10px;
}

/*/////////////////////////////////////////////////// */

#roomMstSearch {
	width: 450px;
	padding: 6px;
	border:2px solid #785aef;
	vertical-align: middle;
	padding-left:20px;
}


#roomMstFrm label {
	vertical-align: middle;
	padding-left:10px;
}

#roomMstSrchBtn {
	width: 100px;
	height: 30px;
	border:2px solid #785aef;
	color:#785aef;
	vertical-align: middle;
	font-size:0.8em;
	background-color:white;
	text-align: center;
	font-weight:bolder;	
}


#roomMstSrchBtn:hover{
	cursor:pointer;
	width: 100px;
	height: 30px;
	color: white;
	font-weight:bolder;
	border:2px solid #9881f3;
    font-size:0.8em;
	background-color:#9881f3;	
}

/* /////////////////////////////////////// */



#roomDtlSrchFrm {
	color:#785aef;
	text-align: center;
	margin: 0 auto;
}

#roomDtlSrchFrm label{
	font-size:1.0em;
	display:inline-block;
	line-height:5px;
	vertical-align: middle;
}


#roomDtlSrchFrm input{
	border:2px solid #9881f3;
	color:#785aef;
	background-color:white;
	text-align: center;
	
}

#roomDtlSrchFrm input[type=text]{
	width:400px;
	padding:5px;
	font-size:0.7em;
	vertical-align :middle;
}

#roomDtlSrchBtn {
	width: 100px;
	height: 30px;
	font-size:0.8em;
	border:2px solid #9881f3;
	color:#785aef;
	background-color:white;
	text-align: center;
	font-weight:bolder;
}

#roomDtlSrchBtn:hover{
	cursor:pointer;
	color: white;
	font-weight:bolder;
	border:2px solid #9881f3;
    font-size:0.8em;
	background-color:#9881f3;	
}

/* //////////////////////// */

#regionth{
	width: 10%;
	width: 40px;
	text-align: left;
}
#Rsrv_stayth{
	width: 12%;
	text-align: center;
	width: 40px;
}
#Rsrv_roomth{
	width: 14%;
	width: 56px;
	text-align: center;
}

#priceth{
	width: 10%;
	width: 50px;
	text-align: center;
}
#Rsrv_stateth{
	width: 10%;
	width: 50px;
	text-align: center;
}
#roomUpdateBtnth{
	width:10%;
	width: 45px;
	text-align: right;

}

#updateBtnth{
	width:10%;
	width: 50px;
	text-align: right;
}

#deleteBtnth{
	width:10%;
	width: 50px;
	text-align: right;
}
/* ///////////////////////////////////////// */
#region{
	width: 10%;
	width: 80px;
	text-align: left;
}
#Rsrv_stay{
	width: 12%;
	width: 80px;
	text-align: left;
}
#Rsrv_room{
	width:16%;
	width: 90px;
	text-align: left;
	padding-left: 20px;
}
#price{
	width:14%;
	width: 60px;
	text-align: center;
	margin-left:15px;
}
#Rsrv_state{
	width:14%;
	width: 60px;
	text-align: center;
	margin-left:15px;
}
#roomUpdateBtn{
	width:10%;
	width: 65px;
	text-align: center;
	padding-left: 10px;
	margin-left:40px;
}

#updateBtn{
	width:12%;
	width: 45px;
	text-align: center;
	padding-left: 10px;
	margin-left:53px;
}

#deleteBtn{
	width:12%;
	width: 45px;
	text-align: center;
	padding-left: 10px;
	margin-left:40px;
}




#roomMstSrchBtn {
	border: ;
}

#updateBtn, #roomUpdateBtn, #deleteBtn {
	border:none;

}


#updateBtn:hover, #roomUpdateBtn:hover, #deleteBtn:hover {
	cursor:pointer;
	color: white;
	background-color:#9881f3;	
	opacity:0.5;
}


