@charset "UTF-8";


input[type=text]:focus { outline: none; }

#roomDtlSearch {
	border:2px solid #9881f3;
	vertical-align: middle;
}

input[type=text]{
border:none;
}

#wrap {
	width: 900px;
	margin: 0 auto;
	color:#785aef;
}

section {
	width: 800px;
	text-align:left;
	margin: 0 auto;
	font-weight:bolder;
	font-size:1.2em;
	color:#785aef;
	vertical-align: middle;
}

section h1 {
	text-align: center;
	color:#785aef;
}

table {
	table-layout: fixed;
	color:#785aef;
	width: 800px;
	width: 100%;
	border-collapse: collapse;
	font-size:1.0em;
	
}


th td {
	white-space: nowrap;
	border: 1px solid #444444;
	padding: 10px;
	vertical-align: middle;
}

span, label,input {
	vertical-align: middle;
}

input[type=date]{
	width: 122px;
	border:2px solid #9881f3;
	color:#9881f3;
	vertical-align: middle;
}
/*/////////////////////////////////////////////////// */

#roomDtlFrm {
	color:#785aef;
	text-align: center;
	margin: 0 auto;
}

#roomDtlFrm label{
	font-size:1.0em;
	display:inline-block;
	margin-right:10px;
    vertical-align :middle;
}


#roomDtlSearch{
	color:#785aef;
	border:2px solid #9881f3;

}

#roomDtlSearch input[type=text]{
	width:400px;
	padding:5px;
	font-size:0.7em;
	vertical-align :middle;
	border:2px solid #9881f3;
}


#roomDtlSrchBtn, #cancleBtn {
	margin-top:5px;
	width: 100px;
	height: 30px;
	font-size:0.8em;
	border:2px solid #9881f3;
	color:#785aef;
	background-color:white;
	text-align: center;
	font-weight:bolder;
}

#roomDtlSrchBtn:hover, #cancleBtn:hover{
	cursor:pointer;
	color: white;
	font-weight:bolder;
	border:2px solid #9881f3;
    font-size:0.8em;
	background-color:#9881f3;	
}

th, tr, td, td input {
	text-align: center;
}

#Rsrv_room{
	width: 90px;
	text-align: center;
}

#price_ #price{
	width: 100px;
	text-align: center;
}


#Rsrv_state, #price{
	width: 100px;
	text-align: center;
}

#paging{
	margin: 0 auto;
	text-align: center;

	padding-top:10px;
}

