@charset "UTF-8";

#wrap {
	width: 900px;
	margin: 0 auto;
}

input:focus {
	outline:none;
}

textarea:focus{
	outline:none;
}

select:focus,option:focus{
	ouline:none;
}

section {
	width: 500px;
	text-align:left;
	margin: 0 auto;
	font-weight:bolder;
	font-size:1.2em;
	
}

section h1 {
	text-align: center;
	color:#785aef;
}



label {
	color:#785aef;
	font-size:1.0em;
	font-weight:bolder;
	width: 60px;
	vertical-align: middle;
	
}


span{
	color:#785aef;
	font-size:1.0em;
	font-weight:bolder;
	vertical-align: middle;
	width: 60px;
}

#roomName, #numOfGurest, #numOfGuests, #checkInTime, #checkOutTime, 
#weekdayPrice, #weekendPrice, #fileUpload {
	border: 2px solid #9881f3;
	padding: 3px;
	color:#9881f3;
	margin: 2px;
	vertical-align: middle;
}

#roomName {
	width: 434px;
	vertical-align: middle;
}

#numOfGuests {
	width: 40px;
}

#checkInTime, #checkOutTime{
	width: 80px;
}




#weekdayPrice, #weekendPrice {
	width: 50px;
	vertical-align: middle;
}

p{
	display: inline-block;
	color:#785aef;
	font-size:0.9em;
	font-weight:bolder;
	vertical-align: middle;
}

#files {
	border:none;
	vertical-align: middle;
}



/*updateBtn////////////////////////////////////// */

#updateBtn_ {
	width: 500px;
	text-align: center;
	margin: 0 auto;
	margin-top:15px;
}


#updateBtn{
	width: 150px;
	height: 40px;
	margin-top:10px;
	font-size:1.0em;
	border:2px solid #9881f3;
	color:#785aef;
	background-color:white;
	text-align: center;
}

#updateBtn:hover {
	cursor:pointer;
	color: white;
	border:2px solid #9881f3;
    font-size:1.0em;
	background-color:#9881f3;
}


