@charset "UTF-8";

input[type=text]:focus { outline: none; }



input[type=text] ,input[type=tel]{
	border:none;
}

select:focus, option:focus {
	outline:none;
}

input[type=text]:focus { outline: none; }

#roomDtlSearch {
	border:2px solid #9881f3;
	vertical-align: middle;
}

input[type=text]{
border:none;
}

a {
	color:inherit;
	text-decoration: none;
}

#wrap {
	width: 900px;
	margin: 0 auto;
	color:#785aef;
}

section {
	width: 800px;
	text-align:left;
	margin: 0 auto;
	color:#785aef;
	vertical-align: middle;
}

section h1 {
	text-align: center;
	color:#785aef;
	font-size:1.8em;
}

select, option {
	padding: 7px 5px;
	color:#785aef;
	border: 2px solid #785aef;
}

#FAQSrch {
	width: 700px;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}
#FAQsearch {
	width: 350px;
	border:2px solid #785aef;
	padding: 7px 5px;
	vertical-align: middle;
}

#FAQSrchBtn { /* 검색버튼 */
	width: 80px;
	border:2px solid #9881f3;
	padding: 5px 3px;
	color:#785aef;
	background-color:white;
	text-align: center;
	vertical-align: middle;
}
#FAQSrchBtn:hover{
	cursor:pointer;
	color: white;
	border:2px solid #9881f3;
	background-color:#9881f3;	
	
}


table {
	table-layout: fixed;
	color:#785aef;
	width: 800px;
	width: 100%;
	border-collapse: collapse;

	
}


th td {
	white-space: nowrap;
	border: 1px solid #444444;
	padding: 10px;
	vertical-align: middle;
	text-align: center;

}

#cateth, #titleth {
	font-weight:bolder;
	font-size:1.2em;
}

#cateth {
	width: 100px;
}

#titleth{
	width: 300px;
}

#cate {
	font-weight:bolder;
	font-size:1.0em;
}
#title {
	font-weight:bolder;
	font-size:1.0em;
	text-align: left;
}

span, label,input {
	vertical-align: middle;
}

input[type=date]{
	width: 122px;
	border:2px solid #9881f3;
	color:#9881f3;
	vertical-align: middle;
}
/*/////////////////////////////////////////////////// */

#srchBtn_ {
	width: 500px;
	margin: 0 auto;
}


#roomDtlFrm {
	color:#785aef;
	text-align: center;
	margin: 0 auto;
}

#roomDtlFrm label{
	font-size:1.0em;
	display:inline-block;
	margin-right:10px;
    vertical-align :middle;
}


#roomDtlSearch{
	color:#785aef;
	border:2px solid #9881f3;

}

#roomDtlSearch input[type=text]{
	width:400px;
	padding:5px;
	font-size:0.7em;
	vertical-align :middle;
	border:2px solid #9881f3;
}


#roomDtlSearchBtn, #cancleBtn {
	margin-top:5px;
	width: 100px;
	height: 30px;
	font-size:0.8em;
	border:2px solid #9881f3;
	color:#785aef;
	background-color:white;
	text-align: center;
	font-weight:bolder;
}

#roomDtlSearchBtn:hover, #cancleBtn:hover{
	cursor:pointer;
	color: white;
	font-weight:bolder;
	border:2px solid #9881f3;
    font-size:0.8em;
	background-color:#9881f3;	
}

th, tr, td, td input {
	text-align: center;
}

#Rsrv_stay{
	width: 73px;
	text-align: center;
}

#Rsrv_room{
	width: 90px;
	text-align: center;
}

#price_ #price{
	width: 100px;
	text-align: center;
}


#Rsrv_state, #price{
	width: 100px;
	text-align: center;
}


#updateBtn, #deleteBtn {
	border:none;
}

#updateBtn:hover, #deleteBtn:hover{
	cursor:pointer;
	color: white;
	background-color:#9881f3;	
	opacity:0.5;
}

#paging{
	margin: 0 auto;
	text-align: center;

	padding-top:10px;
}

