@charset "UTF-8";

input:focus{
outline:none;
}



input[type=text]{
border:none;
}

hr {
	opacity:0.5;
}

#wrap {
	width: 900px;
	margin: 0 auto;
	color:#785aef;
}

section {
	width: 700px;
	text-align:left;
	margin: 0 auto;
	font-weight:bolder;
	font-size:1.1em;
	color:#785aef;
}

section h1 {
	text-align: center;
	color:#785aef;
}


textarea {
	 resize: none;
	 margin-top:5px;
	margin-left:18%;
	text-align: left;
}

/*/////////////////////////////////////////////////// */


#userJoinFrm {
	color:#785aef;
	text-align: left;

}

#userJoinFrm label{
	font-size:1.0em;
	display:inline-block;
	line-height:5px;
	text-align: left;
	padding-left:120px;
	vertical-align:middle;
	padding-top:25px;
}


#userJoinFrm input{
	border:2px solid #9881f3;
	color:#785aef;
	background-color:white;
	text-align: left;

}

#userJoinFrm #id  {
	width: 100px;
}

#roleArea{
	width: 120px;
	margin-left:-100px;
	text-align: left;
}

#genArea {
	width: 120px;
	margin-left:-100px;
	text-align: left;
}

#doubleChk {

}

#doubleChk:hover {
	cursor:pointer;
	color: white;
	background-color:#9881f3;	
	opacity:0.5;
}

#userJoinFrm input[type=text], input[type=password]{
	width:250px;
	padding-right:20px;
	padding:5px;
	font-size:0.6em;
	vertical-align :middle;
	text-align: left;

}

#userJoinFrm #tel {
	width:80px;

}

#roomMstSrchBtn {
	width: 100px;
	height: 30px;
	font-size:0.8em;
	border:2px solid #9881f3;
	color:#785aef;
	background-color:white;
	text-align: center;
	font-weight:bolder;
}

#roomMstSrchBtn:hover{
	cursor:pointer;
	color: white;
	font-weight:bolder;
	border:2px solid #9881f3;
    font-size:0.8em;
	background-color:#9881f3;	
}



/*회원가입,취소 Btn///////////////////  */

#joinBtn {
	width: 700px;
	margin-left:13%;
}

#joinBtn input{
	width: 150px;
	height: 40px;
	margin-top:10px;
	font-size:1.0em;
	border:2px solid #9881f3;
	color:#785aef;
	background-color:white;
	text-align: center;
}

#joinBtn input:hover {
	cursor:pointer;
	color: white;
	border:2px solid #9881f3;
    font-size:1.0em;
	background-color:#9881f3;
}
