@charset "UTF-8";

input:focus{
outline:none;
}

input[type=text]{
border:none;
}

hr {
	opacity:0.5;
}

#wrap {
	width: 900px;
	margin: 0 auto;
	
}

section {
	width: 700px;
	text-align:center;
	margin: 0 auto;
	font-weight:bolder;
	font-size:1.2em;
	color:#785aef;
}

section #userMypageFrm h1 {
	text-align: center;
	color:#785aef;
}

section p {
	text-align: center;
	color::#785aef;
	margin: 0 auto;
	padding: 10px 30px;
	font-size:1.2em;
	padding-bottom:20px;
}

section label {
	text-align:center;
	padding: 10px 20px;
	vertical-align: middle;
}


#userSecFrm {
	width: 550px;
	text-align: right;
	margin: 0 auto;

}

input[type=text]{
	width: 230px;
	padding: 10px 10px;
	text-align:left;
	margin-right:100px;

}

input[type=password]{
	width: 230px;
	border:2px solid #785aef;
	padding: 10px 10px;
	text-align:left;
	margin-right:112px;
}


#Umypage_chkBtn {
	width: 550px;
	margin: 0 auto;
	text-align: center;
}

#ChkBtn, #cancleBtn {
	width: 140px;
	height:40px;
	margin-top: 10px;
	font-weight:bolder;
	background-color: #fff;
	border:2px solid #785aef;
	color:#785aef;
	font-size:0.8em;
}

#ChkBtn:hover, #cancleBtn:hover {
	cursor:pointer;
	color: white;
	border:2px solid #785aef;
	background-color:#785aef;
}


