@charset "UTF-8";
@import url(reset.css);

#wrap {
	width: 680px;
	margin: 0 auto;
	padding-bottom:100px;
}

input:focus {
	outline:none;
}

textarea:focus{
	outline:none;
}

textarea {
	resize: none;
}

hr {
	opacity:0.5;
	margin-top:10px;
	margin-bottom:7px;
}

section {
	margin: 0 auto;
	font-weight:bolder;
	font-size:1.2em;
	
}

section h1 {
	text-align: center;
	padding-top:15px;
	padding-bottom:20px;
	font-size:1.3em;
	color:#785aef;
	
}
#NotiFrm{
	width: 680px;
}
#no, #title, #nickName, #C_DATE, #content{
	padding: 3px;
	vertical-align: middle;
	color:#9881f3;
}

#nickDate{
	width: 680px;
	height: 20px;
	vertical-align: middle;
	
}

#no {
	width: 30px;
	border:none;
	vertical-align: middle;

}

#line {
	opacity:0.2;
	vertical-align: middle;
}

#title {
	width: 300px;
	border:none;
	vertical-align: middle;
	font-size:0.8em;
	font-weight:bold;
}

#nickName {
	width: 100px;
	border:none;
	float: left;
	vertical-align: middle;
}

#C_DATE {
	width: 60px;
	border:none;
	float:right;
	vertical-align: middle;
}

#content {
	width: 680px;
	margin-top:10px;
	border:none;
}



input[type=button]{
	width: 80px;
	height: 30px;
	border:2px solid #9881f3;
	background-color: #9881f3;
	color:white;
	cursor:pointer;
}
input[type=button]:hover{
	width: 80px;
	height: 30px;
	border:2px solid #9881f3;
	background-color: #fff;
	color:#9881f3;
	cursor:pointer;
}


#returnBtn{
	float: left;
}


