@charset "UTF-8";


#PointBbs input[type=text]:focus { outline: none; }

input[type=text], input[type=date],input[type=number]{
border:none;
}

input:focus{
outline:none;
}



hr {
	opacity:0.5;
}

#wrap {
	width: 770px;
	margin: 0 auto;
	color:#785aef;
}

section {
	width: 770px;
	text-align:left;
	margin: 0 auto;
	font-weight:bolder;
	font-size:1.0em;
	color:#785aef;
}

section h1, p,h5 {
	text-align: center;
	color:#785aef;
	font-weight:bolder;
	vertical-align: middle;
}

#userID, #userPoin {
	width: 60px;
	border:2px solid #9881f3;
	padding: 3px;
	vertical-align: middle;
	text-align: center;
	color:#9881f3;
}

#PointBbs span{
	vertical-align: middle;
}

table {
	table-layout: fixed;
	color:#785aef;
	width: 700px;
	width: 100%;
	border-collapse: collapse;
	font-size:1.0em;
	
}


th td {
	white-space: nowrap;
	border: 1px solid #444444;
	padding: 10px;
}

/*/////////////////////////////////////////////////// */

#PointBbs{
	width: 690px;
	margin: 0 auto;
	margin-top: 23px;
	padding: 12px 10px;
}

#PointBbs>h1 {
  padding-bottom: 17px;
		
}

#PointBbs>h5{
  padding-bottom: 10px;
}

#PointBbs p {
	padding:16px;
	font-size:1.3em;
}

#PointFrm {
	color:#785aef;
	text-align: center;
	margin: 0 auto;
}




#PointFrm input[type=text]{

	padding:5px;
	font-size:0.9em;
	vertical-align :middle;

}


/* //////////////////////// */

#pointh{
	width: 20%;

}
#titleth{
	width: 30%;

}
#date_usedth{
	width: 30%;

}

#kindth{
	width: 20%;

}

/* ///////////////////////////////////////// */

#point{
	width: 20%;

}
#title{
	width: 30%;
	width: 150px;

}
#date_used{
	width: 30%;
	width: 150px;
}

#kind{
	width: 20%;
	width: 100px;
	text-align: center;

}
/* /////////////////////////// */

#paySrchBtn {
	width: 100px;
	height: 30px;
	font-size:0.8em;
	border:2px solid #9881f3;
	color:#785aef;
	background-color:white;
	text-align: center;
	font-weight:bolder;
}


#paySrchBtn{
	margin-left:10px;
}

#paySrchBtn:hover{
	cursor:pointer;
	color: white;
	font-weight:bolder;
	border:2px solid #9881f3;
    font-size:0.8em;
	background-color:#9881f3;	
}

#payListSrchFrm span {
	vertical-align:middle;
	margin-top:-20px;
	padding-right:5px;
}


#cancleBtn {
	border:none;
	
}


#cancleBtn:hover {
	cursor:pointer;
	color: white;
	background-color:#9881f3;	
	opacity:0.5;
}


#paging{
	margin: 0 auto;
	text-align: center;
	padding-top:10px;
}

/*//////////////  */

