@charset "UTF-8";

input:focus{
outline:none;
}


#wrap {
	width: 960px;
	margin: 0 auto;
	color:#785aef;
}


#wrap h1 {
	font-size:1.8em;
	padding-top:50px;
	padding-bottom:10px;
	text-align: center;
}

section {
	text-align:left;
	margin: 0 auto;
	font-weight:bolder;
	font-size:1.1em;
	color:#785aef;
}

section h1 {
	text-align: center;
	color:#785aef;
}



/*/////////////////////////////////////////////////// */


.loginForm {
	width: 460px;
	margin: 0 auto;
	color:#785aef;
	font-size:1.0em;
	padding:5px 45px;
}

.loginForm label{
	font-size:1.0em;
	display:inline-block;
	text-align: left;
	vertical-align:middle;
	padding:10px 15px;
}


.loginForm input{
	font-size:1.0em;
	border:2px solid #9881f3;
	color:#785aef;
	background-color:white;
	text-align: left;
	padding:10px 15px;
	width: 270px;
}



/*회원가입,취소 Btn///////////////////  */

.SubmitBtn{
/* 	width: 279px; */
	margin-left: 90px;
/* 	margin: 0 auto; */
}

.SubmitBtn button{
	width: 150px;
	height: 40px;
	margin-top:10px;
	font-size:1.0em;
	border:2px solid #9881f3;
	color:#785aef;
	background-color:white;
	text-align: center;
}

.SubmitBtn button:focus{
	outline:none;
}

.SubmitBtn button:hover {
	cursor:pointer;
	color: white;
	border:2px solid #9881f3;
    font-size:1.0em;
	background-color:#9881f3;
}

#subScript{
	margin:0 auto;
	font-weight:500;
	font-size:0.8em;
	padding: 10px;
	margin-left:91px;
}

#Hr {
	opacity:0.3;
	width: 9px;
	height: 1px;
	background-color: black;
	margin-top: 30px;
}