@charset "UTF-8";

hr {
	opacity:0.3;
	clear:both;
}

#srchHr {
	width: 430px;
	margin: 15px 0px;
}

input:focus,textarea:focus,select:focus,option:focus
 {
 outline:none;

 }


input[type=button],input[type=number]{
	border:none;
	outline:none;
}


textarea {
	resize:none;
}


/* reset///////////////////////// */

#wrap {
/* 	width: 1080px; */
	width: 960px;
/* 	height:650px; */
	margin: 0 auto;
}

#userRoomDtl_left ,#userRoomDtl_right{
	margin-top:10px;
}
#userRoomDtl_left {
	float:left;
/* 	width: 530px; */
	width: 470px;
	margin: 0 auto;
}

#userRoomDtl_right{
	float: right;
	width: 490px;
/* 	width: 530px; */
	margin: 0 auto;
}

label {
	font-weight:bolder;
	font-size:1.0em;
	color:#9881f3;
	vertical-align: middle;
}


#userRoomDtl_left>#MainSrch{
	width: 400px;
	border: 2px solid #9881f3;
	padding: 10px;
	margin: 2px;
	color:#9881f3;
}



#userRoomDtl_left input[type=number], select,option{
	width: 100px;
	border: 2px solid #9881f3;
	color:#9881f3;
	margin:3px;
}

input[type=number], select,option {
	padding: 5px;
	margin:3px;
}
#numGuests{
	width: 363px;
	padding: 4px 7px;
}

#SrchBtn {
	width: 530px;
	margin: 0 auto;
	text-size: 1.1em;
}

#MainSrchBtn{
	width: 427px;
	height: 35px;
	padding: 20px;
	text-align: center;
	line-height:0.2;
	margin: 0 auto;
	border: 2px solid #9881f3;
	color:#9881f3;
	background-color: #fff;
	font-size:1.0em;
}


#MainSrchBtn:hover{
	cursor:pointer;
	color: white;
	border: 2px solid #9881f3;
	background-color:#9881f3;	
	outline:none;
}

.userSubTitle {
	width: 100px;
	height: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	display:inline-block;
	
}
#userSubTitle label {
	color:#9881f3;
	display:inline-block;
	padding-top:3px;
	padding-bottom:5px;
	vertical-align: middle;

}	

#keyword{
	width: 425px;
	padding: 15px;
	margin: 2px 2px 15px 2px;
	color:#9881f3;
	border: 2px solid #9881f3;
	background-color:#fff;	
	box-sizing: border-box;
}

/*체크인 체크아웃*/
#checkIn, #checkOut{
	width: 135px;
	border: 2px solid #9881f3;
	color:#9881f3;
	margin:3px 3px 15px 3px;
	padding:4px 1px;
}

#priceMin, #priceMax {
	border: 2px solid #9881f3;
	background-color:#fff;	
	width: 100px;
	padding: 10px;
	margin: 2px;
	color:#9881f3;
}

/* section right start */
/* userRoomDtl_right ////////////////////////////*/

#shortcutBtn {
	width: 60px;
	height: 60px;
	text-align: center;
	margin: 0 auto;
	color:white;
	background-color: #9881f3;
	padding: 2px;
	margin: 5px;
	font-weight:bolder;
	font-size:0.8em;
}

#shortcutBtn:hover{
	cursor:pointer;
	color: #9881f3;
	border: 2px solid #9881f3;
	background-color:white;
	outline:none;
}

#userRoomDtlShow{
	border-bottom: 1px solid 828282;
	
}

#title,#price,#addr,#tel {
	border:none;
	margin-top: 2px;
	padding:6px 4px;
	vertical-align: middle;
	font-weight:bolder;
	font-size:0.8em;
	color: #6F6F6F;
}



#title,#addr {
	width: 130px;
}

#price,#tel{
	width: 160px;
	text-align: right;
}

#userRoomDtlShow span {
	display: inline-block;
	float: left;
}


#slide {
    /* width: 440px; */
    width: 488px;
    height: 140px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#slideShow{
	width: 488px;
   /*  width: 440px; */
    height: 140px;
    margin: 0 auto;
    position: absolute;
}

#slideShow>img {
    position: absolute;
    width: 488px;
}

#slideShow>img:not(:first-child) {
    margin-left:-488px;
    /* margin-left: -440px;  */
}

.areaBtn{
	width: 100%;
	margin-bottom: 8px;
	text-align: center;

}
.areaBtn>input{
	border:2px solid #9881f3;
	width: 12.5%;
	width: 55px;
	height: 50px;
	text-align: center;
	background-color: #fff;
	color:#9881f3;

}
.areaBtn>input:hover{
	border:2px solid #9881f3;
	width: 12.5%;
	width: 55px;
	height: 50px;
	text-align: center;
	background-color:#9881f3;
	color:white;
}


#moveBtn {
	/* width: 450px; */
	width: 490px;
	height:60px;
	margin: 0 auto;
	text-align: center;
	display:inline-block;
	position: relative;
	top:-50px;
	color:#9881f3;
}

.prev, .next {
	display:inline-block;
	font-size:2.0em;
}

.prev {
	display:inline-block;
	position: relative;
	left:-220px;
}

.next{
	display:inline-block;
	position: relative;
	right:-220px;
}

.prev:hover, .next:hover{
	color:white;
	cursor:pointer;
}


/* 
#travelImg {
	width: 225px;
	height: 140px;
	display: inline-block;
	float: left;
	margin-top:-54px;
}


#travelImg>tr>td>a:hover {
	padding:30px;
}

#tr1, #tr3 {
	display: inline-block;
	float: left;
	width: 245px;
	height: 170px;

}

#tr2, #tr4 {
	display: inline-block;
	float: right;
	width: 245px;
	height: 170px;
	
}
 */

.column {
  margin: 15px 15px 0;
  width: 490px;
  padding: 0;
  	display: inline-block;
	float: left;
	margin-top:-54px;
}
.column:last-child {
  padding-bottom: 60px;
}
.column::after {
  content: '';
  clear: both;
  display: block;
}

.column td>a/* div */ {
  position: relative;
  text-decoration: none;
  color:inherit;
  float: left;
  width: 240px;
  height: 150px;
  padding: 0;
}
.column tr/* div:first-child */ {
  margin-left: 0;
}
.column span {
  position: absolute;
/*   bottom:-10px; */
  left:0;
  z-index: 11111;
  display: block;
/*   width: 100%;// */
  width: 240px;
/*   height:40px; */
  margin: 0;
  padding: 0;
  color: white;
	margin: 10px auto; 
  font-size: 15px;
  text-decoration: none;
  	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
  text-align: center;
/*   -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; */
  text-shadow: 2px 2px 2px gray;
  opacity: 1;
  line-height:20px;
}

.colmun span:hover {
	width: 240px;
	height:100%;
	color:white;
  	background-color:rgba(0,0,0,0.5);
  	text-shadow: 6px 2px 2px gray;
}

.column label {
	  position: absolute;
bottom:0;
  left:0;
  z-index: 11111;
  display: block;
  width: 240px;
height:40px; 
  margin: 0;
  padding: 0;
  color: white;
	margin: 10px auto; 
  font-size: 13px;
  text-decoration: none;
  	top: 70%;
	left: 50%;
	font-weight:100;
	transform: translate( -50%, -50% );
  text-align: center;
  text-shadow: 2px 2px 2px gray;
  opacity: 1;
  line-height:20px;
}
/* .column a:hover span {
 	margin: 10px auto;
    width: 240px;
  	height:40px;
	background-color:rgba(0,0,0,0.5);
	color:white;
	line-height:20px;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
	font-size:1.2em;// 
	z-index:1111;
	opacity:1;
} */

/* figure  */
.column tr>td>a{
  width: 240px;
	height: 150px;
  margin: 2px;
  padding: 0;
  background: #fff;
  overflow: hidden;
  cursor: pointer;

}

.column tr>td:first-child a{
	  margin-left:-10px;
}

/* figure */a>img {
  max-width: 100%;
}

/**
 * ===========================
 * Zoom In #1
 * ===========================
 */
.hover01 a img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover01 a:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.column span img {
	width: 100%;
	vertical-align: middle;
}


