@charset "UTF-8";

input:focus{
outline:none;
}

input[type=text]{
border:none;
}

hr {
	opacity:0.5;
}

#wrap {
	width: 770px;
	margin: 0 auto;
	
}

section {
	width: 770px;
	text-align:center;
	margin: 0 auto;
	font-weight:bolder;
	font-size:1.2em;
	color:#474646;
}

section h1 {
	text-align: center;
	color:#474646;
	font-size:1.4em;
	padding-bottom:10px;
}

section p {
	text-align: center;
	color:#474646;
	margin: 0 auto;
	padding: 11px;
	font-size:1.1em;
	padding-bottom:20px;
}

section label {
	text-align:center;
	padding: 10px 20px;
	vertical-align: middle;
}


#userSecFrm {
	width: 550px;
	text-align: right;
	margin: 0 auto;
	margin-top: 63px;

}



input[type=text]{
	width: 230px;
	padding: 10px 10px;
	text-align:left;
	margin-right:180px;
	padding-right: 10px;

}

input[type=password]{
	width: 230px;
	border:2px solid #6F6F6F;
	padding: 10px 10px;
	text-align:left;
	margin-right:112px;
}


#secBtn_ {
	width: 550px;
	margin: 0 auto;
	text-align: center;
	margin-top: 5px;
}

#submitBtn, #cancleBtn {
	width: 65px;
	height:30px;
	font-weight:bolder;
	background-color: #fff;
	border:2px solid #6F6F6F;
	color:#474646;
	font-size:0.8em;
}

#submitBtn:hover, #cancleBtn:hover {
	cursor:pointer;
	color: white;
	border:2px solid #6F6F6F;
	background-color:#6F6F6F;
}


