@charset "UTF-8";
@import url(reset.css);

input:focus,textarea:focus,select:focus,option:focus {
	outline:none;
}

/*submitBtn////////////////////////////////////  */

#submitBtn_ {
	width: 700px;
	margin: 0 auto;
	text-align: center;
	margin-top:15px;
}


#submitBtn_ input[type=button]{
	width: 150px;
	height: 40px;
	margin-top:10px;
	font-size:1.0em;
	border:2px solid #9881f3;
	color:#785aef;
	background-color:white;
	text-align: center;
}

#submitBtn_ input[type=button]:hover {
	cursor:pointer;
	color: white;
	border:2px solid #9881f3;
    font-size:1.0em;
	background-color:#9881f3;
}

#wrap {
	width: 700px;
	margin: 0 auto;
	text-align:center;
	color:#785aef;
	margin-bottom:50px;
}

section {
	width: 700px;
	text-align:left;
	margin: 0 auto;
	color:#785aef;
	border:none;
}

section h1 {
	text-align: center;
	color:#785aef;
	font-size:1.5em;
	padding-top:15px;
	padding-bottom:30px;
}


/* #cateId, #title, #content {
	border: 2px solid #9881f3;
	display:inline-block;
	color:#9881f3;
	margin-right:10px;
	
} */


input[type=text], textarea,select{
	border: 2px solid #9881f3;
	padding: 3px 5px;
	height:2.0em;
}


#QnASrchFrm #isPubLabel{
	display: inline-block;
	width: 100px;

}
#QnAwrite{
	display:block;
}
#QnAwrite label{
	font-size:0.9em;
}
#q{
	width:550px;
	height:25em;
}

#title{
	width:300px;
	height:2em;
}
.leftTitle{
	display:inline-block;
	text-align:center;
	width:80px;
	font-weight:bold;
}
#QnAwrite p {
	margin:10px 0;
}
#qLabel{
	vertical-align:top;
	line-height:1.1em;
} ​




