@charset "UTF-8";
@import url(reset.css);

input:focus{
outline:none;
}

input[type=text]{
border:none;
}

hr {
	opacity:0.5;
}

#wrap {
	width: 770px;
	margin: 0 auto;
	color:#785aef;
}

section {
	text-align:left;
	font-weight:bolder;
	font-size:1.0em;
	color:#785aef;
}

input{
	color:#785aef;
	font-size:1.0em;
	padding: 3px 5px;
	margin: 3px 5px;
}

form h1 {

	margin: 0 auto;
	text-align: center;
	color:#785aef;
	margin-bottom:20px;
}

/*/////////////////////////////////////////////////// */


label {
	text-align: left;
}


#userPw, #userPwChk {
	width: 200px;
	padding: 7px 9px;
	border:2px solid #9881f3;
}

#pwd, #pwd2 {
	border:2px solid #9881f3;
}

#slt_Email:focus, option:focus {
	outline:none;
}
#tel {
	width: 160px;
	border:2px solid #9881f3;
}

#telLbl {
	margin-left: -63px;
}

#userEmail {
	width: 100px;
	border:2px solid #9881f3;
}

#slt_Email {
	border:2px solid #9881f3;
	padding: 5px 7px;
	color:#9881f3;
}




#userPageMInfoFrm {
	width: 700px;
	margin: 0 auto;
	color:#785aef;
	padding-top: 50px;
	font-size:1.1em;
	text-align: center;
}

#userPageMInfoFrm label{
	display:inline-block;
	text-align: center;
	vertical-align:middle;

}





/*회원가입,취소 Btn///////////////////  */

#submitBtn_ {
	width: 500px;
	margin: 0 auto;
	margin-top: 20px;
}

#submitBtn,#cancleBtn {
	width: 73px;
	height: 32px;
	font-size:0.7em;
	margin-top:10px;
	border:2px solid #9881f3;
	color:#785aef;
	background-color:white;
	text-align: center;
}

#submitBtn:hover,#cancleBtn:hover{
	cursor:pointer;
	color: white;
	border:2px solid #9881f3;
	font-size:0.7em;
	background-color:#9881f3;
}
