@charset "UTF-8";
@import url(reset.css);

input[type=text]{
	border:none;
}


select:focus, option:focus,input[type=text]:focus, input[type=button]:focus,
input[type=submit]:focus
{ outline: none; }

#NotiSearch {
	border:2px solid #9881f3;
	vertical-align: middle;
}


a {
	color:inherit;
	text-decoration: none;
}

#wrap {
	text-align:center;
	color:#785aef;
	margin-bottom:50px;
}

#gridData{
	margin:0 auto;
	text-align:center;
}
section {
	color:#785aef;
	vertical-align: middle;
}


select, option {
	padding: 7px 5px;
	color:#785aef;
	border: 2px solid #785aef;
}

/* #NotiSrch {
	width: 700px;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}
 */
#NotiSrch h1 {
	color:#785aef;
	font-size:1.5em;
	padding-top:15px;
	padding-bottom:20px;
}

#NotisrchFrm{
	margin-bottom:30px;
	
}

#NotiSearch {
	width: 350px;
	border:2px solid #9881f3;
	padding: 8px 6px;
	vertical-align: middle;
}

#NotiSrchBtn { /* 검색버튼 */
	width: 80px;
	border:2px solid #9881f3;
	margin-left:3px;
	padding: 7px 7px;
	color:#785aef;
	background-color:white;
	font-weight:bold;
	text-align: center;
	vertical-align: middle;
		font-size:0.9em
}
#NotiSrchBtn:hover{
	cursor:pointer;
	color: white;
	border:2px solid #9881f3;
	background-color:#9881f3;	
	
}


table {
	margin:0 auto;
	width: 670px;
	cursor: pointer;
}


th td {
	white-space: nowrap;
	border: 1px solid #444444;
	padding: 10px;
	vertical-align: middle;
	text-align: center;

}

#FAQbbs th {
	font-weight: bolder;
	font-size:1.2em;
}


#noth {
	width: 20%;
}

#titleth{
	width: 60%;
}


#C_DATEth{
	width: 20%;
}

#no {
	text-align: center;
	font-size:1.0em;
}
#title {
	text-align: left;
	font-size:1.0em;

}

#C_DATE{
	text-align: center;
	font-size:1.0em;

}

span, label,input {
	vertical-align: middle;
}

input[type=date]{
	width: 122px;
	border:2px solid #9881f3;
	color:#9881f3;
	vertical-align: middle;
}
/*/////////////////////////////////////////////////// */



#srchBtn_ {
	width: 500px;
	margin: 0 auto;
}


#roomDtlFrm {
	color:#785aef;
	text-align: center;
	margin: 0 auto;
}

#roomDtlFrm label{
	font-size:1.0em;
	display:inline-block;
	margin-right:10px;
    vertical-align :middle;
}


#roomDtlSearch{
	color:#785aef;
	border:2px solid #9881f3;

}

#roomDtlSearch input[type=text]{
	width:400px;
	padding:5px;
	font-size:0.7em;
	vertical-align :middle;
	border:2px solid #9881f3;
}


#roomDtlSearchBtn, #cancleBtn {
	margin-top:5px;
	width: 100px;
	height: 30px;
	font-size:0.8em;
	border:2px solid #9881f3;
	color:#785aef;
	background-color:white;
	text-align: center;
	font-weight:bolder;
}

#roomDtlSearchBtn:hover, #cancleBtn:hover{
	cursor:pointer;
	color: white;
	font-weight:bolder;
	border:2px solid #9881f3;
    font-size:0.8em;
	background-color:#9881f3;	
}

th, tr, td, td input {
	text-align: center;
}

#Rsrv_stay{
	width: 73px;
	text-align: center;
}

#Rsrv_room{
	width: 90px;
	text-align: center;
}

#price_ #price{
	width: 100px;
	text-align: center;
}


#Rsrv_state, #price{
	width: 100px;
	text-align: center;
}


#updateBtn, #deleteBtn {
	border:none;
}

#updateBtn:hover, #deleteBtn:hover{
	cursor:pointer;
	color: white;
	background-color:#9881f3;	
	opacity:0.5;
}

#paging{
	margin: 0 auto;
	text-align: center;
	font-size:1.2em;
	font-weight:bolder;
	padding-top:10px;
}

