<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>341. admin_커뮤니티관리_공지사항목록_글쓰기</title>
<link rel="stylesheet" href="css/admin_comu_NotiList_Write.css" />
</head>
<body>

<div id="wrap">
	<section>
		
		<h1>공지사항 쓰기</h1>
		<label for="title">제목<input type="text" name="title" id="title" /></label><br />
		<span>내용</span>
		<textarea name="content" id="content" cols="30" rows="10">
		</textarea>

		<br />
		
		<div class="write_btn">
			<input type="button" value="완료" id="writebtn"/>
			<input type="button" value="취소" id="writebtn" />
		</div>
	</section>
</div>


</body>
</html>