<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>361. admin_커뮤니티관리_QnA목록_글쓰기</title>
<link rel="stylesheet" href="css/admin_comu_QnAList_Write.css" />
</head>
<body>

	<div id="wrap">
	
		<section>
			<h1>Q&A 답변 남기기</h1>
			<form action="" id="QnAwriteFrm" name="QnAwriteFrm">
				<label for="title"><span>제목</span>
					<input type="text" name="title" id="title" />
				</label><br />
				<label for="content"><span>내용</span>
					<textarea name="content" id="content" cols="30" rows="10">
					</textarea>
				</label>
				
				<div class="QnABtn_">
					<input type="button" value="완료" id="SummitBtn"/>
					<input type="button" value="취소" id="CancleBtn"/>
				</div>
				
			</form>
		</section>
	</div>



</body>
</html>