<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>311.admin_숙소관리_룸리스트</title>
<link rel="stylesheet" href="css/admin_RoomDtl_List.css" />
</head>
<body>

<div id="wrap">
	
	<section>
		
		<h1>룸 리스트</h1>
		<form action="post" id="roomDtlSrchFrm" name="roomDtlSrchFrm">
			<hr />
			<label for="roomDtlSrch">통합 검색</label>
			<input type="text" name="roomDtlSrch" id="roomDtlSrch" />
			<input type="button" value="조회하기" id="roomDtlSrchBtn"/>
		</form>
		
		<hr />
		
		      <table>
		        <tr>
		          <th id="regionth">지역</th>
		          <th id="titleth">숙소명</th>
		          <th id="room_nameth">룸</th>
		          <th id="addrth">주소</th>
		          <th id="telth">전화번호</th>
		          <th id="c_userth">게시자</th>
		          <th id="deleteBtnth">삭제</th>
		        </tr>
		        <tr>
		          <td colspan="7">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td><input type="text" value="서울" name="region" id="region" /></td>
		          <td><input type="text" value="강남 xx호텔" name="title" id="title" /></td>
		          <td><input type="text" value="럭셔리" name="room_name" id="room_name" /></td>
		          <td><input type="text" value="강남역 3번 출구 도보 3분" name="addr" id="addr" /></td>
		          <td><input type="text" value="010-xxxx-xxxx" name="tel" id="tel" /></td>
		          <td><input type="text" value="김xx" name="c_user" id="c_user" /></td>
		          <td><input type="button" value="삭제" id="deleteBtn"/></td>
		        </tr>
		        <tr>
		          <td colspan="7">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td><input type="text" value="서울" name="region" id="region" /></td>
		          <td><input type="text" value="강남 xx호텔" name="title" id="title" /></td>
		          <td><input type="text" value="럭셔리" name="room_name" id="room_name" /></td>
		          <td><input type="text" value="강남역 3번 출구 도보 3분" name="addr" id="addr" /></td>
		          <td><input type="text" value="010-xxxx-xxxx" name="tel" id="tel" /></td>
		          <td><input type="text" value="김xx" name="c_user" id="c_user" /></td>
		          <td><input type="button" value="삭제"  id="deleteBtn"/></td>
		        </tr>
		        <tr>
		          <td colspan="7">
		            <hr>
		          </td>
		        </tr>
		       <tr>
		          <td><input type="text" value="서울" name="region" id="region" /></td>
		          <td><input type="text" value="강남 xx호텔" name="title" id="title" /></td>
		          <td><input type="text" value="럭셔리" name="room_name" id="room_name" /></td>
		          <td><input type="text" value="강남역 3번 출구 도보 3분" name="addr" id="addr" /></td>
		          <td><input type="text" value="010-xxxx-xxxx" name="tel" id="tel" /></td>
		          <td><input type="text" value="김xx" name="c_user" id="c_user" /></td>
		          <td><input type="button" value="삭제"  id="deleteBtn"/></td>
		        </tr>
		        <tr>
		          <td colspan="7">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td><input type="text" value="서울" name="region" id="region" /></td>
		          <td><input type="text" value="강남 xx호텔" name="title" id="title" /></td>
		          <td><input type="text" value="럭셔리" name="room_name" id="room_name" /></td>
		          <td><input type="text" value="강남역 3번 출구 도보 3분" name="addr" id="addr" /></td>
		          <td><input type="text" value="010-xxxx-xxxx" name="tel" id="tel" /></td>
		          <td><input type="text" value="김xx" name="c_user" id="c_user" /></td>
		          <td><input type="button" value="삭제" id="deleteBtn" /></td>
		        </tr>
		        <tr>
		          <td colspan="7">
		            <hr>
		          </td>
		        </tr>
		        
		      </table>
			
			   <div id="paging">
		        <span class="block">《</span>
		        <span class="block">〈</span>
		        <span class="pageNo" id="nowPage">1</span>
		        <span class="pageNo">2</span>
		        <span class="pageNo">3</span>
		        <span class="pageNo">4</span>
		        <span class="pageNo">5</span>
		        <span class="pageNo">6</span>
		        <span class="pageNo">7</span>
		        <span class="pageNo">8</span>  
		        <span class="block">〉</span>
		        <span class="block">》</span>
		      </div>
		
	</section>
</div>





</body>
</html>