<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/main.js?ver=1.0"></script>

<script>
var etc = {

  //--------------------------------------------
  btnReadNoteClicked: function() {
    console.log("btnReadNoteClicked(): 1");
    
    var url = "/etc/select";
    var param = {
      id:      0, 
      title:   $("#title").val(), 
      content: ""
    };
    
    main.ajaxPostJson(url, param, function(jsonStr) {
      console.log("btnReadNoteClicked(): 2");
      console.log(jsonStr);
      alert(11111);
      
      $.each(jsonData, function(index, item) {
        console.log(item);
        alert(22222);
        alert(item["content"]);
        $("#content").val(item["content"]);
      });
    });
  },

  //--------------------------------------------
  btnInsertNoteClicked: function() {
    console.log("btnInsertNoteClicked(): 1");
    
    var url = "/etc/insert";
    var param = {
      id:      0, 
      title:   $("#title").val(), 
      content: $("#content").val() 
    };
    
    main.ajaxPostJson(url, param, function(jsonStr) {
      console.log("btnInsertNoteClicked(): 2");
      console.log(jsonStr);
      
      alert(jsonStr + "로 저장됐습니다.");
    });
  },
  
};

</script>

<title>index</title>
<body>
  <h1>노트 CRUD</h1>
  
  <form name="etcNote" id="etcNote" action="#" method="POST">
  제목: <select name="title" id="title">
    <option value="Term Of Serrvice" selected="selected">이용약관</option>
    <option value="Privacy Policy">개인정보처리방침</option>
  </select><br />
  내용: <textarea name="content" id="content" rows="10" cols="80"></textarea> <br />
  <button name="btnReadNote"   id="btnReadNote"   onclick="etc.btnReadNoteClicked();">불러오기</button>
  <button name="btnInsertNote" id="btnInsertNote" onclick="etc.btnInsertNoteClicked();">추가</button>
  <button name="btnUpdateNote" id="btnReadNote"   onclick="etc.btnUpdateNoteClicked();">수정</button>
  <button name="btnDeleteNote" id="btnReadNote"   onclick="etc.btnDeleteNoteClicked();">삭제</button>
  </form>
</body>
</html>