<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/main.js?ver=1.01"></script>

<script>

var etc = {

  //--------------------------------------------
  // 기능: 현재 note.id
  //--------------------------------------------
  noteId : "",
  
  //--------------------------------------------
  // 기능: 값을 초기화한다.
  //--------------------------------------------
  clear: function() {
    etc.noteId = "";
    $("#content").val("");
  },

  //--------------------------------------------
  // 기능: Title 변경됐을 경우 값을 초기화한다.
  //--------------------------------------------
  onTitleChanged: function() {
    etc.clear();
  },
  
  //--------------------------------------------
  // 기능: 블러오기
  //--------------------------------------------
  onReadNoteClicked: function() {
    console.log("onReadNoteClicked(): 1");
    
    var url = "/etc/select";
    var param = {
      id:      0, 
      title:   $("#title").val(), 
      content: ""
    };
    
    main.ajaxPostJson(url, param, function(jsonStr) {
      console.log("onReadNoteClicked(): 2");
      console.log(jsonStr);
      
      var content = jsonStr["content"];
      console.log("content: " + content);
      $("#content").val(content);
      
      etc.noteId = jsonStr["id"];
    }, function(request, status, error) {  // error가 발생한 경우
      alert("자료가 없거나 자료 찾기 중  오류가 발생했습니다.");ㄴㄴ
    });
  },

  //--------------------------------------------
  // 기능: 추가
  //--------------------------------------------
  onInsertNoteClicked: function() {
    console.log("onInsertNoteClicked(): 1");
    
    var url = "/etc/insert";
    var param = {
      id:      0, 
      title:   $("#title").val(), 
      content: $("#content").val() 
    };
    
    main.ajaxPostJson(url, param, function(jsonStr) {
      console.log("onInsertNoteClicked(): 2");
      console.log(jsonStr);
      
      alert(jsonStr + "로 저장됐습니다.");
      
      etc.noteId = jsonStr;
    });
  },
  
  //--------------------------------------------
  // 기능: 수정
  //--------------------------------------------
  onUpdateNoteClicked: function() {
    console.log("onUpdateNoteClicked(): 1");
    
    var url = "/etc/update";
    var param = {
      id:      etc.noteId, 
      title:   $("#title").val(), 
      content: $("#content").val() 
    };
    
    main.ajaxPostJson(url, param, function(jsonStr) {
      console.log("onUpdateNoteClicked(): 2");
      console.log(jsonStr);
      
      alert(jsonStr == 0 ? "오류가 발생했습니다." : "수정됐습니다.");
    });
  },
  
  
  //--------------------------------------------
  // 기능: 삭제
  //--------------------------------------------
  onDeleteNoteClicked: function() {
    console.log("onDeleteNoteClicked(): 1");
    
    var url = "/etc/delete";
    var param = {
      id:      etc.noteId, 
      title:   $("#title").val(), 
      content: "" 
    };
    
    main.ajaxPostJson(url, param, function(jsonStr) {
      console.log("onDeleteNoteClicked(): 2");
      console.log(jsonStr);
      
      if(jsonStr == 0) { 
        alert("키가 일치하지 않거나 삭제 처리 중 오류가 발생했습니다.");
      }
      else {
        alert("삭제됐습니다.");
        etc.clear();
      }
    });
  },
  
};

</script>

<title>index</title>
<body>
  <h1>노트 CRUD</h1>
  
  <form name="etcNote" id="etcNote" action="#" method="POST">
    제목: <select name="title" id="title" onchange="etc.onTitleChanged();">
      <option value="Terms Of Service" selected="selected">이용약관</option>
      <option value="Privacy Policy">개인정보처리방침</option>
    </select><br />
    내용: <textarea name="content" id="content" rows="10" cols="80"></textarea> <br />
    <input type="button" name="btnReadNote"   id="btnReadNote"   value="불러오기" onclick="etc.onReadNoteClicked();">
    <input type="button" name="btnInsertNote" id="btnInsertNote" value="추가"    onclick="etc.onInsertNoteClicked();">
    <input type="button" name="btnUpdateNote" id="btnUpdateNote" value="수정"    onclick="etc.onUpdateNoteClicked();">
    <input type="button" name="btnDeleteNote" id="btnDeleteNote" value="삭제"    onclick="etc.onDeleteNoteClicked();">
  </form>
</body>
</html>