<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- TOAST grid를 위한 CDN -->
<link rel="stylesheet" href="https://uicdn.toast.com/tui-grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>

<!-- TOAST pagenation 시 필요 -->
<!-- <link rel="stylesheet" href="https://uicdn.toast.com/tui-pagination/dist/tui-pagination.css" /> -->
<!-- <script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script> -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/main.js?ver=1.00"></script>

<script>
  $(function() {
    console.log(">>> $(): 1");
    main.ajaxCodeQnaToSelectBox("cateId");
    qna.showQnaOnGrid("/test/getData4Toast3", "gridData");
  });
  
  var gridQna = null;
  
  var qna = {

    onSearchBtnClick: function() {
      console.log("onSearchBtnClick()");
      qna.showQnaOnGrid("/qna/toastSearch", "gridData");
    },
    
    onQnaWriteClick: function() {
      console.log("onQnaWriteClick()");
      main.ajaxGetHtml("/qna/qWriter", "contents");
    },
    
    //-----------------------------------
    showQnaOnGrid: function(url, componentName) {
      var kind = "QNA";
      var actionInsert = "INSERT";
      var actionDelete = "DELETE";
      
      var columns = [
        {header: "아이디",     name: "id",       width: 50,  height: 100                    },
        {header: "닉네임",     name: "nickname", width: 100                   },
        {header: "번호",      name: "no",       width: 100, align: "center"   },
      
        {header: "사진",      name: "img1", width: 100, align: "center", formatter: function() {
          return "<img src='/images/11_html_m4956639b.jpg' width=100>";
        }},
        
        {header: "카테고리ID.", name: "cateId",   width: 100                   },
      //{header: "카테고리",    name: "cate",     width: 0                     },
        {header: "공개여부",    name: "isPub",    width: 100, align: "center"  }, 
        {header: "제목",      name: "title",    width: 100                   },
        {header: "질문내용",    name: "q",        width: 300                   },
        {header: "답변내용",    name: "a",        width: 300                   },
      //{header: "작성자ID",   name: "cUser",    width: 20                    },
        {header: "aaUser",   name: "aaUser",   width: 20                    },
        {header: "cuser",    name: "cuser",    width: 20                    },
        {header: "작성일",     name: "mdate",    width: 20                    },
        
        {header: "수정",      name: "btnUpdate", width: 20, align: "center", formatter: function() {
          // this.index, this.item, this.list 에 모두 접근 가능
          // 단, this.index는 pageOptions: { perPage: ... },를 사용하는 경우 동작하지 않는다.
          
          return "<button class='AXButton' onclick='qna.callbackButtonClicked(\"" 
          + kind + "\", \"" + actionInsert + "\", \"" 
          + this.index + "\");'>수정</button>"; 
        }},
        
        {header: "삭제",      name: "btnDelete", width: 20, align: "center", formatter: function() {
          return "<button class='AXButton' onclick='qna.callbackButtonClicked(\"" 
          + kind + "\", \"" + actionDelete + "\", \"" 
          + this.index + "\");'>삭제</button>"; 
        }}
      ];
      
      gridQna = main.showToastGrid(url, componentName, columns);
    },
    
    callbackButtonClicked: function(kind, action, index) {
      console.log("kind: " + kind + ", action: " + action + ", index: " + index);
      console.log("id: " + gridQna.getValue(index, "id")); 
    },
    
  }


</script>

</head>
<body>
  <h1>Q & A 목록</h1>
  <div id="QnaSrch">
    <h1>Q&A</h1>
      <form id="QnaSrchFrm">
        <select name="cateId" id="cateId">
        </select>
        <input type="text" name="keyword" id="keyword">
        <input type="button" value="검색" id="searchBtn" onclick="qna.onSearchBtnClick();">
      </form>
	</div>
  <table id="gridData"></table>
  <div id="gridData"></div>
	<div id="writeBtn">
		<input type="button" onclick="qna.onQnaWriteClick();" value="글 쓰기">
	</div>
</body>
</html>