 <div id="skipNavi"><!--skipNavi 시작  -->
	<ul>
		<li><a href="#gnb">메인메뉴 바로가기</a></li>
		<li><a href="#">본문 바로가기</a></li>
	</ul>    
</div>
<!--//skipNavi 끝-->
<div id="hWrap">

	<header><!--header시작  -->
	
		<div id="logoTopMenu"><!--logoTopMenu 시작  -->
		
				<h1 id="logo">
					<a href="/index"><img src="images/logo.png" alt="세븐세컨즈 로고" /></a>
				</h1>
				
				<ul id="topMenu">
					<li><a href="javascript:void(0);" onclick="index.onLoginClick();" >로그인</a></li>
					<li><a href="javascript:void(0);" onclick="index.onJoinClick();" >회원가입</a></li>
					<!-- <li><a href="javascript:void(0);" onclick="index.onLeftSearchClick();" >검색</a></li>  -->
					<li><a href="javascript:void(0);" onclick="index.onMypageClick();" >마이페이지</a></li>
					<li><a href="javascript:void(0);" onclick="index.onCommuClick();" id="topMenuComm">커뮤니티</a>
						<ul id="inComm">
							<li><a href="javascript:void(0);" onclick="index.onNoticeClick();">공지사항</a></li>
				            <li><a href="javascript:void(0);" onclick="index.onFaqClick();">FAQ</a></li>
				            <li><a href="javascript:void(0);" onclick="index.onQnaClick();">Q&A</a></li>
						</ul>
					</li>
				</ul>
		</div><!--logoTopMenu 끝  -->
	
		<nav>
			<ul class="gnb">
				<li><a href="#">모텔</a></li>
				<li><a href="#">호텔</a></li>
				<li><a href="#">펜션/풀빌라</a></li>
				<li><a href="#">리조트/콘도</a></li>
				<li><a href="#">게하/한옥</a></li>
				<li><a href="#">글램핑/캠핑</a></li>
			</ul>
		</nav>
		
	</header><!--header 끝 -->
</div><!-- hWrap end -->