<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="/js/Guriddo_jqGrid_JS_5.5.4-Trial/js/jquery-1.11.0.min.js"></script>
<script src="/js/main.js?ver=1.0"></script>

<script>
var index = {
  onLoginClick: function() {
    console.log("onLoginClick()");
    main.ajaxGetHtml("/user/frmLogin", "contents");
  },
  
  onJoinClick: function() {
  	console.log("onJoingClick()");
  	main.ajaxGetHtml("/user/frmJoin", "contents");
  },
  
  onLeftSearchClick: function() {
  	console.log("onLeftSearchClick()");
  	main.ajaxGetHtml("/main/leftSearch", "leftMenu");
  },
  
  onMypageClick: function() {
  	console.log("onMypageClick()");
  	main.ajaxGetHtml("/user/frmMypage", "contents");
  	// main.ajaxGetHtml("/main/leftMypage", "leftMenu");
  },
  
  onCommuClick: function() {
  	console.log("onCommuClick()");
  	main.ajaxGetHtml("/main/leftCommu", "leftMenu");
  },
  
  onNoticeClick: function() {
    console.log("onNoticeClick()");
    // TODO : (임의정) 매핑주소 넣어야 함 
    main.ajaxGetHtml("", "contents");
  },
  
  onFaqClick: function() {
    console.log("onFaqClick()");
    // TODO : (임의정) 매핑주소 넣어야 함 
    main.ajaxGetHtml("", "contents");
  },
  
  onQnaClick: function() {
    console.log("onQnaClick()");
    main.ajaxGetHtml("/qna/frmSelectAll", "contents");
  },
  
  onQnaWriteClick: function() {
	    console.log("onQnaWriteClick()");
	    main.ajaxGetHtml("/qna/frmSelectAll", "contents");
	  },


  log: function(msg) {
    console.log(">>> " + msg);
  }
};
</script>

<title>index</title>
<link rel="stylesheet" href="css/header.css" />
<style>
	#contents {
		position: relative;
		top:0;
		right:0;
	}
</style>
</head>
<body>
	<div th:include="header.html"></div>
	<div th:include="leftSearch.html" id="leftMenu"></div>
	<div id="contents"></div>
	<div th:include="footer.html"></div>
</body>
</html>