<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/main.js?ver=1.0"></script>

<script>
var index = {
  onLoginClick: function() {
    console.log("onLoginClick()");
    main.ajaxGetHtml("/user/frmLogin", "contents");
    $("#leftMenu").hide();
  },
  
  onJoinClick: function() {
  	console.log("onJoingClick()");
  	main.ajaxGetHtml("/user/frmJoin", "contents");
  	$("#leftMenu").hide();
  },
  
  onLeftSearchClick: function() {
	  $("#leftMenu").show();
  	console.log("onLeftSearchClick()");
  	main.ajaxGetHtml("/main/leftSearch", "leftMenu");
  },
  
  onMypageClick: function() {
	  $("#leftMenu").hide();
  	console.log("onMypageClick()");
  	main.ajaxGetHtml("/user/frmMypage", "contents");
  	// main.ajaxGetHtml("/main/leftMypage", "leftMenu");
  	
  },
  
  onCommuClick: function() {
	  $("#leftMenu").show();
  	console.log("onCommuClick()");
  	main.ajaxGetHtml("/main/leftCommu", "leftMenu");
  	main.ajaxGetHtml("/notice/searchList", "contents");
  },
  
  onNoticeClick: function() {
	  $("#leftMenu").show();
    console.log("onNoticeClick()");
    main.ajaxGetHtml("notice/searchList", "contents");
    
  },
  
  onFaqClick: function() {
	  $("#leftMenu").show();
    console.log("onFaqClick()");
    main.ajaxGetHtml("faq/searchList", "contents");
  },
  
  onQnaClick: function() {
	  $("#leftMenu").show();
    console.log("onQnaClick()");
    main.ajaxGetHtml("/qna/frmSelectAll", "contents");
  },
  
  onQnaWriteClick: function() {
	  $("#leftMenu").show();
	    console.log("onQnaWriteClick()");
	    main.ajaxGetHtml("/qna/frmSelectAll", "contents");
	  },


  log: function(msg) {
    console.log(">>> " + msg);
  }
};
</script>

<title>index</title>
<link rel="stylesheet" href="css/header.css" />
<link rel="stylesheet" href="css/index.css" />
</head>
<body>
	<div th:include="header.html"></div>
	<div id="inWarp">
		<div th:include="leftSearch.html" id="leftMenu"></div>
		<div id="contents"></div>
	</div>
	<div th:include="footer.html"></div>
</body>
</html>