<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/reset.css">
<title>leftMypage</title>
<style>
#wrap {
	width: 1080px;
	margin: 0 auto;
}

aside {
	position: relative;
	top: 0;
	left: 0;
	width: 350px;
	outline: 1px solid black;
}

li{
	padding:10px;
	text-align:center;
}

a{
	color:black;
	text-decoration: none;
	text-align:center;
}

h2{
	font-size:2em;
	text-align:center;
	padding:10px;
}
</style>
</head>
<body>
	<div id="wrap">
		<aside>
			<h2>마이페이지</h2>
			<ul>
				<li><a href="javascript:void(0);" onclick="index.onMypageInfoClick();">내 정보 수정</a></li>
				<li><a href="javascript:void(0);" onclick="index.onMypageRsrvClick();">예약 관리</a></li>
				<li><a href="javascript:void(0);" onclick="index.onMypageRevuClick();">후기 관리</a></li>
				<li><a href="javascript:void(0);" onclick="index.onMypagePointClick();">포인트 관리</a></li>
				<li><a href="javascript:void(0);" onclick="index.onMypageBookmarkClick();">즐겨찾기</a></li>
				<li><a href="javascript:void(0);" onclick="index.onMypageDeleteClick();">회원 탈퇴</a></li>
			</ul>
		</aside>
	</div>
</body>
</html>