<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/leftMenu.css?after">
<title>leftCommu</title>
<style>
#leftWrap aside {
	margin-bottom:400px;
}
</style>
</head>
<body>
	<div id="leftWrap">
		<aside>
			<div id="leftMenuTitle"><h2>커뮤니티</h2></div>
			<ul>
				<li><a href="javascript:void(0);" onclick="index.onNoticeClick();">공지사항</a></li>
				<li><a href="javascript:void(0);" onclick="index.onFaqClick();">FAQ</a></li>
				<li><a href="javascript:void(0);" onclick="index.onQnaClick();">Q&A</a></li>
			</ul>
		</aside>
	</div>
</body>
</html>