<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/leftMenu.css?after">
<title>leftMypage</title>
<style>
#leftWrap aside {
	margin-bottom:300px;
}
</style>
</head>
<body>
	<div id="leftWrap">
		<aside>
			<div id="leftMenuTitle"><h2>마이페이지</h2></div>
			<ul>
				<li><a href="javascript:void(0);" onclick="index.onMypageInfoClick();">내 정보 수정</a></li>
				<li><a href="javascript:void(0);" onclick="index.onMypageRsrvClick();">예약 관리</a></li>
				<li><a href="javascript:void(0);" onclick="index.onMypageRevuClick();">후기 관리</a></li>
				<li><a href="javascript:void(0);" onclick="index.onMypagePointClick();">포인트 관리</a></li>
				<li><a href="javascript:void(0);" onclick="index.onMypageBookmarkClick();">즐겨찾기</a></li>
				<li><a href="javascript:void(0);" onclick="index.onMypageDeleteClick();">회원 탈퇴</a></li>
			</ul>
		</aside>
	</div>
</body>
</html>