<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/reset.css">
<title>leftCommu</title>
<style>
#wrap {
	width: 1080px;
	margin: 0 auto;
}

aside {
	position: relative;
	top: 0;
	left: 0;
	width: 350px;
	outline: 1px solid black;
}

li{
	padding:10px;
	text-align:center;
}

a{
	color:black;
	text-decoration: none;
	text-align:center;
}

h2{
	font-size:2em;
	text-align:center;
	padding:10px;
}
</style>
</head>
<body>
	<div id="wrap">
		<aside>
			<h2>커뮤니티</h2>
			<ul>
				<li><a href="#">공지사항</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Q&A</a></li>
			</ul>
		</aside>
	</div>
</body>
</html>