<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>leftSearch</title>
<style>
#wrap {
  width: 1080px;
  margin: 0 auto;
  font-size:10pt;
}

aside{
  position: relative;
  top: 0;
  left: 0;
  width: 350px;
  outline:1px solid black;
}

fieldset {
  border: none;
}

input{
  margin-bottom:10px;
}

.btnSearch {
  display: block;
}

.priceBox{
  width:100px;
}

</style>

<script src="/js/Guriddo_jqGrid_JS_5.5.4-Trial/js/jquery-1.11.0.min.js"></script>    
<script src="/js/main.js?ver=1.01"></script>

<script>

var leftSearch = {
    changeCheckBoxes: function(chk, arrIds) {
        console.log("changeCheckBoxes(): 1");
        var setVal = chk.checked;
        console.log(arrIds);
        
        for(var i in arrIds) {
            var id = "#" + arrIds[i]; 
            $(id).prop("checked", setVal);
        }
        console.log("changeCheckBoxes(): 2"); 
    },
    
    search: function(){
        console.log("search(): 1");
        var loc = "/staylist/leftSearch";
        var param = "";
        
        main.ajaxGetJson2(loc,param,callBackSearchResult);
    },
   
    callBackSearchResult: function(jsonData){
      console.log("callBackSearchResult(): 1");
      console.log(jsonData);
    },
    
    log: function(msg) {
        console.log(">>> " + msg);
    }
};
</script>

</head>
<body>
  <div id="wrap">
    <aside>
      <section id="topSearch">
        <form action="post">
          <fieldset>
            <input type="text" name="searchText" placeholder="지역명 또는 호텔명 검색" />
            <div class="dateArea">
              <input type="date" name="userChkIn" /> ~ <input type="date" name="userChkOut" />
            </div>
            <input type="text" name="num_of_guests" placeholder="인원수" />
                        <input type="button" value="검색" onclick="leftSearch.search();"/> 
          </fieldset>
        </form>
      </section>
      <section id="bottOption">
        <form action="post">
          <fieldset>
            <legend>가격</legend>
            <input type="text" name="minPrice" class="priceBox" placeholder="최저가격" /> ~ <input type="text" name="maxPrice" class="priceBox" placeholder="최대가격" />
            <legend>숙박 유형</legend>
                    <input type="checkbox" name="onAccoCheckAll" id="hangeCheckBoxes" value="" 
                               onchange="leftSearch.changeCheckBoxes(this, ['isHotel', 'isMotel', 'isPension', 'isGlamping', 'isGuestHouse', 'isResort']);"/>전체
                    <input type="checkbox" name="isHotel" id="isHotel" value="" onchange="main.onHotelChanged(this);"/>호텔
                    <input type="checkbox" name="isMotel" id="isMotel" value="" onchange="main.onMotelChanged(this);"/>모텔
                    <input type="checkbox" name="isPension" id="isPension" value="" onchange="main.onPensionChanged(this);"/>펜션/풀빌라
                    <input type="checkbox" name="isGlamping" id="isGlamping" value="" onchange="main.onGlampingChanged(this);"/>글램핑/캠핑
                    <input type="checkbox" name="isGuestHouse" id="isGuestHouse" value="" onchange="main.onGuestHouseChanged(this);"/>게하/한옥
                    <input type="checkbox" name="isResort" id="isResort" value="" onchange="main.onResortChanged(this);"/>리조트/콘도
          </fieldset>
        </form>
      </section>
    </aside>
  </div>
</body>
</html>