<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>manager_룸등록</title>
</head>
<body>

<div id="wrap">

	<section>
		
		<h1>룸 등록</h1>
		<hr />
		<label for="roomName">룸명</label>
		<input type="text" name="roomName" id="roomName" />
		<br />
		<label for="num_of_guests">인원수</label>
		<input type="number" name="num_of_guests" id="num_of_guests" />
		
		<label for="check_in_time">입실 시간</label>
		<input type="datetime-local" name="check_in_time" id="check_in_time" />
		
		<label for="check_out_time">퇴실 시간</label>
		<input type="datetime-local" name="check_out_time" id="check_out_time" />
		<br />
		
		<label for="">기간별 가격</label>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<label for="weekday_price">평일</label>
		<input type="text" name="weekday_price" id="weekday_price" />원
		
		<label for="weekend_price">주말/공휴일</label>
		<input type="text" name="weekend_price" id="weekend_price" />원
		<br />
		<label for="fileUpload">사진</label>
		<input type="file" name="fileUpload" id="fileUpload"  multiple/>
		
		<hr />
		<input type="submit" value="등록" />
	
	
	</section>




</div>








</body>
</html>