<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>manager_FAQ 게시글 view</title>
<link rel="stylesheet" href="css/manager_faq.css" />
</head>
<body>
<div id="wrap">

	<section>
	
      <h1>FAQ</h1>
      <hr />
      
	 	
	  <form name="FAQFrm" id="FAQFrm" action="">

	      <input type="text" name="cate_id" id="cate_id" value="[취소/환불]"/>
		  <span id="line">| </span>
		  <input type="text" name="title" id="title" value="환불은 언제 되나요"/>
	  	 <hr />
	  	 <div id="nickDate">
		   	 <input type="text" name="nickName" id="nickName" value="닉네임1" />
		      <input type="text" name="C_DATE" id="C_DATE" value="21.03.16" />
	  	 </div>
	    <textarea name="content" id="content" rows="5" cols="50">
돈주세요
	    </textarea> <br />
		
			<span id="line2"></span>
			
		    <input type="button" name="returnBtn" id="returnBtn" value="목록">
		    <input type="button" name="deleteBtn" id="deleteBtn" value="삭제">
			<input type="button" name="answerBtn" id="answerBtn" value="답변"/>
	 </form>
	</section>
</div>
</body>
</html>