<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>manager_룸등록</title>
</head>
<body>

<div id="wrap">

	<section>
		
		<h1>룸 등록</h1>
		<hr />
		<label for="roomName">룸명</label>
		<input type="text" name="roomName" id="roomName" />
		<br />
		<label for="guestNum">인원수</label>
		<input type="number" name="guestNum" id="guestNum" />
		
		<label for="checkInTime">입실 시간</label>
		<input type="datetime-local" name="checkInTime" id="checkInTime" />
		
		<label for="checkOutTime">퇴실 시간</label>
		<input type="datetime-local" name="checkOutTime" id="checkOutTime" />
		<br />
		
		<label for="">기간별 가격</label>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<label for="weekDayPrice">평일</label>
		<input type="text" name="weekDayPrice" id="weekPrice" />원
		
		<label for="weekendPrice">주말/공휴일</label>
		<input type="text" name="weekendPrice" id="weekendPrice" />원
		<br />
		<label for="fileUpload">사진</label>
		<input type="file" name="fileUpload" id="fileUpload"  multiple/>
		
		<hr />
		<input type="submit" value="등록" />
	
	
	</section>




</div>








</body>
</html>