<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>manager_숙소수정</title>
</head>
<body>


<div id="wrap">

	<section>
		
		<form action="post" id="RoomMstRegistFrm" name="RoomMstRegistFrm">
			<h1>숙소 등록</h1>
			<hr />
			
			<label for="title">제목(숙소명)</label>
			<input type="text" name="title" id="title" />
			<br />
			
			<label for="zipCode1">주소
			<input type="text" name="zipCode1" id="zipCode1" />
			<input type="button" value="우편번호검색" />
			 <br />
			<input type="text" name="addr" id="addr" />
			</label>
			 <br />
			 
			<label for="tel">전화번호</label>
			<input type="text" name="tel" id="tel" />
			<br />
			
			<label for="info">설명</label>
			<textarea name="info" id="info" cols="30" rows="10"></textarea>
			
			<br />
			
			<label for="fileUpload">사진 첨부</label>
			<input type="file" name="fileUpload" id="fileUpload"  multiple/>
			
			<hr />
			
			<input type="submit" value="등록" />
			
		</form>
	
	</section>

</div>

</body>
</html>