<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>210.manager_숙소관리_숙소리스트</title>
<link rel="stylesheet" href="css/manager_RoomMst_List.css" />
</head>
<body>

<div id="wrap">
	
	<section>
	
		<div id="roomMstSrch">
		  <h1>숙소 리스트</h1>
		  <hr />
	      <form id="roomMstFrm">
	      	<label for="roomMstSearch">통합 검색
				<input type="text" name="roomMstSearch" id="roomMstSearch"/>
	      	</label>
	        <input type="button" value="조회하기" id="roomMstSrchBtn">
	      </form>
	     
	    </div>
		    <div id="roomMst">
		     <hr />
		      <table>
		        <tr>
		          <th id="regionth">지역</th>
		          <th id="Rsrv_stayth">숙소명</th>
		          <th id="Rsrv_roomth">룸</th>
		          <th id="priceth">가격</th>
    		      <th id="Rsrv_stateth">예약 상태</th>
		          <th id="roomUpdateBtnth">룸</th>
		          <th id="updateBtnth">수정</th>
		          <th id="deleteBtnth">삭제</th>
		        </tr>
		        <tr>
		          <td colspan="8">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td><input type="text" value="서울" name="region" id="region" /></td>
				  <td><input type="text" value="강남역 YAM" name="Rsrv_stay" id="Rsrv_stay" /></td>
				  <td><input type="text" value="스탠다드 트윈" name="Rsrv_room" id="Rsrv_room" /></td>
				  <td><input type="text" value="70,000" name="price" id="price" /></td>
				  <td><input type="text" value="예약 완료" name="Rsrv_state" id="Rsrv_state" /></td>
				  <td><input type="button" value="룸 추가" id="roomUpdateBtn"/></td>
				  <td><input type="button" value="수정" id="updateBtn"/></td>
				  <td><input type="button" value="삭제" id="deleteBtn"/></td>
		        </tr>
		        <tr>
		          <td colspan="8">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td><input type="text" value="서울" name="region" id="region" /></td>
				  <td><input type="text" value="강남역 JA" name="Rsrv_stay" id="Rsrv_stay" /></td>
				  <td><input type="text" value="스탠다드 트윈" name="Rsrv_room" id="Rsrv_room" /></td>
				  <td><input type="text" value="80,000" name="price" id="price" /></td>
				  <td><input type="text" value="예약 완료" name="Rsrv_state" id="Rsrv_state" /></td>
				  <td><input type="button" value="룸 추가" id="roomUpdateBtn"/></td>
				  <td><input type="button" value="수정" id="updateBtn"/></td>
				  <td><input type="button" value="삭제" id="deleteBtn"/></td>
		        </tr>
		        <tr>
		          <td colspan="8">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td><input type="text" value="서울" name="region" id="region" /></td>
				  <td><input type="text" value="선릉역 YAM" name="Rsrv_stay" id="Rsrv_stay" /></td>
				  <td><input type="text" value="스탠다드 트윈" name="Rsrv_room" id="Rsrv_room" /></td>
				  <td><input type="text" value="80,000" name="price" id="price" /></td>
				  <td><input type="text" value="예약 완료" name="Rsrv_state" id="Rsrv_state" /></td>
				  <td><input type="button" value="룸 추가" id="roomUpdateBtn"/></td>
				  <td><input type="button" value="수정" id="updateBtn"/></td>
				  <td><input type="button" value="삭제" id="deleteBtn"/></td>
		        </tr>
		        <tr>
		          <td colspan="8">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td><input type="text" value="서울" name="region" id="region" /></td>
				  <td><input type="text" value="잠실역 YAM" name="Rsrv_stay" id="Rsrv_stay" /></td>
				  <td><input type="text" value="스탠다드 트윈" name="Rsrv_room" id="Rsrv_room" /></td>
				  <td><input type="text" value="80,000" name="price" id="price" /></td>
				  <td><input type="text" value="예약 완료" name="Rsrv_state" id="Rsrv_state" /></td>
				  <td><input type="button" value="룸 추가" id="roomUpdateBtn"/></td>
				  <td><input type="button" value="수정" id="updateBtn"/></td>
				  <td><input type="button" value="삭제" id="deleteBtn"/></td>
		        </tr>
		        <tr>
		          <td colspan="8">
		            <hr>
		          </td>
		        </tr>

	
		      </table>
		    </div>
		

	
	</section>




</div>

</body>
</html>