<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>manager_룸등록</title>
</head>
<body>

<div id="wrap">

	<section>
		<form method="post" action="/roomDtl/update" id="RoomMstRegistFrm" name="RoomMstRegistFrm" enctype="multipart/form-data">
		<h1>룸 등록</h1>
		<hr />
		<label for="roomName">룸명</label>
		<input type="text" name="roomName" id="roomName" />
		<br />
		<label for="guestNum">인원수</label>
		<input type="number" name="numOfGuests" id="numOfGuests" />
		
		<label for="checkInTime">입실 시간</label>
		<input type="time" name="checkInTime" id="checkInTime" />
		
		<label for="checkOutTime">퇴실 시간</label>
		<input type="time" name="checkOutTime" id="checkOutTime" />
		<br />
		
		<label for="">기간별 가격</label>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<label for="weekdayPrice">평일</label>
		<input type="text" name="weekdayPrice" id="weekdayPrice" />원
		
		<label for="weekendPrice">주말/공휴일</label>
		<input type="text" name="weekendPrice" id="weekendPrice" />원
		<br />
		<label for="fileUpload">사진</label>
		<input type="file" name="files" id="files"  multiple/>
		
		<hr />
		<input type="hidden" name="mstId" id="mstId" value="1000000000" />
		<input type="hidden" name="cUser" id="cUser" value="hyunwoong" />
		<input type="hidden" name="typeOfRoom" id="typeOfRoom" value="스텐다드" />
		<input type="submit" value="수정" />
		</form>
	
	</section>




</div>








</body>
</html>