<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>230. manager_예약관리_예약리스트</title>
<link rel="stylesheet" href="css/manager_RsrvList.css" />
</head>
<body>
	<div id="wrap">
		<section>
			
			<div id="RsrvSrch">
			  <h1>예약 리스트</h1>
			  <hr />
		      <form id="roomDtlFrm">
		      	<label for="UseDaySrch">이용일 검색
					<input type="date" name="UseDaySrchMin" id="UseDaySrchMin"/>~
					<input type="date" name="UseDaySrchMax" id="UseDaySrchMax"/>
		      	</label>
			   <label for="roomDtlSearch">통합 검색
					<input type="text" name="roomDtlSearch" id="roomDtlSearch"/>
		      	</label><br />
		      	<div id="srchBtn_">
			        <input type="button" value="조회하기" id="roomDtlSearchBtn">
			        <input type="button" value="취소" id="cancleBtn">
		      	</div>
		      </form>
		    </div>
		    
		    
			    <div id="roomDtl">
			     <hr />
			      <table>
			        <tr>
			          <th>예약 날짜</th>
			          <th>숙소</th>
			          <th>룸</th>
			          <th>예약자 정보</th>
	    		      <th>결제 정보</th>
			          <th>예약 상태</th>
			          <th>수정/삭제</th>
			        </tr>
			        <tr>
			          <td colspan="7">
			            <hr>
			          </td>
			        </tr>
			        <tr>
			          <td>
				          	<input type="date" value="2021-03-16" name="Rsrv_date" id="Rsrv_date" />~
				          	<input type="date"  value="2021-03-17" name="Rsrv_date" id="Rsrv_date" />
			          </td>
					  <td><input type="text" value="강남역 YAM" name="Rsrv_stay" id="Rsrv_stay" /></td>
					  <td><input type="text" value="스탠다드 트윈" name="Rsrv_room" id="Rsrv_room" /></td>
					  <td>
					  		<input type="text" value="김xx" name="price" id="price" />
					  		<input type="text" value="(여)" name="price" id="price" />
					  		<input type="text" value="010-xxxx-xxxx" name="price" id="price" />
					  </td>
					  <td>
					  		<input type="text" value="토스" name="Rsrv_state" id="Rsrv_state" />
					  		<input type="text" value="70000" name="price" id="price" />		
					  </td>
					  <td><input type="text" value="예약 완료" id="Rsrv_state"/></td>
					  <td>
						  <input type="button" value="수정" id="updateBtn"/>
						  <input type="button" value="삭제" id="deleteBtn"/>
					  </td>
			        </tr>
			        <tr>
			          <td colspan="7">
			            <hr>
			          </td>
			        </tr>
			        <tr>
			          <td>
				          	<input type="date" value="2021-03-16" name="Rsrv_date" id="Rsrv_date" />~
				          	<input type="date"  value="2021-03-17" name="Rsrv_date" id="Rsrv_date" />
			          </td>
					  <td><input type="text" value="강남역 YAM" name="Rsrv_stay" id="Rsrv_stay" /></td>
					  <td><input type="text" value="스탠다드 트윈" name="Rsrv_room" id="Rsrv_room" /></td>
					  <td>
					  		<input type="text" value="김xx" name="price" id="price" />
					  		<input type="text" value="(여)" name="price" id="price" />
					  		<input type="text" value="010-xxxx-xxxx" name="price" id="price" />
					  </td>
					  <td>
					  		<input type="text" value="토스" name="Rsrv_state" id="Rsrv_state" />
					  		<input type="text" value="70000" name="price" id="price" />		
					  </td>
					  <td><input type="text" value="예약 완료"id="Rsrv_state"/></td>
					  <td>
						  <input type="button" value="수정" id="updateBtn"/>
						  <input type="button" value="삭제" id="deleteBtn"/>
					  </td>
			        </tr>
			        <tr>
			          <td colspan="7">
			            <hr>
			          </td>
			        </tr>
			        <tr>
			          <td>
				          	<input type="date" value="2021-03-16" name="Rsrv_date" id="Rsrv_date" />~
				          	<input type="date"  value="2021-03-17" name="Rsrv_date" id="Rsrv_date" />
			          </td>
					  <td><input type="text" value="강남역 YAM" name="Rsrv_stay" id="Rsrv_stay" /></td>
					  <td><input type="text" value="스탠다드 트윈" name="Rsrv_room" id="Rsrv_room" /></td>
					  <td>
					  		<input type="text" value="김xx" name="price" id="price" />
					  		<input type="text" value="(여)" name="price" id="price" />
					  		<input type="text" value="010-xxxx-xxxx" name="price" id="price" />
					  </td>
					  <td>
					  		<input type="text" value="토스" name="Rsrv_state" id="Rsrv_state" />
					  		<input type="text" value="70000" name="price" id="price" />		
					  </td>
					  <td><input type="text" value="예약 완료"id="Rsrv_state"/></td>
					  <td>
						  <input type="button" value="수정" id="updateBtn"/>
						  <input type="button" value="삭제" id="deleteBtn"/>
					  </td>
			        </tr>
			        <tr>
			          <td colspan="7">
			            <hr>
			          </td>
			        </tr>
			        <tr>
			          <td>
				          	<input type="date" value="2021-03-16" name="Rsrv_date" id="Rsrv_date" />~
				          	<input type="date"  value="2021-03-17" name="Rsrv_date" id="Rsrv_date" />
			          </td>
					  <td><input type="text" value="강남역 YAM" name="Rsrv_stay" id="Rsrv_stay" /></td>
					  <td><input type="text" value="스탠다드 트윈" name="Rsrv_room" id="Rsrv_room" /></td>
					  <td>
					  		<input type="text" value="김xx" name="price" id="price" />
					  		<input type="text" value="(여)" name="price" id="price" />
					  		<input type="text" value="010-xxxx-xxxx" name="price" id="price" />
					  </td>
					  <td>
					  		<input type="text" value="토스" name="Rsrv_state" id="Rsrv_state" />
					  		<input type="text" value="70000" name="price" id="price" />		
					  </td>
					  <td><input type="text" value="예약 완료"id="Rsrv_state"/></td>
					  <td>
						  <input type="button" value="수정" id="updateBtn"/>
						  <input type="button" value="삭제" id="deleteBtn"/>
					  </td>
			        </tr>
			        <tr>
			          <td colspan="7">
			            <hr>
			          </td>
			        </tr>
	
		
			      </table>

			    </div>
				
							      
    			<div id="paging">
			        <span class="block">《</span>
			        <span class="block">〈</span>
			        <span class="pageNo" id="nowPage">1</span>
			        <span class="pageNo">2</span>
			        <span class="pageNo">3</span>
			        <span class="pageNo">4</span>
			        <span class="pageNo">5</span>
			        <span class="pageNo">6</span>
			        <span class="pageNo">7</span>
			        <span class="pageNo">8</span>  
			        <span class="block">〉</span>
			        <span class="block">》</span>
		      </div>
			
		</section>
	</div><!--wrap  -->
</body>
</html>