<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>221.manager_룸등록</title>
<link rel="stylesheet" href="css/manager_RoomRegist.css" />
</head>
<body>

<div id="wrap">

	<section>
		<form method="post" action="/roomDtl/insert" id="RoomMstRegistFrm" name="RoomMstRegistFrm" enctype="multipart/form-data">
		<h1>룸 등록</h1>
		<hr />
		<span>룸명</span>
		<input type="text" name="roomName" id="roomName" />
		<br />
		<span>인원수</span>
		<input type="number" name="numOfGuests" id="numOfGuests" />
		
		<p>입실 시간</p>
		<input type="time" name="checkInTime" id="checkInTime" />
		
		<p>퇴실 시간</p>
		<input type="time" name="checkOutTime" id="checkOutTime" />
		<br />
		
		<span>기간별 가격</span>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<p>평일</p>
		<input type="text" name="weekdayPrice" id="weekdayPrice" /><p>원</p>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<p>주말/공휴일</p>
		<input type="text" name="weekendPrice" id="weekendPrice" /><p>원</p>
		<br />
		<span>사진</span>
		<input type="file" name="files" id="files"  multiple/>
		
		<hr />
			<div id="submitBtn_">
				<input type="hidden" name="mstId" id="mstId" value="1000000000" />
				<input type="hidden" name="cUser" id="cUser" value="hyunwoong" />
				<input type="hidden" name="typeOfRoom" id="typeOfRoom" value="스텐다드" />
				<input type="submit" value="등록" id="submitBtn"/>
			</div>
		</form>
	
	</section>




</div>








</body>
</html>