<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>220.manager_숙소관리_룸리스트</title>
<style>
input[type=text]:focus { outline: none; }
#roomDtlSearch {
border:1px solid black;}
input[type=text]{
border:none;
}

</style>
</head>
<body>
<div id="wrap">
	<section>
		
		<div id="roomDtlSrch">
		  <h1>룸 리스트</h1>
		  <hr />
	      <form id="roomDtlFrm">
	      	<label for="roomDtlSearch">통합 검색
				<input type="text" name="roomDtlSearch" id="roomDtlSearch"/>
	      	</label>
	        <input type="submit" value="조회하기">
	      </form>
	     
	    </div>
		    <div id="roomDtl">
		     <hr />
		      <table>
		        <tr>
		          <th>지역</th>
		          <th>숙소명</th>
		          <th>룸</th>
		          <th>가격</th>
    		      <th>예약 상태</th>
		          <th>룸</th>
		          <th>수정</th>
		          <th>삭제</th>
		        </tr>
		        <tr>
		          <td colspan="8">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td><input type="text" value="서울" name="region" id="region" /></td>
				  <td><input type="text" value="강남역 YAM" name="Rsrv_stay" id="Rsrv_stay" /></td>
				  <td><input type="text" value="스탠다드 트윈" name="Rsrv_room" id="Rsrv_room" /></td>
				  <td><input type="text" value="70,000" name="price" id="price" /></td>
				  <td><input type="text" value="예약 완료" name="Rsrv_state" id="Rsrv_state" /></td>
				  <td><input type="button" value="룸 추가"/></td>
				  <td><input type="button" value="수정"/></td>
				  <td><input type="button" value="삭제" /></td>
		        </tr>
		        <tr>
		          <td colspan="8">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td><input type="text" value="서울" name="region" id="region" /></td>
				  <td><input type="text" value="강남역 YAM" name="Rsrv_stay" id="Rsrv_stay" /></td>
				  <td><input type="text" value="스탠다드" name="Rsrv_room" id="Rsrv_room" /></td>
				  <td><input type="text" value="70,000" name="price" id="price" /></td>
				  <td><input type="text" value="예약 완료" name="Rsrv_state" id="Rsrv_state" /></td>
				  <td><input type="button" value="룸 추가"/></td>
				  <td><input type="button" value="수정"/></td>
				  <td><input type="button" value="삭제" /></td>
		        </tr>
		        <tr>
		          <td colspan="8">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td><input type="text" value="서울" name="region" id="region" /></td>
				  <td><input type="text" value="강남역 YAM" name="Rsrv_stay" id="Rsrv_stay" /></td>
				  <td><input type="text" value="럭셔리" name="Rsrv_room" id="Rsrv_room" /></td>
				  <td><input type="text" value="70,000" name="price" id="price" /></td>
				  <td><input type="text" value="예약 완료" name="Rsrv_state" id="Rsrv_state" /></td>
				  <td><input type="button" value="룸 추가"/></td>
				  <td><input type="button" value="수정"/></td>
				  <td><input type="button" value="삭제" /></td>
		        </tr>
		        <tr>
		          <td colspan="8">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td><input type="text" value="서울" name="region" id="region" /></td>
				  <td><input type="text" value="강남역 YAM" name="Rsrv_stay" id="Rsrv_stay" /></td>
				  <td><input type="text" value="스탠다드 더블" name="Rsrv_room" id="Rsrv_room" /></td>
				  <td><input type="text" value="70,000" name="price" id="price" /></td>
				  <td><input type="text" value="예약 완료" name="Rsrv_state" id="Rsrv_state" /></td>
				  <td><input type="button" value="룸 추가"/></td>
				  <td><input type="button" value="수정"/></td>
				  <td><input type="button" value="삭제" /></td>
		        </tr>
		        <tr>
		          <td colspan="8">
		            <hr>
		          </td>
		        </tr>

	
		      </table>
		    </div>
	
	</section>
</div>

</body>
</html>