<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>212. manager_숙소수정</title>
<link rel="stylesheet" href="css/manager_M_RoomMst.css" />
</head>
<body>


<div id="wrap">

	<section>
		
		<form action="post" id="RoomMstRegistFrm" name="RoomMstRegistFrm">
			<h1>숙소 수정</h1>
			<hr />
			
			<span>제목(숙소명)</span>

				<input type="text" name="title" id="title" />
			<br />
			
			<span>주소</span>
				<input type="text" name="zipCode1" id="zipCode1" />
				<input type="button" value="우편번호검색" />
			 	<br />
				<input type="text" name="addr" id="addr" />
			 <br />
			 
			<span>전화번호</span>
				<input type="text" name="tel" id="tel" />
			
			<br />
			
			<span id="exp">설명</span>
				<textarea name="info" id="info" cols="63" rows="10"></textarea>
			
			
			<br />
			
			<span>사진 첨부</span>
				<input type="file" name="fileUpload" id="fileUpload"  multiple/>
			
			
			<hr />
			
			<div id="updateBtn_">
				<input type="button" value="수정" id="updateBtn"/>
			</div>
			
		</form>
	
	</section>

</div>

</body>
</html>