<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/Guriddo_jqGrid_JS_5.5.4-Trial/js/jquery-1.11.0.min.js"></script>    
<script src="/js/main.js?ver=1.1"></script>
<style>
.OdrTabMenu input[type=text]{
 border: none;
}

.OdrTabMenu input[type=text]:focus {
outline:none;
}

</style>
<script>
var changeCheckBoxes = function(chk,arr){
	console.log("changeCheckBoxes():1");
	for(var i in arr) {
		i.checked = chk.checked;	
	}
	console.log("changeCheckBoxes():2"); 
}

</script>
</head>
<body>

<div id="wrap">

	<section id="userMainSrch">
	
		<input type="text" name="userMainSrch" id="userMainSrch" /><br />
		<label for="userChkIn">
			<input type="date" name="userChkIn" id="userChkIn" />
			체크인
		</label>
		<label for="userChkOut">
			<input type="date" name="userChkOut" id="userChkOut" />
			체크아웃
		</label><br />
		<label for="numGuests">인원수</label>
		<select name="numGuests" id="numGuests" >
		    <option value="1">1</option>
		    <option value="2">2</option>
		    <option value="3">3</option>
		    <option value="4">4</option>
   		    <option value="5">5</option>
		    <option value="6">6</option>
		    <option value="7">7</option>
		    <option value="8">8</option>
   		    <option value="9">9</option>
		    <option value="10">10</option>
		    <option value="11">11</option>
		</select>
		<br />
		<input type="submit" value="검색" />
	</section>
	<hr />
	
	
	<section id="userSubSrch">
		<label for="price">가격</label><br />
		<input type="text" name="price" id="priceMin" placeholder="최저가"/>
		~
		<input type="text" name="price" id="priceMax" placeholder="최고가"/>
		<br />	
		<label for="">숙박 유형</label><br />	
		<input type="checkbox" name="onAccoCheckAll" id="onAccoCheckAll" value="" onchange="changeCheckBoxes(this,[isHotel,isMotel,isPension,isGlamping,isGuestHouse,isResort]);"/>전체
		<input type="checkbox" name="isHotel" id="isHotel" value="" onchange="main.onHotelChanged(this);"/>호텔
		<input type="checkbox" name="isMotel" id="isMotel" value="" onchange="main.onMotelChanged(this);"/>모텔
		<input type="checkbox" name="isPension" id="isPension" value="" onchange="main.onPensionChanged(this);"/>펜션/풀빌라
		<input type="checkbox" name="isGlamping" id="isGlamping" value="" onchange="main.onGlampingChanged(this);"/>글램핑/캠핑
		<input type="checkbox" name="isGuestHouse" id="isGuestHouse" value="" onchange="main.onGuestHouseChanged(this);"/>게하/한옥
		<input type="checkbox" name="isResort" id="isResort" value="" onchange="main.onResortChanged(this);"/>리조트/콘도
	
		
	</section>
	
	<hr />
	
	<article>
	
		
		<input type="button" value="서울" />
		<input type="button" value="경기도" />
		<input type="button" value="경상도" />
		<input type="button" value="전라도" />
		<input type="button" value="충청도" />
		<input type="button" value="강원도" />
		<input type="button" value="제주도" />
		<input type="button" value="국외" />
		
		<div id="banner">
			banner 배너칸~
		</div>
		
		<div class="OdrTabMenu"><!--인기순/후기순/가격순 탭메뉴  -->
			
			<ul>
			
				<li id="PopulOdr" class="btnCon"><!--인기순 -->
					<input type="button" value="인기순" cheked name ="tabmenu" id="tabmenu1" />
					<div id="tabCon">
						<span class="imgTag"><img src="imges/" alt="이미지1" /></span>
						<ul>
							<li><input type="text" name="" id="" value="강남역 xxx 호텔" readonly/></li>
							<li><input type="text" name="" id="" value="300,000원" readonly/></li>
							<li><input type="text" name="" id="" value="강남역 N번 출구에서 50M 직진" readonly/></li>
							<li><input type="text" name="" id="" value="호텔" readonly/></li>
							<li>
								<input type="text" name="" id="" value="★ 4.5" readonly/>
							</li>
						</ul>
					</div><!-- tabcon 끝-->
				</li>
				
				<hr>
				
				<li id="RevuOdr" class="btnCon"><!--후기순-->
					<input type="button"  value="후기순" name ="tabmenu" id="tabmenu2" />
					<div id="tabCon">
						<span class="imgTag"><img src="imges/" alt="이미지1" /></span>
						<ul>
							<li><input type="text" name="" id="" value="강남역 xxx 호텔" readonly/></li>
							<li><input type="text" name="" id="" value="300,000원" readonly/></li>
							<li><input type="text" name="" id="" value="강남역 N번 출구에서 50M 직진" readonly/></li>
							<li><input type="text" name="" id="" value="호텔" readonly/></li>
							<li>
								 <input type="text" name="" id="" value="★ 4.5" readonly/>
							</li>
						</ul>	
					</div><!--tabConEnd  -->
				</li>
				<hr>
		 		<li id="PriceOdr" class="btnCon"><!--가격순 -->
					<input type="button"  value="가격순" name ="tabmenu" id="tabmenu3" />
					<div id="tabCon">
						<span class="imgTag"><img src="imges/" alt="이미지1" /></span>
						<ul>
							<li><input type="text" name="" id="" value="강남역 xxx 호텔" readonly/></li>
							<li><input type="text" name="" id="" value="300,000원" readonly/></li>
							<li><input type="text" name="" id="" value="강남역 N번 출구에서 50M 직진" readonly/></li>
							<li><input type="text" name="" id="" value="호텔"readonly/></li>
							<li>
								  <input type="text" name="" id="" value="★ 4.5"readonly />
							</li>
							<!--con  -->
						</ul>
					</div>
				</li>
				<hr>

			
		</div><!--인기순/후기순/가격순 탭메뉴  끝-->
		
		
		 <div id="paging">
	        <span class="block">《</span>
	        <span class="block">〈</span>
	        <span class="pageNo" id="nowPage">1</span>
	        <span class="pageNo">2</span>
	        <span class="pageNo">3</span>
	        <span class="pageNo">4</span>
	        <span class="pageNo">5</span>
	        <span class="pageNo">6</span>
	        <span class="pageNo">7</span>
	        <span class="pageNo">8</span>  
	        <span class="block">〉</span>
	        <span class="block">》</span>
	      </div>
	
	
	</article>
</div><!--wrap 끝  -->
















</body>
</html>