<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>user_커뮤니티_QnA_글쓰기</title>
</head>
<body>

<div id="wrap">
	
		<article>
		
			<div id="QnAwrite">
			  <h1>Q&A 글쓰기</h1>
			  <hr />
		      <form id="QnASrchFrm">
		      	
				<label for="">카테고리</label>
		        <select name="QnAcate" id="">
		          <option value="">카테고리</option>
		        </select>
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		        
		        
		        
		        <label for=""is_pubChk">
		      		<input type="checkbox" name="is_pubChk" id=""is_pubChk" />비밀글
      			</label> 
		       <br /> 
		       
		        <label for="UserQnAtitle">제목</label>
		        <input type="text" name="" id="" autofocus="autofocus"/>
				
				<br />
				
				<label for="UserQnAq">내용</label>
		        <textarea name="" id="" cols="30" rows="10" autofocus="autofocus"></textarea>
		        
				<br />
		        <input type="submit" value="등록">
		        <input type="reset" value="취소">
		      </form>
		    </div>
		
	

		      
		</article>
		
	</div>










</body>
</html>