<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>180. user_커뮤니티_공지사항_목록</title>
<link rel="stylesheet" href="css/user_ComuNoti.css?after" />
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui-grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/main.js?ver=1.00"></script>
</head>
<body>
	<script>
$(function() {
    console.log(">>> $(): 1");
    notice.showNoticeOnGrid("/notice/toastSearch", "gridData");
  });

var gridNotice = null;

 $("#NotiSearch").keypress(function (e) {
     if (e.which == 13){
     	notice.onSearchBtnClick();  
     	event.preventDefault();
     } 
 });


var notice = {
		
		onSearchBtnClick: function() {
		      console.log("onSearchBtnClick()");
		      var cateId = $("#Noticate option:selected").val();
		      var keyWord = $("#NotiSearch").val();
		      console.log(keyWord);
		      notice.showNoticeOnGrid("/notice/toastSearch?cateId="+ cateId +"&keyWord="+keyWord , "gridData");
		    },
		    
// 		    onQnaWriteClick: function() {
// 		        console.log("onQnaWriteClick()");
// 		        main.ajaxGetHtml("/faq/FaqWriter", "contents");
// 		      },
		      
		      
		      showNoticeOnGrid: function(url, componentName) {
		          var kind = "NOTICE";
		          var actionInsert = "INSERT";
		          var actionDelete = "DELETE";
		    
		          
		          var columns = [
		              {header: "아이디",     name: "id",       width: 75,  height: 100      },
		              {header: "닉네임",     name: "nickname", width: 70, align: "center"                 },
		              {header: "번호",      name: "no",       width: 50, align: "center"   },
// 		              {header: "카테고리ID.", name: "cate_id",   width: 100                   },
		              {header: "제목",      name: "title",    width: 310    				  },
		              {header: "작성일",     name: "cdate",    width: 150, align: "center"       },
		              	            
		            ];
		            
		          main.clearGrid(componentName, gridNotice);
		          
		            gridNotice = main.showToastGrid(url, componentName, columns);
		            
		         // mousedown Event
					gridNotice.on('mousedown', function(ev) {
	 				  // 클릭된 위치의 Row 정보 읽기 & row의 "id", "title"갑 log에 출력 
	  				 var rowInfo = gridNotice.getRow(ev.rowKey); 
	  				    console.log("id: " + rowInfo["id"] + ", title: " + rowInfo["title"]);
	  					main.ajaxGetHtml("/notice/userNoti?id="+rowInfo["id"],"contents");
					});    

		            
		          },
		          
		          
		          
		          callbackButtonClicked: function(kind, action, index) {
		            console.log("kind: " + kind + ", action: " + action + ", index: " + index);
		            console.log("id: " + gridNotice.getValue(index, "id")); 
		          },
		          
		        };

				

</script>
	<div id="wrap">

		<article>
			<div id="NotiSrch">
				<h1>공지사항</h1>
				<form id="NotisrchFrm">
					<input type="text" id="NotiSearch" name="NotiSearch">
					<input type="button" onclick="notice.onSearchBtnClick()" value="검색" id="NotiSrchBtn">
				</form>
			</div>
			<!-- end-NotiSrch -->
			<table id="gridData"></table>
			<div id="gridData"></div>
		</article>
		
	</div><!-- end-wrap -->

</body>
</html>