<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>160. user_마이페이지_내정보수정</title>
<link rel="stylesheet" href="/css/user_Mypage_M_Info.css?after" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/main.js?ver=1.00"></script>

<script>
	var mypageInfo = {
		onUpdateClicked: function() {
			console.log("onUpdateClicked()");
			var id=$("#id").val();
			var pwd=$("#pwd").val();
			var pwd2=$("#pwd2").val();
			var nickname=$("#nickname").val();
			var tel=$("#tel").val();
			var email=$("#email").val();
			var loc = "/user/update?id=";
			console.log(loc);
			if (pwd != pwd2) {
				alert("비밀번호가 일치하지 않습니다.");
			} else if (nickname == ""){
				alert("수정할 닉네임을 적어주세요");
			} else if (tel == ""){
				alert("수정할 전화번호를 적어주세요");
			} else if (email == ""){
				alert("수정할 이메일을 적어주세요");
			} else{
				var param = {
					id: id,
					pwd: pwd,
					nickname: nickname,
					tel: tel,
					email: email,
			};
			main.ajaxPostJson(loc, param, mypageInfo.updateCallback, mypageInfo.updateError);
		}
	},
	updateCallback: function(jsonStr) {
		console.log(jsonStr);
		if(jsonStr["strResult"] != ""){
			window.alert("회원수정 완료");
			main.ajaxGetHtml("/user/frmMypage", "contents");
		} else {
			window.alert("회원수정 실패");
		}
	},
	
	updateError: function() {
		alert("회원수정에 실패했습니다.");
	},
	
	onCancleClicked: function() {
		console.log("onCancleClicked()");
		main.ajaxGetHtml("/user/frmMypage", "contents");
	},
	
	log: function(msg) {
      console.log(">>> " + msg);
    }
	
}
</script>

</head>
<body>

	<div id="wrap">
		<section>
		


			<form action="" id="userPageMInfoFrm">
				<h1>내 정보 수정</h1>
							 
				 <label class="titleText">구분</label>
				 <label for="role">
				 	<input type="text" name="role" id="role" value="개인" readonly />
			 	</label>
	
				
				<br />
				 <label for="id">아이디</label>
				 <input type="text" name="id" id="id" th:value="${session.id}" readonly/>
				 
				 
				 <br />
				 <label for="pwd" class="titleText">비밀번호</label>
				 <input type="password" name="pwd" id="pwd" />
				 <br />
				 <label for="pwd2" class="titleText">비밀번호 확인</label>
				 <input type="password" name="pwd2" id="pwd2" />
				 
				 <br />
				 <label for="name" class="titleText">이름</label>
				 <input type="text" name="name" id="name" value="김철수" readonly/>
				 
				 <br />
				 <label for="nickname" class="titleText">닉네임</label>
				 <input type="text" name="nickname" id="nickname" value="어우"/>
				 
				 <br />
				 <label for="tel" id="telLbl" class="titleText">전화번호</label>
				 <input type="text" name="tel" id="tel" value="010"/>
				 
				 <br />
				 <label for="email" class="titleText">이메일</label>
				 <input type="text" name="email" id="email" value="ohhhhhh@gmail.com"/>
				
				<br />
				  <label for="userGen" class="titleText">성별</label>
				  <label for="gen"><input type="text" name="gen" id="gen" value="F" readonly/></label>
				  
				  
				  <div id="submitBtn_">
					  <input type="button" value="수정" id="submitBtn" onclick="mypageInfo.onUpdateClicked();"/>
					  <input type="button" value="취소" id="cancleBtn" onclick="mypageInfo.onCancleClicked();"/>
				  </div>
			</form>
		</section>
		
	
	</div>






</body>
</html>