<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>user_커뮤니티_FAQ</title>
</head>
<body>

<div id="wrap">

	<article>
		<div id="FAQSrch">
		  <h1>FAQ</h1>
	      <form id="FAQsrchFrm">
	        <select name="FAQcate" id="">
	          <option value="">카테고리</option>
	        </select>
	        <select name="FAQAllCate" id="">
	          <option value="">전체</option>
	        </select>
	        <input type="text">
	        <input type="submit" value="검색">
	      </form>
	    </div>
	

	
	    <div id="FAQbbs">
	      <table>
	        <tr>
	          <th>카테고리</th>
	          <th>제목</th>
	        </tr>
	        <tr>
	          <td colspan="2">
	            <hr>
	          </td>
	        </tr>
	        <tr>
	          <td><a href="">[취소/환불]</a></td>
	          <td><a href="">환불은 언제 되나요</a></td>
	        </tr>
	        <tr>
	          <td colspan="2">
	            <hr>
	          </td>
	        </tr>
	        <tr>
	          <td><a href="">[포인트]</a></td>
	          <td><a href="">포인트 적립은 언제 되나요</a></td>
	        </tr>
	        <tr>
	          <td colspan="2">
	            <hr>
	          </td>
	        </tr>
	        <tr>
	          <td><a href="">[회원/개인정보]</a></td>
	          <td><a href="">탈퇴하고 싶어요</a></td>
	        </tr>
	        <tr>
	          <td colspan="2">
	            <hr>
	          </td>
	        </tr>
	        <tr>
	          <td><a href="">[회원/개인정보]</a></td>
	          <td><a href="">회원정보 수정은 어떻게 하나요</a></td>
	        </tr>
	        <tr>
	          <td colspan="2">
	            <hr>
	          </td>
	        </tr>
	        <tr>
	          <td><a href="">[예약/결제]</a></td>
	          <td><a href="">예약 후 금액이 달라졌어요</a></td>
	        </tr>
	        <tr>
	          <td colspan="2">
	            <hr>
	          </td>
	        </tr>
	        <tr>
	          <td><a href="">[서비스 이용]</a></td>
	          <td><a href="">방을 2개 예약하려면 어떻게 해야하나요</a></td>
	        </tr>
	        <tr>
	          <td colspan="2">
	            <hr>
	          </td>
	        </tr>
	        
	      </table>
	    </div>
	
	
	
	    <div id="paging">
	        <span class="block">《</span>
	        <span class="block">〈</span>
	        <span class="pageNo" id="nowPage">1</span>
	        <span class="pageNo">2</span>
	        <span class="pageNo">3</span>
	        <span class="pageNo">4</span>
	        <span class="pageNo">5</span>
	        <span class="pageNo">6</span>
	        <span class="pageNo">7</span>
	        <span class="pageNo">8</span>  
	        <span class="block">〉</span>
	        <span class="block">》</span>
	      </div>
	      
	</article>
	
</div>


</body>
</html>