<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>191. user_커뮤니티_QnA_수정</title>
<link rel="stylesheet" href="css/user_ComuQnAwrite.css?after" />
<script src="/js/Guriddo_jqGrid_JS_5.5.4-Trial/js/jquery-1.11.0.min.js"></script>
<script src="/js/main.js?ver=1.0"></script>
<script th:inline="javascript">

var id = [[ ${session.id} ]];
	
</script>
<script>

$(function(){
	console.log("id="+id);
	var data = {
			id : id
	}
	main.ajaxPostJson("/qna/oneSelect",data,function(json){
        console.log(json);
        $.each(json,function(index,item){
           console.log(item["id"]+item["title"]+item["content"]);
           $("#id").val(item["id"]);
           $("#title").val(item["title"]);
           $("#nickName").val(item["nickname"]);
           $("#q").val(item["q"]);
           $("#cate_id").val(item["cate_id"]);
           $("#cUser").val(item["c_user"]);
        })
     });
});

</script>

<script>
	function update() {
		var QnASrchFrm = this.QnASrchFrm;
		var param = {
			cate_id : $("select[id='cateId']").val(),
			is_pub : $("#isPub").val(),
			title : $("#title").val(),
			q : $("#q").val(),
			id : $("#id").val(),

		/* , isPub, cUser, title, q, nickname. */
		};
		console.log(param);
		main.ajaxPostJson("/qna/updateQ", param, function(jsonStr) {
			if (jsonStr != null && jsonStr != "") {
				window.alert("질문이 수정되었습니다");
				index.onQnaClick();
			} else {
				window.alert("질문이 수정되지 않았습니다");
			}
		});
		/* QnASrchFrm.submit(); */
		//ajax 통신으로 바꿈

	}
	/* 
	 function loginTwo(){
	 index.onQnaWriteClick();
	 } */

	$(function() {
		main.ajaxCodeQnaToSelectBox("cateId");

		var callbackAjaxResult = function(jsonStr) {
			console.log("callbackAjaxResult()");
			console.log(jsonStr);
		}
	});
</script>
<style>
#allHidden #nickName, #cUser, #id{
	display:none;
}
</style>
</head>
<body>
<div id="wrap">
		<section>
			<div id="QnAwrite">
				<h1>Q&A 글 수정하기</h1>
				<form id="QnASrchFrm" action="qna/insert" name="QnASrchFrm"	method="post">
				<p>
					<label for="" class="leftTitle">카테고리</label>
					<select name="cateId" id="cateId">
						<option value="">카테고리</option>
					</select>
					
					<label for="isPub"  id="isPubLabel">
					 <input type="checkbox" name="isPub"id="isPub" value="N" onchange="main.onIsPubChanged(this);"/>비밀글
					</label>
					</p>
					<p><label for="UserQnAtitle" class="leftTitle">제목</label> <input type="text" name="title" id="title"  autofocus="autofocus" required/></p>
					<p><label for="q" id="qLabel" class="leftTitle">내용</label> <textarea name="q" id="q" cols="75" rows="15" autofocus="autofocus"></textarea></p>
					<br />
					<div id="submitBtn_">
						<input type="button" onclick="update();" value="수정" id="submitBtn">
						<input type="button" value="취소" onclick="index.onQnaClick();" id="cancleBtn">
					</div>
					<div id="allHidden">
					<input type="text" name="nickName" id="nickName" value="jho" />
					<input type="text" name="cUser" id="cUser" value="user" />
					<input type="text" name="id" id="id" value="" />
					</div>
				</form>
			</div>




		</section>

	</div>










</body>
</html>