<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>140.user_마이페이지_후기 관리</title>
<!-- <link rel="stylesheet" href="css/user_MypageRevu.css" /> -->
<link rel="stylesheet" href="https://uicdn.toast.com/tui-grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/main.js?ver=1.00"></script>

<script>
	window.onload = function() {
	};
	
	var gridRevu = null;
	
	document.addEventListener("DOMContentLoaded", function() {
	
		var actionDelete = "DELETE";
		
		var columns = [
			//{header: "번호", 		name:	"no",		width: 100,	height: 100},
			//{header: "id", 		name:	"id",	width: 200},
			{header: "후기", 		name:	"content",	width: 300},
			{header: "작성 날짜",	name:	"mDate",	width: 300},
			
			{header: "후기 삭제",	name:	"btnDelete", width: 100, align: "center", formatter: function() {
			}}
		];
		
	gridRevu = main.showToastGrid("/user/revu", "gridREVU", columns);
	
	gridRevu.on('mousedown', function(ev) {
		var rowInfo = gridRevu.getRow(ev.rowKey);
		console.log("id: " + rowInfo["id"] + ", content: " + rowInfo["content"]);
	});
});
</script>

</head>
<body>
<!--css 수정 완료  -->

<div id="gridREVU">
</div>
	
	<!-- <section>
	
	    <div id="RevuBbs">
	    	  <h1>후기 관리</h1>
	    	  <hr>
	    	  
		      <table>
		        <tr>
		          <th id="noth">번호</th>
		          <th id="revuth">후기</th>
		          <th id="C_DATEth">작성 날짜</th>
		          <th id="deleteBtnth">후기 삭제</th>
		        </tr>
		        <tr>
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td id="no"><a href="">1</a></td>
		          <td id="revu"><a href="">좋았어요~</a></td>
		          <td id="C_DATE"><a href="">21.03.15</a></td>
		          <td id="deleteBtn"><input type="button" value="삭제" /></td>
		        </tr>
		        <tr>
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td id="no"><a href="">2</a></td>
		          <td id="revu"><a href="">쫌 별로...</a></td>
		          <td id="C_DATE"><a href="">21.03.15</a></td>
		          <td id="deleteBtn"><input type="button" value="삭제" /></td>
		        </tr>
		        <tr>
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td id="no"><a href="">3</a></td>
		          <td id="revu"><a href="">다음에도 이용하려고요~</a></td>
		          <td id="C_DATE"><a href="">21.03.15</a></td>
		          <td id="deleteBtn"><input type="button" value="삭제" /></td>
		        </tr>
		        <tr>
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td id="no"><a href="">5</a></td>
		          <td id="revu"><a href="">침대도 지저분하고 직원분도 불친절했고...</a></td>
		          <td id="C_DATE"><a href="">21.03.15</a></td>
		          <td id="deleteBtn"><input type="button" value="삭제" /></td>
		        </tr>
		        <tr>
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td id="no"><a href="">6</a></td>
		          <td id="revu"><a href="">가격도 저렴하고 근처에 이만한 곳도 없네요</a></td>
		          <td id="C_DATE"><a href="">21.03.15</a></td>
		          <td id="deleteBtn"><input type="button" value="삭제" /></td>
		        </tr>
		        <tr>
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td id="no"><a href="">7</a></td>
		          <td id="revu"><a href="">무난하고 괜찮아요 관광지랑은 조금 멀어요</a></td>
		          <td id="C_DATE"><a href="">21.03.15</a></td>
		          <td id="deleteBtn"><input type="button" value="삭제" /></td>
		        </tr>
		        <tr>
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
		        
    		    <tr>
		          <td id="no"><a href="">8</a></td>
		          <td id="revu"><a href="">사장님도 친절하고 최고최고</a></td>
		          <td id="C_DATE"><a href="">21.03.15</a></td>
		          <td id="deleteBtn"><input type="button" value="삭제" /></td>
		        </tr>
		        <tr>
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
		        
		      </table>
		    </div>
		
		
		
		    <div id="paging">
		        <span class="block">《</span>
		        <span class="block">〈</span>
		        <span class="pageNo" id="nowPage">1</span>
		        <span class="pageNo">2</span>
		        <span class="pageNo">3</span>
		        <span class="pageNo">4</span>
		        <span class="pageNo">5</span>
		        <span class="pageNo">6</span>
		        <span class="pageNo">7</span>
		        <span class="pageNo">8</span>  
		        <span class="block">〉</span>
		        <span class="block">》</span>
		      </div>
		
		
	
	</section> 


</div> -->








</body>
</html>