<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>user_마이페이지_즐겨찾기</title>
</head>
<body>

	<div id="wrap">
		<article>
			    <div id="bookMarkBbs">
			    	<h1>즐겨찾기</h1>
					  <hr />
				      <table>
				        <tr>
				          <th>번호</th>
				          <th>숙소명</th>
				          <th>해제</th>
				        </tr>
				        <tr>
				          <td colspan="3">
				            <hr>
				          </td>
				        </tr>
				        <tr>
				          <td><a href="">1</a></td>
				          <td><a href="">강남역 YAM</a></td>
				          <td><input type="submit" value="해제" /></td>
				        </tr>
				        <tr>
				          <td colspan="3">
				            <hr>
				          </td>
				        </tr>
				        <tr>
				          <td><a href="">2</a></td>
				          <td><a href="">강남 굿 호텔</a></td>
				          <td><input type="submit" value="해제" /></td>
				        </tr>
				        <tr>
				          <td colspan="3">
				            <hr>
				          </td>
				        </tr>
				        <tr>
				          <td><a href="">3</a></td>
				          <td><a href="">명종도 굿 호텔</a></td>
				          <td><input type="submit" value="해제" /></td>
				        </tr>
				        <tr>
				          <td colspan="3">
				            <hr>
				          </td>
				        </tr>
				        <tr>
				          <td><a href="">5</a></td>
				          <td><a href="">전주 한옥 호텔</a></td>
				          <td><input type="submit" value="해제" /></td>
				        </tr>
				        <tr>
				          <td colspan="3">
				            <hr>
				          </td>
				        </tr>
				        <tr>
				          <td><a href="">6</a></td>
				          <td><a href="">여수 무인 호텔</a></td>
				          <td><input type="submit" value="해제" /></td>
				        </tr>
				        <tr>
				          <td colspan="3">
				            <hr>
				          </td>
				        </tr>
				        <tr>
				          <td><a href="">7</a></td>
				          <td><a href="">제주 G 호텔</a></td>
				          <td><input type="submit" value="해제" /></td>
				        </tr>
				        <tr>
				          <td colspan="3">
				            <hr>
				          </td>
				        </tr>
     				    <tr>
				          <td><a href="">8</a></td>
				          <td><a href="">가평 굿 호텔</a></td>
				          <td><input type="submit" value="해제" /></td>
				        </tr>
					    <tr>
						<td colspan="3">
				          </td>
				        </tr>

				      </table>
			    </div>
			
			
			
			    <div id="paging">
			        <span class="block">《</span>
			        <span class="block">〈</span>
			        <span class="pageNo" id="nowPage">1</span>
			        <span class="pageNo">2</span>
			        <span class="pageNo">3</span>
			        <span class="pageNo">4</span>
			        <span class="pageNo">5</span>
			        <span class="pageNo">6</span>
			        <span class="pageNo">7</span>
			        <span class="pageNo">8</span>  
			        <span class="block">〉</span>
			        <span class="block">》</span>
		      </div>
		</article>
	</div>




</body>
</html>