<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>134. user_숙박시설결제</title>
<link rel="stylesheet" href="css/user_RoomPay.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
</head>
<body>


<div id="wrap">

	<section>
		<h1>결제하기</h1>
		<hr />
		<form action="" id="RoomPayFrm">
			<div id="content1">
				<p>내역</p>
				<table>
					<tr>
						<td><input type="text"  value="강남 xxx 호텔 1234" readonly name="title" id="title" /></td>
						<td><label for="">체크인</label></td>	
						<td><label for="">체크아웃</label></td>
						<td><label for="">인원수</label></td>
						<td><label for="">이름</label></td>
						<td><label for="">이메일</label></td>
					</tr>
					<tr>
						<td><input type="text" value="스탠다드 트윈" readonly name="rsrvRoom" id="rsrvRoom" /></td>
						<td><input type="date" name="checkIn" id="checkIn" /></td>
						<td><input type="date" name="checkOut" id="checkOut" /></td>
						<td><input type="text" readonly name="numOfGuests"  id="numOfGuests" value="2명" /></td>
						<td><input type="text" name="userName" id="userName" /></td>
						<td><input type="email" placeholder="이메일" name="userEmail" id="userEmail"required/></td>
					</tr>
				</table>
				
			</div>
			
			<hr >
			
			<div id="content2">
				
				<label for="">결제 예정 금액
					<input type="text" name="" id="" value="100,000" />
				</label>
				<span>-</span>
				<label for="">총 할인 금액
					<input type="text" name=""  value="100,000" />&nbsp;<span>= 총</span>
					<input type="text" name="totalPrice" id="totalPrice" value="100,000" />&nbsp;<span>원</span>
				</label>
			</div>
			
			<hr />
			<div id="content3">
				<label for="">규정 및 약관 동의</label>
				<br />
				<input type="checkbox" name="" id=""/>
				<a href="#">만 14세 이상 이용 동의</a>
				<input type="button" value="보기" /><br />
				
				
				<input type="checkbox" name="" id=""/>
				<a href="#">이용 규칙 동의</a>
				<input type="button" value="보기" /><br />
				
				
				<input type="checkbox" name="" id=""/>
				<a href="#">개인 정보 수집 및 이용 동의</a>
				<input type="button" value="보기" /><br />
				
			</div>
		</form>
		
		<hr />
		<div id="payBtn">
			<input type="button"  id="payment" value="결제" />
			<input type="reset" value="취소" id="cancleBtn"/>
		</div>
	
	</section>
	

</div>

<script>

    $('#payment').click(function () {
        // getter
        var IMP = window.IMP;
        IMP.init('imp44221020');
        
		var checkIn = $('#checkIn').val();
        var checkOut = $('#checkOut').val();        
        var title = $('#title').val();
        var rsrvRoom = $('#rsrvRoom').val();
        var rsrvId = $('#rsrvId').val();
        var rsrvName = $('#rsrvName').val();
        var rsrvGen = $('#rsrvGen').val();
        var rsrvTel = $('#rsrvTel').val();
        var totalPrice = $('#totalPrice').val();
  		var cUser = $('#cUser').val();
  		var mUser = $('#mUser').val();
  		var cDate = $('#cDate').val();
  		var mDate = $('#mDate').val();
        var numOfGuests = $('#numOfGuests').val();
        var userEmail = $('#userEmail').val();
        var userName = $('#userName').val();
        
        console.log(checkIn);
        console.log(checkOut);
        console.log(title);
        console.log(rsrvRoom);
        console.log(rsrvId);
        console.log(rsrvName);
        console.log(rsrvGen);
        console.log(rsrvTel);
        console.log(totalPrice);
        console.log(cUser);
        console.log(mUser);
        console.log(cDate);
        console.log(mDate);
        console.log(numOfGuests);
        console.log(userEmail);
        console.log(userName);

        IMP.request_pay({
            pg: 'inicis',
            merchant_uid: 'merchant_' + new Date().getTime(),
            name:title,
            amount:totalPrice,
            buyer_email:userEmail,
            buyer_name:userName,
            buyer_tel: '010-1234-5678',
            //buyer_addr: rsrvRoom,
            buyer_postcode: '123-456',
        }, function (rsp) {
            console.log(rsp);
            if (rsp.success) {
                var msg = '결제가 완료되었습니다.';              
                msg += '결제 금액 : ' + rsp.paid_amount;
                msg += '카드 승인번호 : ' + rsp.apply_num;
                $.ajax({
                    type: "POST", 
                    url: "post", //완료된 값을 보낼 url 설정
                    dataType: "json", 
                    contentType: 'application/json',
                    data: JSON.stringify( 
                    	{
                    	"name" : title,
                        "amount" : totalPrice,
                        "buyerEmail" : userEmail,
                        "buyerName" : userName,
                        "rsrvRoom" : rsrvRoom
                        })        
                });
            } else {
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
            }
            alert(msg);
            document.location.href="userMain"; //alert창 확인 후 이동할 url 설정
        });
    });
</script>





</body>
</html>