<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>190.user_커뮤니티_QnA_목록</title>
<link rel="stylesheet" href="css/user_ComuQnAList.css" />
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui-grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/main.js?ver=1.00"></script>
<script>
$(function() {
    console.log(">>> $(): 1");
     main.ajaxCodeQnaToSelectBox("cateId");
    qna.showQnaOnGrid("/qna/searchData", "gridData");
  });

var gridQna = null;

$("#QnaSearch").keypress(function (e) {
    if (e.which == 13){
    	qna.onSearchBtnClick();  
    	event.preventDefault();
    } 
});

var qna = {
		
		onSearchBtnClick: function() {
		      console.log("onSearchBtnClick()");
		      var cate_id = $("#cateId option:selected").val();
		      var keyword = $("#QnaSearch").val();
		      console.log("keyWord : " + keyword);
		      qna.showQnaOnGrid("/qna/toastSearch?cate_id="+ cate_id +"&keyword="+keyword, "gridData");
		    },
		    
		    onQnaWriteClick: function() {
		        console.log("onQnaWriteClick()");
		        main.ajaxGetHtml("/qna/qWriter", "contents");
		      },
		      
		      
		      showQnaOnGrid: function(url, componentName) {
		          var kind = "QnA";
		          var actionInsert = "INSERT";
		          var actionDelete = "DELETE";
		    
		          
		          var columns = [
		              {header: "번호",      name: "no",       width: 100, align: "center"   },
		              {header: "카테고리ID.", name: "cate_id",   width: 100                   },
		              {header: "제목",      name: "title",    width: 100 		              },
		              {header: "답변유/무",      name: "a",    width: 20 		              },
		              {header: "닉네임",      name: "nickname",    width: 20 		              },
		              {header: "작성일",     name: "c_date",    width: 20                    },
		              
		            ];
		          main.clearGrid(componentName, gridQna);  
		          
		            gridQna = main.showToastGrid(url, componentName, columns);
		            
		            // mousedown Event
					gridQna.on('mousedown', function(ev) {
	 				  // 클릭된 위치의 Row 정보 읽기 & row의 "id", "title"갑 log에 출력 
	  				 var rowInfo = gridQna.getRow(ev.rowKey); 
	  				    console.log("id: " + rowInfo["id"] + ", title: " + rowInfo["title"]);
	  					main.ajaxGetHtml("/qna/userQna?id="+rowInfo["id"],"contents");
					});
		          },
		          
		          callbackButtonClicked: function(kind, action, index) {
		            console.log("kind: " + kind + ", action: " + action + ", index: " + index);
		            console.log("id: " + gridQna.getValue(index, "id")); 
		          },
		          
		        };


</script>
</head>
<body>


	<div id="wrap">
	
		<section>
		
			<div id="QnASrch">
				  <h1>Q&A</h1>
			      <form id="QnASrchFrm">
			        <select name="cateId" id="cateId">
			        	<option value="">카테고리</option>
			        </select>
			        <input type="text" id="QnaSearch" name="QnaSearch">
			        <input type="button" value="검색" onclick="qna.onSearchBtnClick()" id="QnASearchBtn">
			      </form>
			      <table id="gridData"></table>
			<div id="gridData"></div>
		    </div>
		    	<div id="writeBtn">
		<input type="button" onclick="qna.onQnaWriteClick();" value="글 쓰기">
	</div>
			<hr />
	
		
		    </section>
		
	</div>


</body>
</html>