<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>170.user_마이페이지_회원탈퇴</title>
<link rel="stylesheet" href="css/user_Mypage_Sec.css" />
</head>
<body>

	<div id="wrap">
		<section>
			<form action="" id="userSecFrm">
				<h1>SEVEN SECONDS 를 탈퇴하시겠습니까? </h1>
				<hr />
				<p>비밀번호 확인</p>
				<label for="userID">아이디
					<input type="text" name="userID" id="userID"
					 placeholder="아이디" readonly />
				</label>
				<br />
				<label for="userPW">비밀번호 확인
					<input type="password" name="userPW" id="userPW" />
				</label>
				<br />
		
				<br />
				<div id="secBtn_">
					<input type="submit" value="확인" id="submitBtn" />
					<input type="reset" value="취소" id="cancleBtn"/>
				</div>
			</form>
			
		</section>
	
	
	
	</div>




</body>
</html>