<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>user_메인</title>
<link rel="stylesheet" href="css/user_Main.css" />

</head>
<body>

<div id="wrap">

	<section id="userRoomDtl_left">
			
					<input type="text" name="MainSrch" id="MainSrch" placeholder="지역, 호텔, 명소명 입력" /><br />
	
					<div class="chkTime">
							
							<label for="userChkIn">
								<input type="month" name="userChkIn" id="userChkIn" />
								체크인
							</label>
							<label for="userChkOut">
								<input type="month" name="userChkOut" id="userChkOut" />
								체크아웃
							</label><br />
					</div>
					
					<div class="numG">
						<label for="numGuests">인원수
							
							<select name="numGuests" id="numGuests">
							    <option value="1">1</option>
							    <option value="2">2</option>
							    <option value="3">3</option>
							    <option value="4">4</option>
					   		    <option value="5">5</option>
							    <option value="6">6</option>
							    <option value="7">7</option>
							    <option value="8">8</option>
					   		    <option value="9">9</option>
							    <option value="10">10</option>
							    <option value="11">11</option>
							</select>
						</label>
					</div>
					<br />
					<div id="SrchBtn">					
						<input type="submit" value="검색" id="MainSrchBtn"/>
					</div>
					<hr id="srchHr"/>
					
					<span id="userSubTitle"><label for="price">가격</label><br /></span><br />
					<input type="text" name="price" id="priceMin" placeholder="최저가"/>
					<span class="userSubTitle_">~</span>
					<input type="text" name="price" id="priceMax" placeholder="최고가"/>
					<br /><br />
					<span class="userSubTitle"><label for="">숙박 유형</label></span><br />
					<span id="userSubTitle"><label for="room_name1"><input type="checkbox" name="room_name" id="room_name1" />전체</label></span>
					<span id="userSubTitle"><label for="room_name2"><input type="checkbox" name="room_name" id="room_name2" />호텔</label></span>
					<span id="userSubTitle"><label for="room_name3"><input type="checkbox" name="room_name" id="room_name3" />모텔</label></span>
					<span id="userSubTitle"><label for="room_name4"><input type="checkbox" name="room_name" id="room_name4" />펜션/풀빌라</label></span>
					<span id="userSubTitle"><label for="room_name5"><input type="checkbox" name="room_name" id="room_name5" />글램핑/캠핑</label></span><br />
					<span id="userSubTitle"><label for="room_name6"><input type="checkbox" name="room_name" id="room_name6" />게하/한옥</label></span>
					<span id="userSubTitle"><label for="room_name7"><input type="checkbox" name="room_name" id="room_name7" />리조트/콘도</label></span>
					
				
					<!-- <hr /> -->
		</section>
	
	
	<section id="userRoomDtl_right">
	
		<div class="areaBtn">
			<input type="button" value="서울" />
			<input type="button" value="경기도" />
			<input type="button" value="경상도" />
			<input type="button" value="전라도" />
			<input type="button" value="충청도" />
			<input type="button" value="강원도" />
			<input type="button" value="제주도" />
			<input type="button" value="국외" />
		</div>
		
<!--banner  -->
		<div id="slide">
			<div id="slideShow">
				<img src="images/hokang_3.png" width="440" height="140" alt="배너1" />
				 <img src="images/lovekorea.png" width="440" height="140"  alt="배너2" />
				 <img src="images/pakage.png" width="440" height="140" alt="배너3" /> 
			</div>
		</div>
		
<!--bannerBtn Start  -->
		<div id="moveBtn">
	         <a class="prev" onclick="moveSlides(-1)">&#10094;</a>
     		 <a class="next" onclick="moveSlides(1)">&#10095;</a>
		</div>
<!--bannerBtn END  -->		


	<table class="hover01 column">
	<tr>
		<td>
			<a href="#">
				<img src="images/travel_1.jpg" alt="여행지1_img" id="tr1"/>
				<span>강원도</span>
			</a>
		</td>
		<td>
			<a href="#">
				<img src="images/travel_2.jpg" alt="여행지2_img" id="tr2"/>
				<span>부산</span>
			</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="#"><img src="images/travel_3.jpg" alt="여행지3_img" id="tr3"/>
				<span>대구</span>
			</a>
		</td>
		<td>
			<a href="#"><img src="images/travel_4.jpg" alt="여행지4_img" id="tr4" />
				<span>tjdnf</span>
			</a>
		</td>
	</tr>

</table>
		
<!-- 		<table id="travelImg">
			<tr>
				<td><a href="#">
					<img src="images/travel_1.jpg" alt="여행지1_img" id="tr1"/>
					</a>
					<div class="darkness"></div>
				</td>
				<td>
					<a href="#">
						<img src="images/travel_2.jpg" alt="여행지2_img" id="tr2"/>
					</a>
					<div class="darkness"></div>
				</td>
			</tr>
			<tr>
				<td><a href="#"><img src="images/travel_3.jpg" alt="여행지3_img" id="tr3"/></a>
					<div class="darkness"></div>
				</td>
				<td><a href="#"><img src="images/travel_4.jpg" alt="여행지4_img" id="tr4" /></a>
					<div class="darkness"></div>
				</td>
			</tr>
		
		</table> -->
		
		

		
	</section>





</div>








</body>
</html>