<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div id="wrap">

	<section id="userMainSrch">
	
		<input type="text" name="userMainSrch" id="userMainSrch" /><br />
		<label for="userChkIn">
			<input type="checkbox" name="userChkIn" id="userChkIn" />
			체크인
		</label>
		<label for="userChkOut">
			<input type="checkbox" name="userChkOut" id="userChkOut" />
			체크아웃
		</label><br />
		
		<input type="text" name="numGuests" id="numGuests" placeholder="인원수"/><br />
		<input type="submit" value="검색" />
	</section>
	<hr />
	
	
	<section id="userSubSrch">
		<label for="price">가격</label><br />
		<input type="text" name="price" id="priceMin" placeholder="최저가"/>
		~
		<input type="text" name="price" id="priceMax" placeholder="최고가"/>
		<br />	
		<label for="">숙박 유형</label><br />	
		<input type="checkbox" name="room_name" id="room_name" />전체
		<input type="checkbox" name="room_name" id="room_name" />호텔
		<input type="checkbox" name="room_name" id="room_name" />모텔
		<input type="checkbox" name="room_name" id="room_name" />펜션/풀빌라
		<input type="checkbox" name="room_name" id="room_name" />글램핑/캠핑
		<input type="checkbox" name="room_name" id="room_name" />게하/한옥
		<input type="checkbox" name="room_name" id="room_name" />리조트/콘도
		
	</section>
	
	<hr />
	
	<article>
	
		<input type="submit" value="서울" />
		<input type="submit" value="경기도" />
		<input type="submit" value="경상도" />
		<input type="submit" value="전라도" />
		<input type="submit" value="충청도" />
		<input type="submit" value="강원도" />
		<input type="submit" value="제주도" />
		<input type="submit" value="국외" />
		
		
		<div id="banner">
			banner 배너칸~
		</div>
		
		<div class="OdrTabMenu"><!--인기순/후기순/가격순 탭메뉴  -->
			<ul>
			
				<li id="PopulOdr" class="btnCon"><!--인기순 -->
					<input type="radio" cheked name ="tabmenu" id="tabmenu1" />
					<label for="tabmenu1">인기순</label>
					<div id="tabCon">
						<span class="imgTag"><img src="imges/" alt="이미지1" /></span>
						<ul>
							<li><input type="text" name="" id="" value="강남역 xxx 호텔" readonly/></li>
							<li><input type="text" name="" id="" value="300,000원" readonly/></li>
							<li><input type="text" name="" id="" value="강남역 N번 출구에서 50M 직진" readonly/></li>
							<li><input type="text" name="" id="" value="호텔" readonly/></li>
							<li>
								<input type="text" name="" id="" value="★ 4.5" readonly/>
							</li>
						</ul>
					</div><!-- tabcon 끝-->
				</li>
				
				<hr>
				
				<li id="RevuOdr" class="btnCon"><!--후기순-->
					<input type="radio"  name ="tabmenu" id="tabmenu2" />
					<label for="tabmenu2">후기순</label>
					<div id="tabCon">
						<span class="imgTag"><img src="imges/" alt="이미지1" /></span>
						<ul>
							<li><input type="text" name="" id="" value="강남역 xxx 호텔" readonly/></li>
							<li><input type="text" name="" id="" value="300,000원" readonly/></li>
							<li><input type="text" name="" id="" value="강남역 N번 출구에서 50M 직진" readonly/></li>
							<li><input type="text" name="" id="" value="호텔" readonly/></li>
							<li>
								 <input type="text" name="" id="" value="★ 4.5" readonly/>
							</li>
						</ul>	
					</div><!--tabConEnd  -->
				</li>
				<hr>
		 		<li id="PriceOdr" class="btnCon"><!--가격순 -->
					<input type="radio"  name ="tabmenu" id="tabmenu3" />
					<label for="tabmenu3">가격순</label>
					<div id="tabCon">
						<span class="imgTag"><img src="imges/" alt="이미지1" /></span>
						<ul>
							<li><input type="text" name="" id="" value="강남역 xxx 호텔" readonly/></li>
							<li><input type="text" name="" id="" value="300,000원" readonly/></li>
							<li><input type="text" name="" id="" value="강남역 N번 출구에서 50M 직진" readonly/></li>
							<li><input type="text" name="" id="" value="호텔"readonly/></li>
							<li>
								  <input type="text" name="" id="" value="★ 4.5"readonly />
							</li>
							<!--con  -->
						</ul>
					</div>
				</li>
				<hr>

			
		</div><!--인기순/후기순/가격순 탭메뉴  끝-->
		
		
		 <div id="paging">
	        <span class="block">《</span>
	        <span class="block">〈</span>
	        <span class="pageNo" id="nowPage">1</span>
	        <span class="pageNo">2</span>
	        <span class="pageNo">3</span>
	        <span class="pageNo">4</span>
	        <span class="pageNo">5</span>
	        <span class="pageNo">6</span>
	        <span class="pageNo">7</span>
	        <span class="pageNo">8</span>  
	        <span class="block">〉</span>
	        <span class="block">》</span>
	      </div>
	
	
	</article>
</div><!--wrap 끝  -->
















</body>
</html>