<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>user_로그인</title>
<link rel="stylesheet" href="">
<!-- <script src="js/jquery-3.4.1.min.js"></script>
<script src=js/index.js></script> -->
<script src="/js/Guriddo_jqGrid_JS_5.5.4-Trial/js/jquery-1.11.0.min.js"></script>    
<script src="/js/main.js?ver=1.0"></script>

<script>
	var onLoginClicked=function(){
		console.log("onLoginClicked()");
		var id=$("#id").val();
		var pwd=$("#pwd").val();
		main.ajaxGetJson("/User/login?id="+id+"&pwd="+pwd, loginCallback);
	}
	
	var loginCallback=function(jsonStr){
		console.log(jsonStr);
	}
</script>
</head>
<body>

<div class="wrap">

	
	<article>
	    <form action="" method="post" class="loginForm">
		<h1>로그인</h1>
		<label>아이디</label> &nbsp;&nbsp;
        <input type="text" class="id" name="id" id="id" placeholder="아이디">
		<br />
		<label>비밀번호</label>
        <input type="password" class="pw" name="pwd" id="pwd" placeholder="비밀번호">
		<br />
		<a href="#">아이디 찾기</a>
		<a href="#">비밀번호 찾기</a>
		<br />
		<div class="SubmitBtn">
			<button type="button" class="loginBtn" id="login" onclick="onLoginClicked();">로그인</button>
			<button type="button" class="joinBtn" id="join" onclick="onJoinClicked();">회원가입</button>
		</div>
	</article>


</div>






</body>
</html>