<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>130.user_마이페이지_예약관리</title>
<link rel="stylesheet" href="css/user_MypageRsrv.css" />
<script>
	var mypageRsrv = {
			delClick: function(){
				alert("예약 취소되었습니다")
				$("#hideHotel").hide();
				$("#hideHotelLine").hide();
			}
	}
</script>
</head>
<body>
<!--css 수정 완료  -->
<div id="wrap">


		<section>
		   <div id="MypageRsrvBbs">
		   	  <h1>예약 관리</h1>
		   	  <hr />
		      <table>
		        <tr>
		          <th>번호</th>
		          <th>예약 숙소</th>
		          <th>예약 날짜</th>
		          <th>취소/후기</th>
		        </tr>
		        <tr>
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
		        <tr id="hideHotel">
		          <td><a href="">1</a></td>
		          <td><a href="">테헤란호텔</a></td>
		          <td><a href="">21.04.17</a></td>
		          <td><input type="button" value="취소" onclick="mypageRsrv.delClick()"/></td>
		        </tr>
		        <tr id="hideHotelLine">
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td><a href="">2</a></td>
		          <td><a href="">강남호텔</a></td>
		          <td><a href="">21.04.30</a></td>
		          <td><input type="button" value="취소" /></td>
		        </tr>
		        <tr>
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td><a href="">3</a></td>
		          <td><a href="">삼성호텔</a></td>
		          <td><a href="">21.04.22</a></td>
		          <td><input type="button" value="취소" /></td>
		        </tr>
		        <tr>
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td><a href="">5</a></td>
		          <td><a href="">신라호텔</a></td>
		          <td><a href="">21.04.20</a></td>
		          <td><input type="button" value="취소" /></td>
		        </tr>
		        <tr>
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td><a href="">6</a></td>
		          <td><a href="">LG호텔</a></td>
		          <td><a href="">21.05.01</a></td>
		          <td><input type="button" value="취소" /></td>
		        </tr>
		        <tr>
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td><a href="">7</a></td>
		          <td><a href="">경기호텔</a></td>
		          <td><a href="">21.07.04</a></td>
		          <td><input type="button" value="취소" /></td>
		        </tr>
		        <tr>
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td><a href="">8</a></td>
		          <td><a href="">종환호텔</a></td>
		          <td><a href="">21.03.01</a></td>
		          <td><input type="button" value="후기 등록" /></td>
		        </tr>
		        <tr>
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
        
		      </table>
		    </div>
		
		
		
		    <div id="paging">
		        <span class="block">《</span>
		        <span class="block">〈</span>
		        <span class="pageNo" id="nowPage">1</span>
		        <span class="pageNo">2</span>
		        <span class="pageNo">3</span>
		        <span class="pageNo">4</span>
		        <span class="pageNo">5</span>
		        <span class="pageNo">6</span>
		        <span class="pageNo">7</span>
		        <span class="pageNo">8</span>  
		        <span class="block">〉</span>
		        <span class="block">》</span>
		      </div>
		      
	</section>

</div>

</body>
</html>