<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>160. user_마이페이지_내정보수정</title>
<link rel="stylesheet" href="css/user_Mypage_M_Info.css" />
</head>
<body>

	<div id="wrap">
		<section>
		


			<form action="" id="userPageMInfoFrm">
				<h1>내 정보 수정</h1>
							 
				 <label>구분</label>
				 <label for="userJoin">
				 	<input type="text" name="userJoin" id="userJoin" value="개인" readonly />
			 	</label>
	
				
				<br />
				 <label for="userId">아이디</label>
				 <input type="text" name="userId" id="userId" value="abc" readonly/>
				 
				 
				 <br />
				 <label for="userPw">비밀번호</label>
				 <input type="password" name="userPw" id="userPw" />
				 <br />
				 <label for="userPwChk">비밀번호 확인</label>
				 <input type="password" name="userPwChk" id="userPwChk" />
				 
				 <br />
				 <label for="userName">이름</label>
				 <input type="text" name="userName" id="userName" value="김철수" readonly/>
				 
				 <br />
				 <label for="userTel1">전화번호</label>
				 <input type="text" name="userTel1" id="tel" value="010"/>
				 -
				 <input type="text" name="userTel2" id="tel" />
				 -
				 <input type="text" name="userTel3" id="tel" />
				 
				 <br />
				 <label for="userEmail">이메일</label>
				 <input type="text" name="userEmail" id="userEmail" />
				 @
				 <select name="sltEmail" id="slt_Email">
				 	<option value="sltEmail1">naver.com</option>
				 </select>
				
				<br />
				  <label for="userGen">성별</label>
				  <label for="genF"><input type="text" name="userGen" id="genF" value="여자" readonly/></label>
				  
				  
				  <div id="submitBtn_">
					  <input type="submit" value="수정" id="updateBtn"/>
					  <input type="reset" value="취소" id="cancleBtn"/>
				  </div>
			</form>
		</section>
		
	
	</div>






</body>
</html>