<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>140.user_마이페이지_후기 관리</title>
</head>
<body>

<div id="wrap">
	
	<section>
	
	    <div id="RevuBbs">
	    	  <h1>후기 관리</h1>
	    	  <hr>
	    	  
		      <table>
		        <tr>
		          <th>번호</th>
		          <th>후기</th>
		          <th>작성 날짜</th>
		          <th>후기 삭제</th>
		        </tr>
		        <tr>
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td><a href="">1</a></td>
		          <td><a href="">좋았어요~</a></td>
		          <td><a href="">21.03.15</a></td>
		          <td><input type="button" value="삭제" /></td>
		        </tr>
		        <tr>
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td><a href="">2</a></td>
		          <td><a href="">쫌 별로...</a></td>
		          <td><a href="">21.03.15</a></td>
		          <td><input type="button" value="삭제" /></td>
		        </tr>
		        <tr>
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td><a href="">3</a></td>
		          <td><a href="">다음에도 이용하려고요~</a></td>
		          <td><a href="">21.03.15</a></td>
		          <td><input type="button" value="삭제" /></td>
		        </tr>
		        <tr>
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td><a href="">5</a></td>
		          <td><a href="">침대도 지저분하고 직원분도 불친절했고...</a></td>
		          <td><a href="">21.03.15</a></td>
		          <td><input type="button" value="삭제" /></td>
		        </tr>
		        <tr>
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td><a href="">6</a></td>
		          <td><a href="">가격도 저렴하고 근처에 이만한 곳도 없네요</a></td>
		          <td><a href="">21.03.15</a></td>
		          <td><input type="button" value="삭제" /></td>
		        </tr>
		        <tr>
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
		        <tr>
		          <td><a href="">7</a></td>
		          <td><a href="">무난하고 괜찮아요 관광지랑은 조금 멀어요</a></td>
		          <td><a href="">21.03.15</a></td>
		          <td><input type="button" value="삭제" /></td>
		        </tr>
		        <tr>
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
		        
    		    <tr>
		          <td><a href="">8</a></td>
		          <td><a href="">사장님도 친절하고 최고최고</a></td>
		          <td><a href="">21.03.15</a></td>
		          <td><input type="button" value="삭제" /></td>
		        </tr>
		        <tr>
		          <td colspan="4">
		            <hr>
		          </td>
		        </tr>
		        
		      </table>
		    </div>
		
		
		
		    <div id="paging">
		        <span class="block">《</span>
		        <span class="block">〈</span>
		        <span class="pageNo" id="nowPage">1</span>
		        <span class="pageNo">2</span>
		        <span class="pageNo">3</span>
		        <span class="pageNo">4</span>
		        <span class="pageNo">5</span>
		        <span class="pageNo">6</span>
		        <span class="pageNo">7</span>
		        <span class="pageNo">8</span>  
		        <span class="block">〉</span>
		        <span class="block">》</span>
		      </div>
		
		
	
	</section>


</div>








</body>
</html>