<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>191. user_커뮤니티_QnA_글쓰기</title>
<link rel="stylesheet" href="css/user_ComuQnAwrite.css" />
<script src="/js/Guriddo_jqGrid_JS_5.5.4-Trial/js/jquery-1.11.0.min.js"></script>
<script src="/js/main.js?ver=1.0"></script>
<script>
$(function() {
  main.ajaxCodeQnaToSelectBox("cateId");
	
/*
  var qna = {
  }; 
*/
});
</script>

</head>
<body>

<div id="wrap">
	

		<section>
		
			<div id="QnAwrite">
			  <h1>Q&A 글쓰기</h1>
			  <hr />
		      <form id="QnASrchFrm">
		      	
				<label for="">카테고리</label>
		        <select name="cateId" id="cateId">
		          	<option value="">카테고리</option>
		        </select>
<!-- 		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		         -->
		        
		        <label for="is_pubChk">
		      		<input type="checkbox" name="is_pubChk" id="is_pubChk" />비밀글
      			</label> 
		       <br /> 
		       
		        <label for="UserQnAtitle">제목</label>
		        <input type="text" name="title" id="title" autofocus="autofocus"/>
				
				<br />
				
				<label for="UserQnAq">내용</label>
		        <textarea name="content" id="content" cols="50" rows="15" autofocus="autofocus"></textarea>
		        
				<br />
					<div id="submitBtn_">
				        <input type="button" value="등록" id="submitBtn">
				        <input type="button" value="취소" id="cancleBtn">
			        </div>
		      </form>
		    </div>
		
	

		      
		</section>
		
	</div>










</body>
</html>