<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>131. user_숙박시설목록</title>
<link rel="stylesheet" href="css/user_RoomList.css" />
</head>
<body>

<div id="wrap">

			<section id="userRoomDtl_left">
			
					<input type="text" name="MainSrch" id="MainSrch" placeholder="검색창" /><br />
			
					<div class="chkTime">
							
							<label for="userChkIn">
								<input type="month" name="userChkIn" id="userChkIn" />
								체크인
							</label>
							<label for="userChkOut">
								<input type="month" name="userChkOut" id="userChkOut" />
								체크아웃
							</label><br />
					</div>
					
					
					<div class="numG">
						<label for="numGuests">인원수
							<select name="numGuests" id="numGuests">
							    <option value="1">1</option>
							    <option value="2">2</option>
							    <option value="3">3</option>
							    <option value="4">4</option>
					   		    <option value="5">5</option>
							    <option value="6">6</option>
							    <option value="7">7</option>
							    <option value="8">8</option>
					   		    <option value="9">9</option>
							    <option value="10">10</option>
							    <option value="11">11</option>
							</select>
						</label>
					</div>
					<br />
					<div id="SrchBtn">					
						<input type="submit" value="검색" id="MainSrchBtn"/>
					</div>
					<hr />
					
					<span class="userSubTitle"><label for="price">가격</label><br /></span><br />
					<input type="text" name="price" id="priceMin" placeholder="최저가"/>
					<span class="userSubTitle">~</span>
					<input type="text" name="price" id="priceMax" placeholder="최고가"/>
					<br /><br />
					<span class="userSubTitle"><label for="">숙박 유형</label></span><br />
					<span id="userSubTitle"><label for="room_name1"><input type="checkbox" name="room_name" id="room_name1" />전체</label></span>
					<span id="userSubTitle"><label for="room_name2"><input type="checkbox" name="room_name" id="room_name2" />호텔</label></span>
					<span id="userSubTitle"><label for="room_name3"><input type="checkbox" name="room_name" id="room_name3" />모텔</label></span>
					<span id="userSubTitle"><label for="room_name4"><input type="checkbox" name="room_name" id="room_name4" />펜션/풀빌라</label></span>
					<span id="userSubTitle"><label for="room_name5"><input type="checkbox" name="room_name" id="room_name5" />글램핑/캠핑</label></span><br />
					<span id="userSubTitle"><label for="room_name6"><input type="checkbox" name="room_name" id="room_name6" />게하/한옥</label></span>
					<span id="userSubTitle"><label for="room_name7"><input type="checkbox" name="room_name" id="room_name7" />리조트/콘도</label></span>
					
				
		</section>
	
	<!-- section 시작 -->
	<section id="userRoomDtl_right">
		<div class="areaBtn">
			<input type="button" value="서울" />
			<input type="button" value="경기도" />
			<input type="button" value="경상도" />
			<input type="button" value="전라도" />
			<input type="button" value="충청도" />
			<input type="button" value="강원도" />
			<input type="button" value="제주도" />
			<input type="button" value="국외" />
		</div>
		
		<!--banner  -->
		<div id="slide">
			<div id="slideShow">
				<img src="images/440X280_USE.jpg" width="440" height="280" alt="배너배너배너배너배너배너배너" />
<!--				<img src="images/440X280_USE2.jpg.png" alt="" />
					<img src="images/jet-kim-utxoRRvZOkI-unsplash.jpg.jpg" alt="" /> -->
			</div>
		</div>
		
			<!--bannerBtn Start  -->
		<div id="moveBtn">
	         <a class="prev" onclick="moveSlides(-1)">&#10094;</a>
     		 <a class="next" onclick="moveSlides(1)">&#10095;</a>
		</div>
		
		
		<div class="main">
			<input type="radio" class="btnCon" id="PopulOdrBtn" checked/><!--///  -->
			<label for="PopulOdrBtn">인기순</label>
			
			<input type="radio" class="btnCon" id="RevuOdrBtn" />
			<label for="RevuOdrBtn">후기순</label>			
			
			<input type="radio" class="btnCon" id="PriceOdrBtn" />
			<label for="PriceOdrBtn">가격순</label>
			
			
			
			
			
			
			<section id="popularOdr" class="tabCon"><!--인기순 -->
			
					
						
						<ul>
							<li><span class="imgTag"><img src="images/200x150knht.jpg"width="150" height="100" alt="이미지1" /></span></li>
							<li><input type="text" name="title" id="title" value="강남역 xxx 호텔" readonly/></li>
							<li><input type="text" name="price" id="price" value="300,000원" readonly/></li>
							<li><input type="text" name="addr" id="addr" value="강남역 N번 출구에서 50M 직진" readonly/></li>
							<li><input type="text" name="room_name" id="room_name" value="호텔" readonly/></li>
							<li>
								<input type="text" name="star" id="star" value="★ 4.5" readonly/>
							</li>
						</ul>
						<hr />
						<ul>
							<li><span class="imgTag"><img src="images/200x150knht.jpg"width="150" height="100" alt="이미지1" /></span></li>
							<li><input type="text" name="title" id="title" value="강남역 xxx 호텔" readonly/></li>
							<li><input type="text" name="price" id="price" value="300,000원" readonly/></li>
							<li><input type="text" name="addr" id="addr" value="강남역 N번 출구에서 50M 직진" readonly/></li>
							<li><input type="text" name="room_name" id="room_name" value="호텔" readonly/></li>
							<li>
								<input type="text" name="star" id="star" value="★ 4.5" readonly/>
							</li>
						</ul>
						<hr />
						<ul>
							<li><span class="imgTag"><img src="images/200x150knht.jpg"width="150" height="100" alt="이미지1" /></span></li>
							<li><input type="text" name="title" id="title" value="강남역 xxx 호텔" readonly/></li>
							<li><input type="text" name="price" id="price" value="300,000원" readonly/></li>
							<li><input type="text" name="addr" id="addr" value="강남역 N번 출구에서 50M 직진" readonly/></li>
							<li><input type="text" name="room_name" id="room_name" value="호텔" readonly/></li>
							<li>
								<input type="text" name="star" id="star" value="★ 4.5" readonly/>
							</li>
						</ul>
						<hr />
						<ul>
							<li><span class="imgTag"><img src="images/200x150knht.jpg"width="150" height="100" alt="이미지1" /></span></li>
							<li><input type="text" name="title" id="title" value="강남역 xxx 호텔" readonly/></li>
							<li><input type="text" name="price" id="price" value="300,000원" readonly/></li>
							<li><input type="text" name="addr" id="addr" value="강남역 N번 출구에서 50M 직진" readonly/></li>
							<li><input type="text" name="room_name" id="room_name" value="호텔" readonly/></li>
							<li>
								<input type="text" name="star" id="star" value="★ 4.5" readonly/>
							</li>
						</ul>
						<hr />
						<ul>
							<li><span class="imgTag"><img src="images/200x150knht.jpg"width="150" height="100" alt="이미지1" /></span></li>
							<li><input type="text" name="title" id="title" value="강남역 xxx 호텔" readonly/></li>
							<li><input type="text" name="price" id="price" value="300,000원" readonly/></li>
							<li><input type="text" name="addr" id="addr" value="강남역 N번 출구에서 50M 직진" readonly/></li>
							<li><input type="text" name="room_name" id="room_name" value="호텔" readonly/></li>
							<li>
								<input type="text" name="star" id="star" value="★ 4.5" readonly/>
							</li>
						</ul>
					
			</section>
			
			
			<section id="revuOdr" class="tabCon">
				
						<ul>
							<li><span class="imgTag"><img src="images/200x150knht.jpg"width="150" height="100" alt="이미지1" /></span></li>
							<li><input type="text" name="title" id="title" value="강남역 xxx 호텔" readonly/></li>
							<li><input type="text" name="price" id="price" value="300,000원" readonly/></li>
							<li><input type="text" name="addr" id="addr" value="강남역 N번 출구에서 50M 직진" readonly/></li>
							<li><input type="text" name="room_name" id="room_name" value="호텔" readonly/></li>
							<li>
								<input type="text" name="star" id="star" value="★ 4.5" readonly/>
							</li>
						</ul>
						<hr />
						<ul>
							<li><span class="imgTag"><img src="images/200x150knht.jpg"width="150" height="100" alt="이미지1" /></span></li>
							<li><input type="text" name="title" id="title" value="강남역 xxx 호텔" readonly/></li>
							<li><input type="text" name="price" id="price" value="300,000원" readonly/></li>
							<li><input type="text" name="addr" id="addr" value="강남역 N번 출구에서 50M 직진" readonly/></li>
							<li><input type="text" name="room_name" id="room_name" value="호텔" readonly/></li>
							<li>
								<input type="text" name="star" id="star" value="★ 4.5" readonly/>
							</li>
						</ul>
						<hr />
						<ul>
							<li><span class="imgTag"><img src="images/200x150knht.jpg"width="150" height="100" alt="이미지1" /></span></li>
							<li><input type="text" name="title" id="title" value="강남역 xxx 호텔" readonly/></li>
							<li><input type="text" name="price" id="price" value="300,000원" readonly/></li>
							<li><input type="text" name="addr" id="addr" value="강남역 N번 출구에서 50M 직진" readonly/></li>
							<li><input type="text" name="room_name" id="room_name" value="호텔" readonly/></li>
							<li>
								<input type="text" name="star" id="star" value="★ 4.5" readonly/>
							</li>
						</ul>
						<hr />
						<ul>
							<li><span class="imgTag"><img src="images/200x150knht.jpg"width="150" height="100" alt="이미지1" /></span></li>
							<li><input type="text" name="title" id="title" value="강남역 xxx 호텔" readonly/></li>
							<li><input type="text" name="price" id="price" value="300,000원" readonly/></li>
							<li><input type="text" name="addr" id="addr" value="강남역 N번 출구에서 50M 직진" readonly/></li>
							<li><input type="text" name="room_name" id="room_name" value="호텔" readonly/></li>
							<li>
								<input type="text" name="star" id="star" value="★ 4.5" readonly/>
							</li>
						</ul>
						<hr />
						<ul>
							<li><span class="imgTag"><img src="images/200x150knht.jpg"width="150" height="100" alt="이미지1" /></span></li>
							<li><input type="text" name="title" id="title" value="강남역 xxx 호텔" readonly/></li>
							<li><input type="text" name="price" id="price" value="300,000원" readonly/></li>
							<li><input type="text" name="addr" id="addr" value="강남역 N번 출구에서 50M 직진" readonly/></li>
							<li><input type="text" name="room_name" id="room_name" value="호텔" readonly/></li>
							<li>
								<input type="text" name="star" id="star" value="★ 4.5" readonly/>
							</li>
						</ul>
				
			</section>
			
			<section id="priceOdr" class="tabCon">		
		 	
			
						<ul>
							<li><span class="imgTag"><img src="images/200x150knht.jpg"width="150" height="100" alt="이미지1" /></span></li>
							<li><input type="text" name="title" id="title" value="강남역 xxx 호텔" readonly/></li>
							<li><input type="text" name="price" id="price" value="300,000원" readonly/></li>
							<li><input type="text" name="addr" id="addr" value="강남역 N번 출구에서 50M 직진" readonly/></li>
							<li><input type="text" name="room_name" id="room_name" value="호텔" readonly/></li>
							<li>
								<input type="text" name="star" id="star" value="★ 4.5" readonly/>
							</li>
						</ul>
						<hr />
						<ul>
							<li><span class="imgTag"><img src="images/200x150knht.jpg"width="150" height="100" alt="이미지1" /></span></li>
							<li><input type="text" name="title" id="title" value="강남역 xxx 호텔" readonly/></li>
							<li><input type="text" name="price" id="price" value="300,000원" readonly/></li>
							<li><input type="text" name="addr" id="addr" value="강남역 N번 출구에서 50M 직진" readonly/></li>
							<li><input type="text" name="room_name" id="room_name" value="호텔" readonly/></li>
							<li>
								<input type="text" name="star" id="star" value="★ 4.5" readonly/>
							</li>
						</ul>
						<hr />
						<ul>
							<li><span class="imgTag"><img src="images/200x150knht.jpg"width="150" height="100" alt="이미지1" /></span></li>
							<li><input type="text" name="title" id="title" value="강남역 xxx 호텔" readonly/></li>
							<li><input type="text" name="price" id="price" value="300,000원" readonly/></li>
							<li><input type="text" name="addr" id="addr" value="강남역 N번 출구에서 50M 직진" readonly/></li>
							<li><input type="text" name="room_name" id="room_name" value="호텔" readonly/></li>
							<li>
								<input type="text" name="star" id="star" value="★ 4.5" readonly/>
							</li>
						</ul>
						<hr />
						<ul>
							<li><span class="imgTag"><img src="images/200x150knht.jpg"width="150" height="100" alt="이미지1" /></span></li>
							<li><input type="text" name="title" id="title" value="강남역 xxx 호텔" readonly/></li>
							<li><input type="text" name="price" id="price" value="300,000원" readonly/></li>
							<li><input type="text" name="addr" id="addr" value="강남역 N번 출구에서 50M 직진" readonly/></li>
							<li><input type="text" name="room_name" id="room_name" value="호텔" readonly/></li>
							<li>
								<input type="text" name="star" id="star" value="★ 4.5" readonly/>
							</li>
						</ul>
						<hr />
						<ul>
							<li><span class="imgTag"><img src="images/200x150knht.jpg"width="150" height="100" alt="이미지1" /></span></li>
							<li><input type="text" name="title" id="title" value="강남역 xxx 호텔" readonly/></li>
							<li><input type="text" name="price" id="price" value="300,000원" readonly/></li>
							<li><input type="text" name="addr" id="addr" value="강남역 N번 출구에서 50M 직진" readonly/></li>
							<li><input type="text" name="room_name" id="room_name" value="호텔" readonly/></li>
							<li>
								<input type="text" name="star" id="star" value="★ 4.5" readonly/>
							</li>
						</ul>
				 
			</section>
			
		</div>
		
		

				
				
				


			


		<br />
		 <div id="paging">
	        <span class="block">《</span>
	        <span class="block">〈</span>
	        <span class="pageNo" id="nowPage">1</span>
	        <span class="pageNo">2</span>
	        <span class="pageNo">3</span>
	        <span class="pageNo">4</span>
	        <span class="pageNo">5</span>
	        <span class="pageNo">6</span>
	        <span class="pageNo">7</span>
	        <span class="pageNo">8</span>  
	        <span class="block">〉</span>
	        <span class="block">》</span>
	      </div>
	
	
	</section>
	<!-- section 끝-->
</div><!--wrap 끝  -->









<script src="http://code.jquery.com/jquery-latest.min.js"></script>


</body>
</html>