<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


<div id="wrap">

	<section>
		<h1>결제하기</h1>
		<hr />
		<label for="">내역</label><br />
		<input type="text" value="강남 xxx 호텔" readonly name="" id="" /><br />
		<input type="text" value="스탠다드 트윈" readonly name="" id="" /><br />
		
		<label for="">체크인</label>
		<input type="datetime-local" name="" id="" />
		
		<label for="">체크아웃</label>
		<input type="datetime-local" name="" id="" />
		
		<label for="">인원수</label>
		<input type="text" name="" id="" value="2명" />
		
		<hr >
		
		<label for="">결제 예정 금액</label>
		<input type="text" name="" id="" value="100,000" />
		-
		<label for="">총 할인 금액</label>
		<input type="text" name="" id="" value="100,000" />
		
		= 총
		<input type="text" name="" id="" value="100,000" />원
		<hr />
		
		<label for="">규정 및 약관 동의</label>
		<br />
		
		<input type="checkbox" name="" id=""/>
		만 14세 이상 이용 동의
		<input type="button" value="보기" /><br />
		
		
		<input type="checkbox" name="" id=""/>
		이용 규칙 동의
		<input type="button" value="보기" /><br />
		
		
		<input type="checkbox" name="" id=""/>
		개인 정보 수집 및 이용 동의
		<input type="button" value="보기" /><br />
		
		<hr />
		<input type="submit" value="결제" />
		<input type="reset" value="취소" />
	
	</section>


</div>







</body>
</html>