<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>user Q&A view</title>
<link rel="stylesheet" href="css/user_qna.css?after" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/main.js?ver=1.0"></script>
<script th:inline="javascript">

var id = [[ ${session.id} ]];
	
</script>
<script>
	$(function(){
		console.log("id = "+ id);
		 var param = {
               id : id
          }
            main.ajaxPostJson("/qna/oneSelect",param,function(json){
               console.log(json);
               $.each(json,function(index,item){
                  console.log(item["id"]+item["title"]+item["content"]);
                  $("#no").val(item["no"]);
                  $("#title").val(item["title"]);
                  $("#nickName").val(item["nickname"]);
                  $("#q").val(item["q"]);
                  $("#a").val(item["a"]);
                  $("#C_DATE").val(item["c_date"]);
                  $("#cate_id").val(item["cate_id"]);
               })
            });
	});
</script>
<script>
	function onQnaUpdateQClick(){
		console.log("id : "+id);
		main.ajaxGetHtml("/qna/qUpdate?id="+id,"contents");
	}
		
	function onQnaDeleteClick(){
		var param = {id:id}
		var msg= confirm("삭제하시겠습니까??");
		
		if (msg){
			main.ajaxPostJson("/qna/delete",param,function(result){
				if(result != null && result != ""){
					window.alert("삭제되었습니다.");
					index.onQnaClick();
				}else
					window.alert("삭제에 실패하였습니다. 잠시후 다시 시도해주세요");
					
			});
		};
	};
</script>
</head>
<body>
<div id="wrap">

	<section>
	
      <h1>Q&A</h1>
      <hr />
      
	 	
	  <form name="QnAFrm" id="QnAFrm" action="">

	      <input type="text" name="cate_id" id="cate_id" value="" readonly="readonly"/>
		  <span id="line">| </span>
		  <input type="text" name="title" id="title" value=" "readonly="readonly"/>
	  	 <hr />
	  	 <div id="nickDate">
		   	 <input type="text" name="nickName" id="nickName" value="" readonly="readonly"/>
		      <input type="text" name="C_DATE" id="C_DATE" value="" readonly="readonly"/>
	  	 </div>
	  	 <hr/>
	    <textarea name="q" id="q"  rows="20" cols="10" readonly="readonly">

	    </textarea> <br />
	    
	    답변
	    		<textarea name="a" id="a"  rows="20" cols="10" readonly="readonly">

	    </textarea> <br />
		
			<span id="line2"></span>
		    <input type="button" name="returnBtn" id="returnBtn"onclick="index.onQnaClick();" value="목록">
		    <input type="button" name="deleteBtn" id="deleteBtn" onclick="onQnaDeleteClick();"value="삭제">
		    <input type="button" name="updateBtn" id="updateBtn"onclick="onQnaUpdateQClick();" value="수정">
	
	 </form>
	</section>
</div>

</body>
</html>