<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>user_회원가입</title>
</head>
<body>

<div id="wrap">


	<article>
		<h1>회원가입</h1>
		
		<textarea name="" id="" cols="30" rows="10">가입약관...</textarea>
		<br />
		<label for="JoinAgree">
			<input type="checkbox" name="JoinAgree" id="JoinAgree" />동의함
		 </label>
		 
		 <br />
		 <label>구분</label>
		 <label for="userJoin">
		 	<input type="radio" name="userJoin" id="userJoin" />개인
	 	</label>
	 	<label for="ManageJoin">
	 		<input type="radio" name="ManageJoin" id="ManageJoin" />사장님
		</label>
		
		<br />
		 <label for="userId">아이디</label>
		 <input type="text" name="userId" id="userId" />
		 <input type="submit" value="중복 확인" />
		 
		 <br />
		 <label for="userPw">비밀번호</label>
		 <input type="password" name="userPw" id="userPw" />
		 <br />
		 <label for="userPwChk">비밀번호 확인</label>
		 <input type="password" name="userPwChk" id="userPwChk" />
		 
		 <br />
		 <label for="userName">이름</label>
		 <input type="text" name="userName" id="userName" />
		 
		 <br />
		 <label for="userTel1">전화번호</label>
		 <input type="text" name="userTel1" id="" value="010"/>
		 -
		 <input type="text" name="userTel2" id="" />
		 -
		 <input type="text" name="userTel3" id="" />
		 
		 <br />
		 <label for="userEmail">이메일</label>
		 <input type="text" name="userEmail" id="userEmail" />
		
		<br />
		  <label for="userGen">성별</label>
		  <label for="genF"><input type="radio" name="userGen" id="genF" />여자</label>
		  <label for="genM"><input type="radio" name="userGen" id="genM" />남자</label>
		  
		  <br /><br />
		  <input type="submit" value="회원가입" />
		  <input type="reset" value="취소" />
	
		</article>
	</div>
	
	
		





</body>
</html>