<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>user_회원가입</title>
<script src="/js/Guriddo_jqGrid_JS_5.5.4-Trial/js/jquery-1.11.0.min.js"></script>    
<script src="/js/main.js?ver=1.0"></script>

<script>
	var userJoin = {
	onJoinClicked: function() {
		console.log("onJoinClickded()");
		var id=$("#id").val();
		var pwd=$("#pwd").val();
		var name=$("#name").val();
		var nickname=$("#nickname").val();
		var tel=$("#tel").val();
		var email=$("#email").val();
		var gen=$('input[name="gen"]:checked').val();
		var role=$('input[name="role"]:checked').val();
		//var loc = "/User/join?id=" + id + "&pwd=" + pwd + "&name=" + name + "&nickname=" + nickname + "&tel=" + tel + "&email=" + email + "&gen=" + gen + "&role=" + role;
		var loc = "/User/join?id=";
		console.log(loc);
		var param={
			id: id,
			pwd: pwd,
			name: name,
			nickname: nickname,
			tel: tel,
			email: email,
			gen: gen,
			role: role
		};
		//id=, pwd=, name=성승현, nickname=ㄴ닉, tel=12341234, email=sshyun90@naver.com, gen=undefined, role=null, point=null, cUser=null
		//main.ajaxGetJson(loc, userJoin.joinCallback);
		main.ajaxPostJson(loc, param, userJoin.joinCallback);
	},
	joinCallback: function(jsonStr){
		console.log(jsonStr);
	},
	
	log: function(msg) {
      console.log(">>> " + msg);
    }
	
}

	
</script>
</head>
<body>

<div id="wrap">

	<article>
	<form>
		<h1>회원가입</h1>
		
		<textarea name="" id="" cols="30" rows="10">가입약관...</textarea>
		<br />
		<label for="JoinAgree">
			<input type="checkbox" name="JoinAgree" id="JoinAgree" />동의함
		 </label>
		 
		 <br />
		 <label>구분</label>
		 	<label for="role"><input type="radio" name="role" value="U" />개인</label>
	 		<label for="role"><input type="radio" name="role" value="M" />사장</label>
		
		<br />
		 <label for="id">아이디</label>
		 <input type="text" class="id" name="id" id="id" value="ssh"/>
		 <input type="submit" value="중복 확인" />
		 
		 <br />
		 <label for="pwd">비밀번호</label>
		 <input type="password" class="pwd" name="pwd" id="pwd" value="1234" />
		 <br />
		 <label for="userPwChk">비밀번호 확인</label>
		 <input type="password" name="userPwChk" id="userPwChk" />
		 
		 <br />
		 <label for="name">이름</label>
		 <input type="text" name="name" id="name" value="성승현"/>
		 
		  <br />
		 <label for="nickname">닉네임</label>
		 <input type="text" name="nickname" id="nickname" value="ㄴ닉" />
		 
		 <br />
		 <label for="tel">전화번호</label>
		 <input type="text" name="userTel1" id="" value="010"/>
		 -
		 <input type="text" name="tel" id="tel" value="12341234"/>

		 
		 <br />
		 <label for="email">이메일</label>
		 <input type="text" name="email" id="email" value="sshyun90@naver.com"/>
		
		<br />
		  <label for="userGen">성별</label>
		  <label for="gen"><input type="radio" name="gen" value="F" />여자</label>
		  <label for="gen"><input type="radio" name="gen" value="M" />남자</label>
		  
		  <br /><br />
		  <input type="button" value="회원가입" onclick="userJoin.onJoinClicked();"/>
		  <input type="reset" value="취소" />
	</form>
		</article>
	</div>
	
	
		





</body>
</html>