<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>user_마이페이지_회원탈퇴</title>
</head>
<body>

<div id="wrap">
	<article>
	
		<h1>SEVEN SECONDS 를 탈퇴하시겠습니까? </h1>
	
		<label for="">아이디</label><input type="text" name="userID" id="userID"
		 placeholder="아이디" readonly /><br />
		<label for="">비밀번호 확인</label><input type="password" name="userPW" id="userPW" />
		<br />

		<br />
		<input type="submit" value="확인" />
		<input type="reset" value="취소" />
	</article>



</div>




</body>
</html>