<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>120. user_마이페이지_즐겨찾기</title>
<link rel="stylesheet" href="css/user_MypageBookMark.css" />
<script>
	var mypageBookMark = {
			delClick: function(){
				alert("즐겨찾기 해제되었습니다")
				$("#hideBookMark").hide();
				$("#hideLine").hide();
			}
	}
</script>
</head>
<body>
<!--css수정완료  -->
	<div id="wrap">
		<section>
			    <div id="bookMarkBbs">
			    	<h1>즐겨찾기</h1>
					  <hr />
				      <table>
				        <tr>
				          <th id="noth">번호</th>
				          <th id="titleth">숙소명</th>
				          <th id="releaseth">해제</th>
				        </tr>
				        <tr>
				          <td colspan="3">
				            <hr>
				          </td>
				        </tr>
				        <tr id="hideBookMark">
				          <td id="no"><a href="">1</a></td>
				          <td id="title"><a href="">테헤란호텔</a></td>
				          <td id="release"><input type="submit" value="해제"   onclick="mypageBookMark.delClick()"/></td>
				        </tr>
				        <tr id="hideLine">
				          <td colspan="3">
				            <hr>
				          </td>
				        </tr>
				        <tr>
				          <td id="no"><a href="">2</a></td>
				          <td id="title"><a href="">강남호텔</a></td>
				          <td id="release"><input type="submit" value="해제" /></td>
				        </tr>
				        <tr>
				          <td colspan="3">
				            <hr>
				          </td>
				        </tr>
				        <tr>
				          <td id="no"><a href="">3</a></td>
				          <td id="title"><a href="">삼성호텔</a></td>
				          <td id="release"><input type="submit" value="해제" /></td>
				        </tr>
				        <tr>
				          <td colspan="3">
				            <hr>
				          </td>
				        </tr>
				        <tr>
				          <td id="no"><a href="">5</a></td>
				          <td id="title"><a href="">신라호텔</a></td>
				          <td id="release"><input type="submit" value="해제" /></td>
				        </tr>
				        <tr>
				          <td colspan="3">
				            <hr>
				          </td>
				        </tr>
				        <tr>
				          <td id="no"><a href="">6</a></td>
				          <td id="title"><a href="">LG호텔</a></td>
				          <td id="release"><input type="submit" value="해제" /></td>
				        </tr>
				        <tr>
				          <td colspan="3">
				            <hr>
				          </td>
				        </tr>
				        <tr>
				          <td id="no"><a href="">7</a></td>
				          <td id="title"><a href="">경기호텔</a></td>
				          <td id="release"><input type="submit" value="해제" /></td>
				        </tr>
				        <tr>
				          <td colspan="3">
				            <hr>
				          </td>
				        </tr>
     				    <tr>
				          <td id="no"><a href="">8</a></td>
				          <td id="title"><a href="">종환호텔</a></td>
				          <td id="release"><input type="submit" value="해제" /></td>
				        </tr>
					    <tr>
						<td colspan="3">
				          </td>
				        </tr>

				      </table>
			    </div>
			
			
			
			    <div id="paging">
			        <span class="block">《</span>
			        <span class="block">〈</span>
			        <span class="pageNo" id="nowPage">1</span>
			        <span class="pageNo">2</span>
			        <span class="pageNo">3</span>
			        <span class="pageNo">4</span>
			        <span class="pageNo">5</span>
			        <span class="pageNo">6</span>
			        <span class="pageNo">7</span>
			        <span class="pageNo">8</span>  
			        <span class="block">〉</span>
			        <span class="block">》</span>
		      </div>
		</section>
	</div>




</body>
</html>