<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>user_커뮤니티_공지사항_목록</title>
</head>
<body>

<div id="wrap">

	<article>
	
		<div id="NotiSrch">
		  <h1>공지사항</h1>
	      <form id="NotisrchFrm">
	        <select name="Noticate" id="">
	          <option value="">전체</option>
	        </select>
	        <input type="text">
	        <input type="submit" value="검색">
	      </form>
	    </div>
	

	
	    <div id="FAQbbs">
	      <table>
	        <tr>
	          <th>번호</th>
	          <th>제목</th>
	          <th>일시</th>
	        </tr>
	        <tr>
	          <td colspan="3">
	            <hr>
	          </td>
	        </tr>
	        <tr>
	          <td><a href="">48</a></td>
	          <td><a href="">세븐 세컨즈 포인트 적립 정책 변경 안내</a></td>
	          <td><a href="">21.03.15</a></td>
	        </tr>
	        <tr>
	          <td colspan="3">
	            <hr>
	          </td>
	        </tr>
	        <tr>
	          <td><a href="">47</a></td>
	          <td><a href="">세븐 세컨즈 정기 점검 안내(03/25 AM 2:00 ~ 7:00)</a></td>
	          <td><a href="">21.03.15</a></td>
	        </tr>
	        <tr>
	          <td colspan="3">
	            <hr>
	          </td>
	        </tr>
	        <tr>
	          <td><a href="">46</a></td>
	          <td><a href="">세븐 세컨즈 할인 정책 변경 안내</a></td>
	          <td><a href="">21.03.15</a></td>
	        </tr>
	        <tr>
	          <td colspan="3">
	            <hr>
	          </td>
	        </tr>
	        <tr>
	          <td><a href="">45</a></td>
	          <td><a href="">세븐 세컨즈 개인정보처리방침 개정 안내</a></td>
	          <td><a href="">21.03.15</a></td>
	        </tr>
	        <tr>
	          <td colspan="3">
	            <hr>
	          </td>
	        </tr>
	        <tr>
	          <td><a href="">43</a></td>
	          <td><a href="">세븐 세컨즈 가입 이벤트 안내</a></td>
	          <td><a href="">21.03.15</a></td>
	        </tr>
	        <tr>
	          <td colspan="3">
	            <hr>
	          </td>
	        </tr>
	        <tr>
	          <td><a href="">42</a></td>
	          <td><a href="">세븐 세컨즈 정기 점검 변견 안내(03/17 AM 3:00 ~ 8:00)</a></td>
	          <td><a href="">21.03.15</a></td>
	        </tr>
	        <tr>
	          <td colspan="3">
	            <hr>
	          </td>
	        </tr>
	        
	      </table>
	    </div>
	
	
	
	    <div id="paging">
	        <span class="block">《</span>
	        <span class="block">〈</span>
	        <span class="pageNo" id="nowPage">1</span>
	        <span class="pageNo">2</span>
	        <span class="pageNo">3</span>
	        <span class="pageNo">4</span>
	        <span class="pageNo">5</span>
	        <span class="pageNo">6</span>
	        <span class="pageNo">7</span>
	        <span class="pageNo">8</span>  
	        <span class="block">〉</span>
	        <span class="block">》</span>
	      </div>
	      
	</article>
	
</div>





</body>
</html>